﻿@model BCR.Bio.Domain.NV.CITx

@{
    string backlink;

    if (Model.Type == 0)
    {
        ViewBag.Title = "Certificaciones";
        backlink = "Find";

    }
    else
    {
        ViewBag.Title = "Trámites";
        backlink = "FindProcedures";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlMaps = "http://www.google.com/maps/place/" + Model.Georef;

}
<div class="container">
    <div class="row mb-1">
        <div class="col">
            <div class="pull-left">
                <a href="@Url.Action(backlink)" class="btn btn-primary">
                    Volver
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header bg-info text-white text-center">
            @if (Model.Type == 0)
            {
                <text>Detalle Certificación de Identidad</text>

            }
            else if (Model.Type == 1)
            {
                <text>Detalles del Trámite</text>
            }

        </h4>
        <div class="card-body">
            <div class="pull-left" style="margin-right:10px;">
                @if (Model.ReceiptId > 0)
                {
                    using (Html.BeginForm("DownloadRecibo", "Certification", FormMethod.Post, new { role = "form", id = "downloadReceipt" }))
                    {
                        <a href="#" onclick="document.getElementById('downloadReceipt').submit()" title="Descargar Recibo XML">
                            @*<i class="fa fa-cloud-download" style="font-size:33px;"></i>*@
                            <img src="~/Images/icons/xml.png" height="33" />
                        </a>
                        @Html.Hidden("receiptIdXml", Model.ReceiptId);
                    }
                }

            </div>

            <div class="pull-left" style="margin-right:10px;">
                @if (!string.IsNullOrEmpty(Model.CertifyPdf))
                {
                    using (Html.BeginForm("DownloadPDF", "Certification", FormMethod.Post, new { role = "form", id = "downloadPDF" }))
                    {
                        <a href="#" onclick="document.getElementById('downloadPDF').submit()" title="Descargar PDF">
                            @*<i class="fa fa-file-pdf-o" style="font-size:33px;"></i>*@
                            <img src="~/Images/icons/pdf.png" height="33" />
                        </a>
                        @Html.Hidden("certId", Model.Id);
                    }
                }
            </div>

            <div class="pull-right" style="font-size:35px;">
                <span style="font-size:16px; font-weight:bold;">Estado:</span>
                @{
                    string ret = "";
                }
                @switch (Model.ActionId)
                {
                    case -701:
                        ret = "ERR FAILED 3ero";
                        break;
                    case -702:
                        ret = "ERR NULL 3ro";
                        break;
                    case -704:
                        ret = "ERR IDTYPE NOT SUPPORTED";
                        break;
                    case -705:
                        ret = "ERR COUNTRY NOT SUPPORTED";
                        break;
                    case -706:
                        ret = "ERR ID NOT LEGIBLE";
                        break;
                    case -707:
                        ret = "ERR DOC NOT UPLOADED";
                        break;
                    case -708:
                        ret = "ERR TRACK ID NOTEXIST";
                        break;
                    case -10:
                        ret = "EXPIRED";
                        break;
                    case -11:
                        ret = "NEGATIVE";
                        break;
                    case -12:
                        ret = "FRAUD";
                        break;
                    case 1:
                        ret = "CREATED";
                        break;
                    case 2:
                    case 22:
                    case 23:
                        ret = "OCR RECOGNIZED [" + Model.ActionId + "]";
                        break;
                    case 3:
                    case 33:
                    case 8:
                    case 88:
                        ret = "DONE DOCUMENT_SELFIE [" + Model.ActionId + "]";
                        break;
                    case 4:
                    case 44:
                    case 9:
                    case 99:
                        ret = "DONE CI SELFIE_BD [" + Model.ActionId + "]";
                        break;
                    case 5:
                        ret = "CI VERIFY";
                        break;
                    case 6:
                        ret = "CI GET";
                        break;
                    case 7:
                        ret = "CI GET IDENTITY";
                        break;
                    default:
                        ret = "Estado Descónocido";
                        break;
                }


                @if (Model.ActionId < 0)
                {
                    <i class="fa fa-ban" style="vertical-align:middle;" title="Rechazado: @ret"></i>
                }

                @switch (Model.ActionId)
                {
                    case 1:
                    case 2:
                    case 22:
                    case 23:
                        <i class="fa fa-clock-o" style="vertical-align:middle;" title="Pendiente: @ret"></i>
                        break;
                    case 3:
                    case 33:
                    case 8:
                    case 88:
                    case 4:
                    case 44:
                    case 9:
                    case 99:
                    case 10:
                    case 11:
                    case 101:
                    case 111:
                        if (Model.ResultCode == 2)
                        {
                            <i class="fa fa-times" style="font-size:28px; vertical-align:middle;color: red" title="Listo: @ret"></i>
                        }
                        else if (Model.ResultCode == 1)
                        {
                            <i class="fa fa-check" style="font-size:28px; vertical-align:middle; color: green" title="Listo: @ret"></i>
                        }
                        else
                        {
                            <i class="fa fa-check" style="font-size:28px; vertical-align:middle;color: gray;" title="Listo: @ret"></i>
                        }
                        break;
                    case 5:
                    case 6:
                    case 7:
                        <i class="fa fa-info-circle" style="vertical-align:middle;" title="Info: @ret"></i>
                        break;

                }

                @if (ret.Equals("Estado Desconocido"))
                {
                    <i class="fa fa-question-circle" style="vertical-align:middle;" title="@ret"></i>
                }
            </div>



            <table class="table table-bordered table-responsive-sm table-hover table-striped">
                @if (!string.IsNullOrEmpty(Model.SecurityCode))
                {
                    <tr>
                        <td class="font-bold lead col-xs-2">
                            <i class="fa fa-lock"></i>
                            <b>Código de Seguridad:</b>
                        </td>
                        <td>

                            @Model.SecurityCode

                        </td>
                    </tr>
                }
                <tr>
                    <td class="font-bold col-xs-2">
                        <b>TrackId:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.TrackId))
                        {
                            <i>@Model.TrackId</i>
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Tipo Documento:</b>
                    </td>
                    <td>
                        @Model.TypeId.ToString()

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Nº Documento:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.ValueId))
                        {
                            <b>@Model.ValueId</b>
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Nombre Completo:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Name))
                        {
                            string fullname = Model.Name + " " + Model.PhaterLastname + " " + Model.MotherLastname;
                            @fullname;
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Tipo:</b>
                    </td>
                    <td>

                        @switch (Model.ActionId)
                        {
                            case 1:
                                <img src="~/Images/icons/qr.png" height="40" title="Código QR" />
                                break;
                            case 2:
                            case 22:
                            case 23:
                                <img src="~/Images/icons/ci.png" height="40" title="Cedula Identidad" />
                                break;
                            case 3:
                            case 33:
                                <img src="~/Images/icons/civsselfie.png" height="40" title="CI v/s Selfie" />
                                break;
                            case 4:
                            case 44:
                                <img src="~/Images/icons/selfievsbbdd.png" height="40" title="Selfie v/s BBDD" />
                                break;
                            case 8:
                            case 88:
                                <img src="~/Images/icons/civsselfie-gs.png" height="40" title="CI v/s Selfie" />
                                break;
                            case 9:
                            case 99:
                                <img src="~/Images/icons/selfievsbbdd-gs.png" height="40" title="Selfie v/s BBDD" />
                                break;
                            case 10:
                            case 101:
                                <img src="~/Images/icons/fingervsci.png" height="40" title="CI v/s Finger" />
                                break;
                            case 11:
                            case 111:
                                <img src="~/Images/icons/fingervsbbdd.png" height="40" title="Finger v/s BBDD" />
                                break;
                            case 5:
                                <span title="Verification CI">VCI</span>
                                break;
                            case 6:
                                <span title="Get CI">GCI</span>
                                break;
                            default:
                                <span>@Model.ActionId</span>
                                break;

                        }
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Puntaje / Score:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Score))
                        {
                            @Model.Score
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                @*<tr>
            <td class="font-bold">
                Id Recibo:
            </td>
            <td>
                @if (Model.ReceiptId < 0)
                {
                    @Model.ReceiptId
                }
                else
                {
                    <span><i>Sin datos</i></span>
                }

            </td>
        </tr>*@
                @if (Model.Type == 1)
                {
                    <tr>
                        <td class="font-bold">
                            Padrón delantero:
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.CarRegisterImageFront))
                            {
                                <img src="data:image;base64,@Model.CarRegisterImageFront" width="700" />
                            }
                            else
                            {
                                <span><i>Sin datos</i></span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            Padrón trasero:
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.CarRegisterImageBack))
                            {
                                <img src="data:image;base64,@Model.CarRegisterImageBack" width="700" />
                            }
                            else
                            {
                                <span><i>Sin datos</i></span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            Escritura:
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.WritingImage))
                            {
                                <img src="data:image;base64,@Model.WritingImage" width="700" />
                            }
                            else
                            {
                                <span><i>Sin datos</i></span>
                            }
                        </td>
                    </tr>
                }


                <tr>
                    <td class="font-bold">
                        <b>Fecha Creación:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.DateGen.ToString()))
                        {
                            @Model.DateGen
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                @if (Model.Type == 0)
                {
                    <tr>
                        <td class="font-bold">
                            <b>QR Generado:</b>
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.QRGenerated))
                            {
                                <img src="data:image;base64,@Model.QRGenerated" width="150" />
                            }
                            else
                            {
                                <img src="~/Images/noimage.png" width="75" title="Sin Imagen" />
                            }

                        </td>
                    </tr>
                }

                <tr>
                    <td class="font-bold">
                        <b>Última Modificación:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.LastModify.ToString()))
                        {
                            @Model.LastModify
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Email Destinatario:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.DestinataryMail))
                        {
                            @Model.DestinataryMail
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>


                <tr>
                    <td class="font-bold">
                        <b>Sexo:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Sex.ToString()))
                        {
                            @(Model.Sex.ToString().Equals("M") ? "Masculino" : "Femenino")
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Nacionalidad:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Nacionality))
                        {
                            @Model.Nacionality
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Fecha Nacimiento:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.BirthDate))
                        {
                            @Model.BirthDate
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>

                <tr>
                    <td class="font-bold">
                        <b>Foto Cédula Frontal:</b>
                    </td>
                    <td class="font-bold">
                        <b>Foto Cédula Dorso:</b>
                    </td>

                </tr>
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.IdCardImageFront))
                        {
                            <img src="data:image;base64,@Model.IdCardImageFront" width="250" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }

                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.IDCardImageBack))
                        {
                            <img src="data:image;base64,@Model.IDCardImageBack" width="250" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Fecha Emisión Documento:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.IssueDate))
                        {
                            @Model.IssueDate
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Fecha Expiración Documento:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.ExprationDate))
                        {
                            @Model.ExprationDate
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Foto Cédula:</b>
                    </td>
                    <td class="font-bold">
                        <b>Selfie:</b>
                    </td>

                </tr>
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.IdcardPhotoImage))
                        {
                            <img src="data:image;base64,@Model.IdcardPhotoImage" width="100" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }

                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Selfie))
                        {
                            <img src="data:image;base64,@Model.Selfie" width="250" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }

                    </td>
                </tr>

                <tr>
                    <td class="font-bold">
                        <b>Firma Cédula:</b>
                    </td>
                    <td class="font-bold">
                        <b>Firma Capturada</b>
                    </td>

                </tr>


                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.IdcardsSignatureImage))
                        {
                            <img src="data:image;base64,@Model.IdcardsSignatureImage" width="250" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }

                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.ManualSignatureImage))
                        {
                            <img src="data:image;base64,@Model.ManualSignatureImage" width="250" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }
                    </td>
                </tr>


                @*<tr>  //Evaluar bien porque en la BD está el WSQ => Hay que convertirlo
            <td class="font-bold">
                <b>Huella:</b>
            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.Fingersample))
                {
                    <img src="data:image;base64,@Model.Fingersample" width="150" />
                }
                else
                {
                    <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                }

            </td>
        </tr>*@
                <tr>
                    <td class="font-bold">
                        <b>Coordenadas GeoRef</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Georef))
                        {
                            <a href="@urlMaps" target="_blank">@Model.Georef</a>
                        }
                        else
                        {
                            <span><i>Sin datos</i></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td class="font-bold">
                        <b>Mapa:</b>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Map))
                        {
                            <img src="data:image;base64,@Model.Map" width="150" />
                        }
                        else
                        {
                            <img src="~/Images/noimage.png" width="100" title="Sin Imagen" />
                        }

                    </td>
                </tr>

            </table>
        </div>
        <div class="card-footer">

            <a href="@Url.Action(backlink)" class="btn btn-primary">
                Volver
            </a>
        </div>
    </div>
</div>
