﻿@model BCR.Bio.Domain.NV.CITxModel

@{
    ViewBag.Title = "Trámites";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .form-buttons {
        display: inline-block;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <h5 class="card-header text-white">Búsqueda de Trámites - Filtros</h5>
        <div class="card-body">
            @using (Html.BeginForm("Find", "Certification", FormMethod.Post, new { role = "form", id = "findForm" }))
            {
                @Html.Hidden("isCertification", false)
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-md-3" style="z-index: 5;">
                            @Html.Label("Desde", new { @class = "control-label" })
                            @*<div class='input-group date' id="startDatetimePicker">*@
                            @Html.TextBoxFor(m => m.FilterParams.EventTimeFrom, "{0:dd-MM-yyyy}", new { @class = "form-control", type = "date" })
                            @*<span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>*@
                        </div>
                        <div class="col-sm-12 col-md-3" style="z-index: 6;">
                            @Html.Label("Hasta", new { @class = "control-label" })
                            @*<div class='input-group date' id="endDatetimePicker">*@
                            @Html.TextBoxFor(m => m.FilterParams.EventTimeTo, "{0:dd-MM-yyyy}", new { @class = "form-control", type = "date" })
                            @*<span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>*@
                        </div>
                        <div class="col-sm-12 col-md-2">
                            @Html.Label("Tipo Doc", new { @class = "control-label" })
                            <div class="form-group input-group">
                                @Html.EnumDropDownListFor(m => m.FilterParams.TypeId, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            @Html.Label("Número Doc", new { @class = "control-label" })
                            <div class="form-group input-group">
                                @Html.TextBoxFor(m => m.FilterParams.ValueId, new { placeholder = "12345678-K", @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12 col-md-3">
                            <div class="form-group input-group">
                                @Html.TextBoxFor(m => m.FilterParams.Names, new { placeholder = "Nombre(s)", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group input-group">
                                @Html.TextBoxFor(m => m.FilterParams.LastNames, new { placeholder = "Apellido(s)", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group input-group">
                                <button type="submit" class="btn btn-block btn-primary">
                                    <i class="glyphicon pe-7s-search"></i> Buscar
                                </button>
                            </div>
                        </div>

                    </div>


                    @if (User.IsInRole("Super Admin"))
                    {
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-4" style="float:none; margin: 0 auto;">
                                @Html.Label("Compañía", new { @class = "control-label" })
                                <div class="form-group input-group">
                                    @Html.DropDownListFor(x => x.CompanyId, new SelectList(ViewBag.CompanyList, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            }
        </div>
    </div>

    <div class="card">
        <h5 class="card-header text-white">Trámites</h5>
        <div class="card-body">
            <table cellpadding="1" cellspacing="1" class="display table table-bordered table-responsive-sm table-striped text-center" style="font-size:12px;" id="proceduresTable">
                <thead>
                    <tr>
                        <th class="col-xs-1 text-center">Estado</th>
                        <th class="col-xs-1 text-center">Tipo</th>
                        <th class="col-xs-3 text-center">TrackId</th>
                        <th class="col-xs-2 text-center">Fecha</th>
                        <th class="col-xs-1 text-center">Documento</th>
                        <th class="col-xs-2 text-center">Nombre</th>
                        <th class="col-xs-1 text-center">Score</th>
                        <th class="col-xs-1 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        string ret = "";
                        bool copyUrl = false;
                        <tr>
                            <td style="font-size:large">
                                @switch (item.ActionId)
                                {
                                    case -701:
                                        ret = "ERR FAILED 3ero";
                                        break;
                                    case -702:
                                        ret = "ERR NULL 3ro";
                                        break;
                                    case -704:
                                        ret = "ERR IDTYPE NOT SUPPORTED";
                                        break;
                                    case -705:
                                        ret = "ERR COUNTRY NOT SUPPORTED";
                                        break;
                                    case -706:
                                        ret = "ERR ID NOT LEGIBLE";
                                        break;
                                    case -707:
                                        ret = "ERR DOC NOT UPLOADED";
                                        break;
                                    case -708:
                                        ret = "ERR TRACK ID NOTEXIST";
                                        break;
                                    case -10:
                                        ret = "EXPIRED";
                                        break;
                                    case -11:
                                        ret = "NEGATIVE";
                                        break;
                                    case -12:
                                        ret = "FRAUD";
                                        break;
                                    case 1:
                                        ret = "CREATED";
                                        break;
                                    case 2:
                                    case 22:
                                    case 23:
                                        ret = "OCR RECOGNIZED [" + item.ActionId + "]";
                                        break;
                                    case 3:
                                    case 33:
                                    case 8:
                                    case 88:
                                        ret = "DONE DOCUMENT_SELFIE [" + item.ActionId + "]";
                                        break;
                                    case 4:
                                    case 44:
                                    case 9:
                                    case 99:
                                        ret = "DONE CI SELFIE_BD [" + item.ActionId + "]";
                                        break;
                                    case 5:
                                        ret = "CI VERIFY";
                                        break;
                                    case 6:
                                        ret = "CI GET";
                                        break;
                                    case 7:
                                        ret = "CI GET IDENTITY";
                                        break;
                                    default:
                                        ret = "Estado Descónocido";
                                        break;
                                }


                                @if (item.ActionId < 0)
                                {
                                    <i class="fa fa-ban" style="font-size:28px; vertical-align:middle;" title="Rechazado: @ret"></i>
                                }

                                @switch (item.ActionId)
                                {
                                    case 1:
                                    case 2:
                                    case 22:
                                    case 23:
                                        <i class="fa fa-clock-o" style="font-size:28px; vertical-align:middle;" title="Pendiente: @ret"></i>
                                        copyUrl = true;
                                        break;
                                    case 3:
                                    case 33:
                                    case 8:
                                    case 88:
                                    case 4:
                                    case 44:
                                    case 9:
                                    case 99:
                                        <i class="fa fa-check" style="font-size:28px; vertical-align:middle;" title="Listo: @ret"></i>
                                        break;
                                    case 5:
                                    case 6:
                                    case 7:
                                        <i class="fa fa-info-circle" style="font-size:28px; vertical-align:middle;" title="Info: @ret"></i>
                                        break;

                                }

                                @if (ret.Equals("Estado Descónocido"))
                                {
                                    <i class="fa fa-question-circle" style="font-size:28px; vertical-align:middle;" title="@ret"></i>
                                }

                            </td>
                            <td>
                                @switch (item.ActionId)
                                {
                                    case 1:
                                        <img src="~/Images/icons/qr.png" height="25" title="Código QR" />
                                        break;
                                    case 2:
                                    case 22:
                                    case 23:
                                        <img src="~/Images/icons/ci-gs.png" height="25" title="Cedula Identidad" />
                                        break;
                                    case 3:
                                    case 33:
                                        <img src="~/Images/icons/civsselfie.png" height="25" title="CI v/s Selfie" />
                                        break;
                                    case 4:
                                    case 44:
                                        <img src="~/Images/icons/selfievsbbdd.png" height="25" title="Selfie v/s BBDD" />
                                        break;
                                    case 8:
                                    case 88:
                                        <img src="~/Images/icons/civsselfie.png" height="25" title="CI v/s Selfie" />
                                        break;
                                    case 9:
                                    case 99:
                                        <img src="~/Images/icons/selfievsbbdd.png" height="25" title="Selfie v/s BBDD" />
                                        break;
                                    case 5:
                                        <span title="Verification CI">VCI</span>
                                        break;
                                    case 6:
                                        <span title="Get CI">GCI</span>
                                        break;
                                    default:
                                        <span>@item.ActionId</span>
                                        break;

                                }

                            </td>
                            <td>
                                @item.TrackId
                                <a onclick="CopyTextToClipboard('@item.TrackId', 'TrackId')" title="Copiar TrackId"><i class="fa fa-copy" style="font-size:14px;"></i></a>
                                @if (copyUrl && !string.IsNullOrEmpty(item.Urlbpweb))
                                {
                                    <a onclick="CopyTextToClipboard('@item.Urlbpweb', 'Enlace')" title="Copiar Enlace"><i class="fa fa-external-link" style="font-size:14px;"></i></a>
                                }
                            </td>
                            <td>
                                @item.DateGen
                            </td>
                            <td>
                                @item.TypeId @item.ValueId
                            </td>
                            <td>
                                @item.FullName
                            </td>
                            <td>
                                @item.Score
                            </td>
                            <td style="font-size:15px">

                                @using (Html.BeginForm("Detail", "Certification", FormMethod.Post, new { @class = "form-buttons", role = "form", id = "viewDetail-" + item.Id }))
                                {
                                    @Html.Hidden("certId", item.Id, new { id = "certId-" + item.Id });
                                    <a href="#" onclick="document.getElementById('viewDetail-@item.Id').submit()" title="Ver Detalle">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                }
                                @if (item.HasPdf)
                                {
                                    using (Html.BeginForm("DownloadPDF", "Certification", FormMethod.Post, new { @class = "form-buttons", role = "form", id = "downloadPDF-" + item.Id }))
                                    {
                                        @Html.Hidden("certId", item.Id, new { id = "certIdPdf-" + item.Id });
                                        <a href="#" onclick="document.getElementById('downloadPDF-@item.Id').submit()" title="Descargar PDF">
                                            @*<i class="fa fa-file-pdf-o"></i>*@
                                            <img src="~/Images/icons/pdf.png" height="15" />
                                        </a>

                                    }
                                }

                                @if (item.HasXml)
                                {
                                    using (Html.BeginForm("DownloadRecibo", "Certification", FormMethod.Post, new { @class = "form-buttons", role = "form", id = "downloadReceipt-" + item.Id }))
                                    {
                                        @Html.Hidden("receiptIdXml", item.ReceiptId, new { id = "certIdXML-" + item.Id });
                                        <a href="#" onclick="document.getElementById('downloadReceipt-@item.Id').submit()" title="Descargar XML">
                                            @*<i class="fa fa-cloud-download"></i>*@
                                            <img src="~/Images/icons/xml.png" height="15" />
                                        </a>

                                    }
                                }
                                @switch (item.ActionId)
                                {
                                    case 1:
                                    case 2:
                                    case 22:
                                    case 23:
                                    case 5:
                                    case 6:
                                    case 7:

                                        //if (!string.IsNullOrEmpty(item.TrackIdBp)
                                        <a onclick="TxGetStatus('@item.TrackId')" id="btn-stat-@item.TrackId" title="Get Status">
                                            <i class="fa fa-repeat"></i>
                                        </a>
                                        <span id="progress-status-@item.TrackId" hidden>
                                            <img style="width:10%" src="~/Images/loading.gif" />
                                        </span>
                                        break;
                                }


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div class="card-footer">
                    <ul class="pagination">


                        @{
                            var ultimaPagina = 0;
                            var indicadorPlus = false;
                        }
                        @if (@Model.FilterParams.Paginacion.Total > 300)
                        {
                            ultimaPagina = 30;
                            indicadorPlus = true;
                        }
                        else
                        {
                            ultimaPagina = (@Model.FilterParams.Paginacion.Total / @Model.FilterParams.Paginacion.Cantidad);
                        }

                        @for (var i = 1; i <= ultimaPagina + 1; i++)
                        {
                            var dclass = "btn btn-primary   btn-sm ";
                            if (@Model.FilterParams.Paginacion.Pagina == i - 1)
                            {
                                dclass = dclass + " active";
                            }
                            <li class="paginate_button mr-1" aria-controls="example2" tabindex="0">
                                @Html.ActionLink(@i.ToString(), "Find", "Certification", new { idPaginacion = i - 1, isCertification = false }, new { @class = dclass })
                            </li>
                        }
                        @if (indicadorPlus)
                        {
                            <li class="paginate_button " aria-controls="example2" tabindex="0">
                                <a href=# class="dclass">...</a>
                            </li>
                        }

                    </ul>
                </div>*@
        </div>

    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            ConfigFechaDesdeHasta('FilterParams_EventTimeFrom', 'FilterParams_EventTimeTo', 60);
            $.validator.addMethod('date',
                function (value, element) {
                    return true;
                });
            //$('#proceduresTable').DataTable();
            TranslateDataTable('proceduresTable');
        });
        function TxGetStatus(trackId) {
            var url = '@Url.Action("TxGetStatus", "Certification")';
            var idElement = "#progress-status-" + trackId;
            var idButton = "#btn-stat-" + trackId;

            $(idButton).hide();
            $(idElement).removeAttr('hidden');

            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: { trackId: trackId, isCertification: false },
                success: function (data) {

                    $(idElement).hide();
                    $(idButton).show();

                    if (data.message) {
                        window.alert(data.message, data.status);
                        location.reload();
                    }

                },
                error: function (result) {
                    alert("Error al consultar status");
                }
            });
        }

    </script>
}
