﻿@model WebNV.Models.NV.CertificationModel

@{

    ViewBag.Title = "Nueva Certificación";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Nueva Certificación</h5>
        <div class="card-body">
            <h5 class="card-title">Completa los datos para comenzar el proceso de certificación.</h5>
            @using (Html.BeginForm("New", "Certification", FormMethod.Post, new { role = "form", id = "newForm", name = "newForm" }))
            {

                <div class="form-row align-items-center">
                    <div class="col-sm-12 col-md-2">
                        @Html.EnumDropDownListFor(m => m.TypeId, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-12 col-md-2">
                        @*@Html.Label("Nº Documento", new { @class = "control-label" })*@
                        @Html.TextBoxFor(m => m.ValueId, new { @class = "form-control", placeholder = "12345678-K", style = "text-transform: uppercase" })
                        @Html.ValidationMessageFor(m => m.ValueId)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.Label("Email", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            @Html.Label("Teléfono", new { @class = "control-label", placeholder = "912345678" })
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                @Html.Label("Forzar OnBoarding", new { @class = "control-label" })
                                @Html.CheckBoxFor(m => m.OnBoarding, new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Label("Email Receptor(es) Separados por coma", new { @class = "control-label" })
                            @Html.EditorFor(m => m.ReceiverEmail, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" id="btn-new-cert" class="btn btn-lg btn-primary" style="margin-top:20px;">
                                <i class="glyphicon glyphicon-plus-sign"></i> Iniciar Nueva Certificación
                            </button>                            
                            <span id="loading-img" hidden>
                                <img style="width:5%" src="~/Images/loading.gif" />
                            </span>
                        </div>
                    </div>
                </div>



            }
        </div>
    </div>
</div>
<script>
    var urlBpClient = 'http://localhost:9191';

    function CollectData() {
        // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
        var biometrikaClient = new BiometrikaClient(urlBpClient);
        // Seteamos las propiedades requeridas
        biometrikaClient.TypeId = $("#TipoId").val().trim();
        biometrikaClient.ValueId = $("#ValueId").val().trim();

        biometrikaClient.TokenContent = '0';

    }

    $(function () {

        $('#Phone').val('');
        $('#Phone').prop('placeholder', '912345678');
        $('#Email').prop('placeholder', 'destinatario@correo.com');
        $.validator.addMethod("validRut", function (value, element, params) {
            return ValidateRut(this.value);
        }, "* Rut inválido");

        jQuery.validator.unobtrusive.adapters.add('chileanrut', {}, function (options) {
            options.rules['validRut'] = true;
            options.messages['validRut'] = options.message;
        });

        $("#newForm").validate({
            rules: {
                ValueId: {
                    validRut: true,
                    required: true,
                },

            },
        });

        $('#newForm').submit(function () {
            if ($(this).valid()) {
                ShowLoading();
            }
        });

    });

    function ShowLoading() {
            $("#loading-img").removeAttr('hidden');
            $("#btn-new-cert").prop('disabled', true);
    };

    function ValidateRut(rut) {
        rut = rut.trim();

        var isValid = false;

        // type check
        if (!rut || !rut.length || typeof rut !== 'string') {
            return isValid;
        }

        var regex = new RegExp('^([0-9]+-[0-9kK])$');
        if (!regex.test(rut)) {
            return isValid;
        }

        var rutAux = rut.split("-")[0];
        var dv = rut.split("-")[1].toUpperCase();
        var secuencia = [2, 3, 4, 5, 6, 7, 2, 3];
        var sum = 0;
        for (var i = rutAux.length - 1; i >= 0; i--) {
            var d = rutAux.charAt(i)
            sum += new Number(d) * secuencia[rutAux.length - (i + 1)];
        };
        // sum mod 11
        var rest = 11 - (sum % 11);
        // si es 11, retorna 0, sino si es 10 retorna K,
        // en caso contrario retorna el numero
        var resultado = rest === 11 ? '0' : rest === 10 ? 'K' : rest.toString();

        if (resultado === dv) {
            isValid = true;
        }

        return isValid;
    }
</script>