﻿
@model BCR.Bio.Domain.ResponseCreateTx

@{
    /**/

    ViewBag.Title = "Respuesta Certificación";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Resultados Ingreso Certificación</h5>
        <div class="card-body">
            @if (Model != null && !string.IsNullOrEmpty(Model.Trackid))
            {
                <h3>Solicitud enviada exitosamente</h3>
                <p>Se ha enviado un correo electrónico con la dirección para realizar la certificación, de todas formas si quieres puedes copiar el enlace de abajo y enviarlo a tu contacto</p>
                <div class="lead">
                    <ul>
                        @if (!string.IsNullOrEmpty(Model.Trackid))
                        {
                            <li>
                                Id Transacción : @Model.Trackid
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {
                            <li>
                                Mensaje : @Model.Message
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.CiwebUrl))
                        {
                            <li>
                                Enlace (Click para copiar):    <div style="display:inline-block; vertical-align:top;">
                                    <button class="url-to-copy btn btn-primary">Copiar Enlace <i class="fa fa-copy"></i></button><br />
                                </div>
                            </li>

                            <li>
                                <div style="display:inline-block; vertical-align:top;">
                                    <a class="btn btn-info" href="@Model.CiwebUrl" target="_blank">Empezar Certificación  <i class="fa fa-external-link-square"></i></a><br />
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <h3>Ocurrió un error al ingresar la solicitud</h3>
                <p class="lead">Favor verificar las últimas Certificaciones, en caso contrario ingresar una nuevamente.</p>
            }
        </div>

    </div>
</div>


<script>
    var urlToCopy = "@Model.CiwebUrl";

    var copyBtn = document.querySelector('.url-to-copy');

    copyBtn.addEventListener('click', function (event) {
        copyTextToClipboard(urlToCopy);
    });

    function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");

        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;

        textArea.style.width = '2em';
        textArea.style.height = '2em';

        textArea.style.padding = 0;

        // Clean up any borders.
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';

        // Avoid flash of white box if rendered for any reason.
        textArea.style.background = 'transparent';


        textArea.value = text;

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
            alert('Enlace copiado!');
        } catch (err) {
            console.log('Oops, unable to copy');
        }

        document.body.removeChild(textArea);
    }
</script>
