<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="download_recibo.aspx.cs" Inherits="Bio.Digital.Receipt.Manager.pages.documentos.download_documento" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
<% 

        byte[] myByteArray = null;
        Response.Clear();
        Response.AddHeader("Content-Disposition", "attachment; filename=documento.pdf");
        Response.AddHeader("Content-Length", myByteArray.Length.ToString());
        //if (extension == "pdf")
        //    Response.ContentType = "application/pdf";
        //else if ((extension == "docx") || (extension == "doc"))
        //    Response.ContentType = "application/msword";
        //else if ((extension == "xls") || (extension == "xlsx"))
        //    Response.ContentType = "application/msexcel";
        //else
        //    Response.ContentType = "application/octet-stream";
        //Response.ContentType="application/octet-stream";
        //Reponse.ContentType="application/msword";
        Response.BinaryWrite(myByteArray);
        Response.End();



%>
</body>
</html>
