<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="open_recibo_digital.aspx.cs" Inherits="Bio.Digital.Receipt.Manager.pages.documentos.open_recibo_digital" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body onload="Javascript:window.open('recibo_digital.aspx','recibo_digital','toolbar=no,location=no,status= no,menubar=no,scrollbars=no,resizable=no,width=250 ,height=400')">
<% Response.End(); %>    
</body>
</html>
