﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bio.Electronic.Document.Web.API</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/png" href="~/Image/logo.png" />
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="~/Image/logo_big.png" alt="Biometrika">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                OK...
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>