﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Biometrika Access Rele Handle WebAPI</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/narrow-jumbotron.css" rel="stylesheet">

    <!-- Opcional -->
    <link href="dist/css/sweetalert.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Ejemplo Consumo Biometrika Access Rele Handle WebAPI</h3>
        </div>

        <div class="jumbotron">
            <h1 class="display-6">Consumo Biometrika Access Rele Handle WebAPI</h1>
            <p class="lead">
                En el código fuente de esta página puede encontrar las funciones basicas de operacion de Acceso via USB Rele via WebAPI!.
            </p>
            <p>
                AccessName: <input id="idaccessname" name="accessname" value="Torniquete1" style="width:150px;" />
                Type: <input id="idtype" name="type" value="ES" style="width:50px;" />
            </p>
            <p>
                <a class="btn btn-sm btn-success" href="#/" role="button" onclick="DoAction();">Ejecutar Accion</a>
                <a class="btn btn-sm btn-success" href="#/" role="button" onclick="GetConfig();">Get Config</a>
            </p>
            <hr />
        </div>

        <div id="app" v-if="seen">
            <textarea id='lecturaRAW' class="form-control" style="resize:none; width:100%; height:10em" autofocus="autofocus" readonly></textarea>
        </div>


        <footer class="footer">
            <p>&copy; Biometrika 2021</p>
        </footer>

        <!-- Requerido -->
        <script src="dist/js/jquery-3.3.1.js"></script>

        <!-- Opcional -->
        <script src="dist/js/modernizr-2.6.2.js"></script>
        <script src="dist/js/sweetalert-dev.js"></script>


        <script src="accessClient.js"></script>
        <script type="text/javascript">
            function DoAction() {
                //alert('Inicio');
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaActionClient('http://localhost:9873/api/access/action');

                //alert('Set');
                // Seteamos las propiedades requeridas
                biometrikaClient.origin = 'TestWeb'; //$("#TypeId").val().trim();
                //alert(biometrikaClient.origin + '-' + biometrikaClient.accessname + '-' + biometrikaClient.type);
                biometrikaClient.accessname = $("#idaccessname").val().trim();
                //alert(biometrikaClient.origin + '-' + biometrikaClient.accessname + '-' + biometrikaClient.type);
                biometrikaClient.type = $("#idtype").val().trim();
                

                //alert(biometrikaClient.origin + '-' + biometrikaClient.accessname + '-' + biometrikaClient.type);
                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.ExecuteAction();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Accion Ejecutada OK! [" + biometrikaClient.accessname + "/" + biometrikaClient.type + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }

            function GetConfig() {
                //alert('Inicio');
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaActionClient('http://localhost:9873/api/access/config');
                //var biometrikaClient = new BiometrikaActionClient('http:/sportlife.torniquete1.cl/api/access/config');
                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.GetConfig();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Config => [" + biometrikaClientResponse.Message  + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }

        </script>



</body>

</html>