<%@ Page Language="C#" MasterPageFile="~/RDMasterPageRoot.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Bio.Digital.Receipt.Default" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <br />
    <br />
    <table style="width: 90%" align="center" border="0">
        <tr>
            <td colspan="2" align="center">
                <br /> 
                <img src="Manager/images/logo_bpdr.jpg" alt="Biometrika Digital Receipt..." />
                 <br />
                 </td>
        </tr>
        <tr>
            <td style="width: 50%; height: 200px;" align="center">
                <br /><br />
                <a href="Manager/pages/login/login.aspx">
                <img border="0" src="images/cabview_admin.jpg" alt="Administración..." width="200" height="200" />
                </a>
                <br /><br />
            </td>
            <td style="width: 50%; height: 200px;" align="center">
                <br /><br />
                <a href="CheckRD.aspx">
                <img border="0" src="images/Caja_Fuerte_OnLine.png" alt="Chequeo de Recibo Digital On-Line..." width="200" height="200" />
                </a>
                <br /><br />
             </td>
        </tr>
        <tr>
             <td style="width: 50%;" align="center" style="font-family:Verdana,Tahoma,Arial;">
                Ingreso a la consola de Administración
            </td>
            <td style="width: 50%;" align="center" style="font-family:Verdana,Tahoma,Arial;">
                Ingreso a chequeos de Recibos Digitales en línea
             </td>
        </tr>
    </table>
    
</asp:Content>
