<p>&nbsp;</p><p>&nbsp;</p>
<table border="0" width="60%" align="center">
<tr height="5" bgcolor="#5882ba"><td></td></tr>
<tr><td align="center">
<image src="http://service.enotario.cl/images/logo_mail.png"/></td></tr>
<tr><td><p style="font-family:'Arial'">Estimad@, Notario Virtual le indica que su pago se realizo con exito!</p></td></tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr><td><p style="font-family:'Arial'">Presione el boton para cerrar esta ventana y continuar con el proceso de notarizacion.</p></td></tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr><td><p style="font-family:'Arial'"><button name="button"  style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 12pt; FONT-FAMILY: Arial; COLOR: White;
         BACKGROUND-COLOR: #5882ba" onclick="window.close();">Cerrar Ventana</button></p></td></tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr><td><p style="font-family:'Arial'">Gracias por utilizar los servicios de <a href="http://www.notariovirtual.cl" target="_blank">Notario Virtual<a>.</p></td></tr>
<tr><td><p>&nbsp;</p></td></tr>
<tr height="5" bgcolor="#5882ba"><td></td></tr> 
</table>

