﻿@model string

@{
    ViewBag.Title = "Error";
    Layout = "";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <h1>
            Error
        </h1>
    </div>
    <div class="panel-body">

        <div class="alert alert-danger">@Model</div>
    </div>

    <div class="panel-footer">
        Se ha notificado al servicio de soporte. 
        <hr />
        <a href="@Url.Action("Index", "Home")" >
            <i class="fa fa-coffee"></i> Reingresar
        </a>
    </div>
</div>