﻿@model  WebNV.WebSite.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biometrika - Portal Server Manager</title>
    @*<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Audiowide">*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/static_custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/img/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="~/Content/img/favicon/ms-icon-144x144.png">

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/charts.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Scripts/jquery.peity.js"></script>
    <script src="~/Scripts/metisMenu.js"></script>
    <script src="~/Scripts/sparkline/index.js"></script>
    <script src="~/Scripts/homer.js"></script>

    <style>
        body {
            background-image: url(@Url.Content("~/Images/mapa-13.png"));
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        .color-line2 {
            background: #0087bc;
            height: 16px;
            background-size: 100% 6px;
            background-position: 50% 100%;
            background-repeat: no-repeat;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
            font-weight: normal;
        }
    </style>
</head>
<body class="landing-page">
    <div class="color-line2">           </div>
    <div style="left: 15%; top: 25%; width: 550px; height: 234px; position: fixed;">
        @*<img src="~/Images/CAJA_BCI.jpe" style="  width: 300px; " />*@
        @*<img src="~/Images/logo_bioportal-16.png" />*@
        <img src="~/Images/Logo.png" style="width:70%;" />
        <hr />
        <ul class="lead">
            <li>Certificación en Línea de Transacciones Electrónicas</li>
            <li>Valor Legal</li>
            <li>Contenidos de Recibos Digitales Variables</li>
        </ul>

    </div>
    @*<div style="left: 24%; top: 45%; width: 37px; height: 24px; position: fixed;">
        <img src="~/Images/BanderaChile.jpg" width="37" height="24" />
    </div>*@

    <div style="left: 75%; top: 28%; width: 274px; height: 461px; position: fixed;">
        <img src="~/Images/logo_soluciones-11.png" />
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="hpanel" style="width: 250px;  padding-top: 5px;">
                <div class=" panel-body ">
                    <div class="form-group">
                        <label for="inputEmail3">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        </label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        </label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group last text-center">

                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-power-off"></i>
                            Ingresar
                        </button>
                        @Html.ValidationSummary(false, "Error en el ingreso.")
                    </div>
                </div>
                @*<div class="panel-footer">
                    </div>*@
            </div>
            <div class="col-lg-12 col-centered" style="text-align:center">
                <img src="~/Images/BanderaChile.jpg" style="width:20%;" />
            </div>
        }
    </div>
    <div style="height: 40px; width: 563px; position: fixed; left: 72%; top: 95%; ">
        Av. Tabancura 1515 Of 301 (CP 7650724) Vitacura - Santiago, Chile
    </div>

    <nav class="navbar-default navbar-fixed-bottom" role="navigation">

        <div class="color-line2">

        </div>
    </nav>
</body>
</html>