﻿@model  WebNV.WebSite.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Certificación de Identidad v7.5...</title>
    @*<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Audiowide">*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/static_custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#34b0e5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/charts.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Scripts/jquery.peity.js"></script>
    <script src="~/Scripts/metisMenu.js"></script>

    <style>
        body {
            background-image: url(@Url.Content("~/Images/notario_login-22.jpg"));
            background-repeat:no-repeat;
            background-size:cover;
        }

        .login-box {
            background-image: url(@Url.Content("~/Images/notario_login-23.png"));
            background-repeat:no-repeat;
            background-size:cover;
            width: 442px;
            height: 556px;
        }

        .color-line2 {
            background: #0087bc;
            height: 16px;
            background-size: 100% 6px;
            background-position: 50% 100%;
            background-repeat: no-repeat;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <div class="login-box">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @role = "form", @class = "col-12 h-100 container" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row h-100 justify-content-center align-items-center text-center">
                        <div>
                            <div class="form-group" style="width:250px;">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control bg-white", style = "margin-left: 5rem; margin-top: 0rem; margin-bottom: 4rem;" })
                            </div>
                            <div class="form-group" style="width:250px;">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control bg-white", style = "margin-left: 5rem; margin-bottom: 2.5rem;" })
                            </div>
                            <button type="submit" class="btn" style="height:75px; width:350px;margin-bottom: 1rem;"></button>
                        </div>

                    </div>

                }
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <text>
                alert("@Model.ErrorMessage");
                </text>
            }

        });
    </script>


</body>
</html>