﻿@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h1 class="card-header text-white"> Certificación de Identidad </h1>
                <div class="card-body">
                    <p class="lead">
                        Bienvenido a la primera plataforma electrónica de certificación en línea. <strong>Notario Virtual</strong> te permitirá notarizar en línea cualquier tipo de transacción electrónica, incluyendo una Certificación de Identidad, con verificación biométrica segura, georeferenciación, timestamping, etc., para ser utilizada en procesos de firma electrónica simple de documentos electrónicos.
                    </p>
                    <div class="text-center">
                        <img src="~/Images/Logo-h.png" style="width:34%;" />
                    </div>
                    @*<img src="~/Images/biometrika.png" width="180" height="30" class="pull-right" />*@
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-6">
                <a href="@Url.Action("Find", "Certification")">
                    <div class="card">
                        <h5 class="card-header text-white">
                            Certificación de Identidad
                        </h5>
                        <div class="card-body">
                            <img src="~/Images/Certificación_de_Identidad.png" class="img-fluid" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <a href="@Url.Action("index", "Recibo")">
                    <div class="card">
                        <h5 class="card-header text-white">
                            Recibos Digitales
                        </h5>
                        <div class="card-body">
                            <img src="~/Images/Recibos_Digitales-1.png" class="img-fluid" />
                        </div>
                    </div>
                    </a>
            </div>
        </div>
    </div>
    
    

<script type="text/javascript">
    $(function () {
        $("#sidebar-submenu-certification").css("display", "block");
        $("#sidebar-dropdown-certification").addClass("active");
    });
</script>

