.rich-pmenu
{
	overflow: hidden;
	padding-right: 4px;
}
.dr-pmenu-top-group
{
	height: 20px;
	background-repeat: repeat-x;
	background-position: left top;
	padding: 2px 1px 2px 2px;
	cursor: pointer;
}
.dr-pmenu-group
{
	padding: 2px 1px 1px;
	margin-top: 1px;
	cursor: pointer;
	border-top: 1px solid;
}
.dr-pmenu-item
{
	border-top: 1px solid;
	cursor: pointer;
	padding: 2px 1px 1px;
	margin-top: 1px;
}
.dr-pmenu-top-group-div
{
	border: 1px solid;
	margin-bottom: 3px;
	padding: 1px;
	overflow: hidden;
	width: 100%;
}
.dr-pmenu-group-self-label
{
	padding-left: 5px;
	width: 100%;
}
.dr-pmenu-nowrap
{
	white-space: nowrap;
}
.dr-pmenu-top-group
{
	font-weight: bold;
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px;
	color: #000;
	background-color: #BED6F8;
	background-image: url(/wfdoc/a4j_3_2_1-SNAPSHOTorg.richfaces.renderkit.html.gradientimages.PanelMenuGroupGradient/DATB/eAH7..3Tj2v7mAAZZAV3);
}
.dr-pmenu-group
{
	font-weight: bold;
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px;
	color: #000;
	border-top-color: #C0C0C0;
}
.dr-pmenu-item
{
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px;
	color: #000;
	border-top-color: #C0C0C0;
}
.dr-pmenu-top-group-div
{
	border-color: #BED6F8;
}
.dr-pmenu-disabled-element
{
	color: #8DB7F3;
}
.dr-pmenu-hovered-element
{
	background-color: #ECF4FE;
}
.dr-pmenu-disabled-element
{
	cursor: default;
}
.dr-pmenu-selected-item
{
	font-style: italic;
}
