﻿@model WebNV.Models.ReceiptModel

@{
    string urlMaps = "http://www.google.com/maps/place/" + Model.GeoRef;
}


<div class="hpanel">
    <div class="panel-heading hbuilt">
        <b>Recibo Digital - <i>by Notario Virtual</i></b>

        <div class="pull-right">
            @using (Html.BeginForm("DownloadRecibo", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                @Html.HiddenFor(m => Model.Id)
                <!-- >a class="btn btn-default"><i class="glyphicon pe-7s-cloud-download"></i> Exportar</a -->
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon pe-7s-cloud-download"> </i> Exportar
                </button>
            }

        </div>

        @if (Model.PDFCICertify != null && Model.PDFCICertify != "")
        {
            <div class="pull-right">
                @using (Html.BeginForm("DownloadPDF", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    @Html.HiddenFor(m => Model.Id)
                    <!-- >a class="btn btn-default"><i class="glyphicon pe-7s-cloud-download"></i> Exportar</a -->
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon pe-7s-cloud-download"> </i> Descargar PDF
                    </button>
                }

            </div>
        }


    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TrackIdCI</td>
                    <td>@Model.TrackIdCI</td>
                </tr>
                <tr>
                    <td>QR Verificación</td>
                    <td><img src="data:image;base64,@Model.QRCIVerify" width="150" /></td>
                </tr>
                <tr>
                    <td>IP:</td>
                    <td>@Model.Ip</td>
                </tr>
                <tr>
                    <td>Puntaje:</td>
                    <td>@Model.Score%</td>
                </tr>
                <tr>
                    <td>Selfie</td>
                    <td><img src="data:image;base64,@Model.Selfie" width="150" /></td>
                </tr>

                <tr>
                    <td>Firma</td>
                    <td><img src="data:image;base64,@Model.IDCardSignatureImage" width="150" /></td>
                </tr>

                <tr>
                    <td>Tipo Documento</td>
                    <td>@Model.TypeId</td>
                </tr>

                <tr>
                    <td>Número Documento:</td>
                    <td>@Model.ValueId</td>
                </tr>

                <tr>
                    <td>Serie Documento:</td>
                    <td>@Model.Serial</td>
                </tr>

                <tr>
                    <td>Fecha Expiración:</td>
                    <td>@Model.ExpirationDate.ToShortDateString()</td>
                </tr>

                <tr>
                    <td>Imagen documento</td>
                    <td><img src="data:image;base64,@Model.IDCardImage" width="300" /></td>
                </tr>
                <tr>
                    <td>Foto documento</td>
                    <td><img src="data:image;base64,@Model.IDCardPhotoImage" width="300" /></td>
                </tr>
                <tr>
                    <td>GeoRef</td>
                    <td><a href="@urlMaps" target="_blank">@Model.GeoRef</a></td>
                </tr>

                <tr>
                    <td>Nombre:</td>
                    <td>@Model.Name</td>
                </tr>

                <tr>
                    <td>Sexo:</td>
                    <td>@Model.Sex</td>
                </tr>
                <tr>
                    <td>Nacionalidad:</td>
                    <td>@Model.Nacionality</td>
                </tr>
                <tr>
                    <td>País:</td>
                    <td>@Model.Country</td>
                </tr>

                <tr>
                    <td>Fecha Nacimiento:</td>
                    <td>@Model.BirthDate.ToShortDateString()</td>
                </tr>


            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Index")" class="btn btn-default  ">
           <i class="glyphicon glyphicon-step-backward"></i> Volver
        </a>
    </div>
</div>