﻿@model BCR.Bio.Domain.NV.Recibo

<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Recibo Digital</h5>
        <div class="card-body">
            <div class="pull-right">
                @using (Html.BeginForm("DownloadRecibo", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    @Html.HiddenFor(m => Model.Id)
                    <!-- >a class="btn btn-default"><i class="glyphicon pe-7s-cloud-download"></i> Exportar</a -->
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon pe-7s-cloud-download"> </i> Exportar
                    </button>
                }

            </div>

            <table align="center">
                <tr>
                    <td width="80%">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Recibo Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static"><b>@Model.Reciboid</b></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Fecha</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">@Model.Fecha</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Descripción</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">@Model.Descripcion</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">IP</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">@Model.IPorigen</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Aplicación</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">@Model.Aplicacion.Nombre</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <img src="~/Images/Notarized.png" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-footer">
            <a href="@Url.Action("Index")" class="btn btn-primary ">
                <i class="glyphicon glyphicon-step-backward"></i> Volver
            </a>
        </div>
    </div>
    </div>