﻿@model IEnumerable<BCR.Bio.Domain.NV.DTO.ReciboResultDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .icon-verde {
        color: green;
    }

    .icon-rojo {
        color: red;
    }

    .icon-azul {
        color: blue;
    }
</style>

<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Búsqueda de Recibos - Filtros</h5>
        <div class="card-body">
            @using (Html.BeginForm("Index", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                <div class="form-group">
                    <label class="sr-only" for="ApellidoToSearch">
                        Recibo Id
                    </label>
                    @Html.TextBox("ReciboIdSearch", null, new { placeholder = "Ingrese ReciboId", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="sr-only" for="NroRUTToSearch">
                        Aplicación
                    </label>
                    @Html.TextBox("AppSearch", null, new { placeholder = "Ingrese Nro. Aplicación", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="sr-only" for="FechaToSearch">
                        Fecha
                    </label>
                    @Html.TextBox("FechaSearch", null, new { placeholder = "Ingrese Fecha", @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon pe-7s-search"></i> Buscar
                </button>

            }
        </div>
    </div>
    </div>
    <div class="container">
        <div class="card">
            <h5 class="card-header text-white">Recibos Digitales</h5>
            <div class="panel-body">
                <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Fecha<i class="fa fa-arrow-down"></i></th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Reciboid</th>
                        <th scope="col">Aplicación</th>
                        <th scope="col">IPorigen</th>
                        <th scope="col">Documento</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @String.Format("{0:dd/MM/yyyy HH:mm}", item.Fecha)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reciboid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreAplicacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IPorigen)
                            </td>


                            <td>
                                @using (Html.BeginForm("Document", "Recibo", FormMethod.Post, new { @class = "form-buttons", role = "form", id = "viewDocument" }))
                                {
                                    @Html.Hidden("id", item.Id);
                                    <a href="#" onclick="document.getElementById('viewDocument').submit()" title="Ver Detalle">
                                        <span>Doc. </span> <i class="fa fa-paperclip"></i>
                                    </a>

                                }
                                @using (Html.BeginForm("ReceiptDetail", "Recibo", FormMethod.Post, new { @class = "form-buttons", role = "form", id = "viewDetail" }))
                                {
                                    @Html.Hidden("id", item.Id);
                                    <a href="#" onclick="document.getElementById('viewDetail').submit()" title="Ver Detalle">
                                        <span>Detalle </span><i class="fa fa-eye"></i>
                                    </a>

                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="panel-footer">
                <ul class="pagination">


                    @{
                        var ultimaPagina = 0;
                        var indicadorPlus = false;
                    }
                    @if (ViewBag.Paginacion.Total > 300)
                    {
                        ultimaPagina = 30;
                        indicadorPlus = true;
                    }
                    else
                    {
                        ultimaPagina = (@ViewBag.Paginacion.Total / @ViewBag.Paginacion.Cantidad);
                    }

                    @for (var i = 1; i <= ultimaPagina + 1; i++)
                    {
                        var dclass = "btn btn-primary btn-sm mr-1";
                        if (@ViewBag.Paginacion.Pagina == i - 1)
                        {
                            dclass = dclass + " active";
                        }
                        <li class="paginate_button " aria-controls="example2" tabindex="0">
                            @Html.ActionLink(@i.ToString(), "index", "Recibo", new { id = i - 1, ApellidoToSearch = @ViewBag.ApellidoToSearch, NroRUTToSearch = @ViewBag.NroRUTToSearch }, new { @class = dclass })
                        </li>
                    }
                    @if (indicadorPlus)
                    {
                        <li class="paginate_button " aria-controls="example2" tabindex="0">
                            <a href="" class="dclass">...</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
