﻿@model WebNV.Models.ExtensionsXMLModel


<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Detalle de Recibo Dígital</h5>
        <div class="card-body">

            <div class="pull-right">
                @using (Html.BeginForm("DownloadRecibo", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    @Html.Hidden("Id", Model.ReceiptId)
                    <!-- >a class="btn btn-default"><i class="glyphicon pe-7s-cloud-download"></i> Exportar</a -->
                    <button type="submit" class="btn btn-default">
                        <img src="~/Images/icons/xml.png" height="33" />
                        @*<i class="glyphicon pe-7s-cloud-download"> </i>*@ Exportar
                    </button>
                }

            </div>

            @if (Model.HasPDF)
            {
                <div class="pull-right">
                    @using (Html.BeginForm("DownloadPDF", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        @Html.Hidden("Id", Model.ReceiptId)
                        <!-- >a class="btn btn-default"><i class="glyphicon pe-7s-cloud-download"></i> Exportar</a -->
                        <button type="submit" class="btn btn-default">
                            <img src="~/Images/icons/pdf.png" height="33" />
                            @*<i class="glyphicon pe-7s-cloud-download"> </i>*@ Descargar PDF
                        </button>
                    }

                </div>
            }
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var extension in Model.Extensions)
                    {
                        <tr>
                            <td>@extension.Key</td>
                            @if (extension.Value.Length < 500)
                            {
                                <td>@extension.Value</td>
                            }
                            else if (!extension.Key.ToUpper().Contains("PDF"))
                            {
                                <td><img src="data:image;base64,@extension.Value" width="150" /></td>
                            }
                            else
                            {
                                <td>
                                    @using (Html.BeginForm("DownloadPDF", "Recibo", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                                    {
                                        @Html.Hidden("Id", Model.ReceiptId)

                                        <button type="submit" class="btn btn-default">
                                            <img src="~/Images/icons/pdf.png" height="33" />
                                            @*<i class="glyphicon pe-7s-cloud-download"> </i>*@ Descargar PDF
                                        </button>
                                    }
                                </td>
                            }

                        </tr>

                    }

                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index")" class="btn btn-primary ">
                <i class="glyphicon glyphicon-step-backward"></i> Volver
            </a>
        </div>
    </div>

</div>
