﻿@model WebNV.Models.Admin.UserEditModel

@using WebNV.Helpers.Extension

<div class="panel-body">
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Username, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(m => m.Password)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(m => m.ConfirmPassword)
        </div>
    </div>
    @if (Model.CompanyList != null)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyValue, new { @class = "col-sm-3 control-label" })
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.CompanyValue, new SelectList(Model.CompanyList, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    }


    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(m => m.Surname)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(m => m.Phone)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.EditorFor(m => m.PostalCode)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Rol, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.Rol, new SelectList(Model.RolList, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary(false, "Error en el ingreso.")
    @Html.SuccessInformation(Model.Notification)
</div>