﻿@model WebNV.Models.Admin.UserModel

@if (Model.CompanyList != null)
{

    <div class="form-group">
        @Html.LabelFor(m => m.CompanyValue, new { @class = "col-sm-3 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.CompanyValue, new SelectList(Model.CompanyList, "Value", "Text"), new { @class = "form-control" })
        </div>

    </div>
}
<div class="form-group">
    @Html.LabelFor(m => m.Username, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Username)
    </div>
    <div class="col-xs-4">
        @@ @Model.Domain
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Password)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.ConfirmPassword)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Email)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.PasswordQuestion, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.PasswordQuestion)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.PasswordAnswer, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.PasswordAnswer)
    </div>

</div>



<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Name)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.Surname, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Surname)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.Phone, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Phone)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.PostalCode)
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.Rol, new { @class = "col-sm-3 control-label" })
    <div class="col-xs-4">
        @Html.DropDownListFor(m => m.Rol, new SelectList(Model.RolList, "Value", "Text"), new { @class = "form-control" })
    </div>

</div>