﻿@model WebNV.Models.Admin.ChangePasswordModel
@{
    ViewBag.Title = "Cambio de clave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebNV.Helpers.Extension

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Ingrese los datos
        </div>
        <div class="panel-body">


            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.OldPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.NewPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.ConfirmPassword)
                </div>
            </div>


        </div>

        <div class="panel-footer">
            <button type="submit" class="btn    btn-default">
                <i class="fa fa-wrench"></i>
                Cambiar clave
            </button>

            <a href="@Url.Action("Perfil","User")" class="btn  btn-default ">
                <i class="glyphicon glyphicon-thumbs-down"></i> Cancelar
            </a>
            @Html.ValidationSummary(false)
            @Html.SuccessInformation(Model.Notification)

           
        </div>
    </div>
}