﻿@model WebNV.Models.Admin.UserModel

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebNV.Helpers.Extension
<div class="container">
    @using (Html.BeginForm("CreateSA", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="card">
            <h5 class="card-header text-white">Ingrese los Datos</h5>
            <div class="card-body">
                @Html.Partial("_Fields", Model)
            </div>

            <div class="card-footer">
                @if (Model.IsReadOnly)
                {

                    <a href="@Url.Action("IndexSA")" class="btn   btn-default ">
                        <i class="fa fa-arrow-left"></i> Volver
                    </a>
                }
                else
                {

                    <button type="submit" class="btn    btn-default">
                        <i class="fa fa-floppy-o"></i>
                        Crear Usuario
                    </button>

                    <a href="@Url.Action("IndexSA")" class="btn   btn-default   ">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.Notification))
                {
                    <div class="lead text-danger">
                        <h5>@Model.Notification</h5>
                    </div>
                }

            </div>
        </div>
    }
</div>
@section Scripts
{
    <script type="text/javascript">


        @if (!string.IsNullOrEmpty(Model.Notification))
        {
            <text>
                $(document).ready(function () {
                    alert("@Model.Notification");

                    if ("@Model.Notification".includes("Usuario creado correctamente")) {
                        window.location.replace("/User/IndexSA");
                    }
                });
            </text>

        }



    </script>
}