﻿@model WebNV.Models.Admin.UserEditModel
@using WebNV.Helpers.Extension

@{
    ViewBag.Title = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <div class="card">
        <h5 class="card-header text-white">Ingrese los Datos</h5>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Username, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.ConfirmPassword)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.Surname)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.Phone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.EditorFor(m => m.PostalCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Rol, new { @class = "col-sm-3 control-label" })
                <div class="col-xs-4">
                    @Html.DropDownListFor(m => m.Rol, new SelectList(Model.RolList, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            @Html.HiddenFor(m => m.CompanyValue)
            @Html.SuccessInformation(Model.Notification)
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                Grabar
            </button>

            <a href="@Url.Action("index")" class="btn   btn-default  ">
                <i class="fa fa-times"></i> Cancelar
            </a>


        </div>
    </div>
    }
    </div>