﻿@model WebNV.Models.Admin.UserSearchModel

@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<WebNV.Models.Admin.UserModel> userlist = Model.UserModelList;

}
<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Buscador de Usuarios</h5>
        <div class="card-body">
            @using (Html.BeginForm("IndexSA", "User", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {

                <div class="form-group">
                    <label class="sr-only" for="userToSearch">
                        Nombre Usuario
                    </label>
                    <div class="col-sm-6">
                        @Html.TextBox("userToSearch", null, new { placeholder = "Usuario", @class = "form-control" })
                    </div>
                </div>
                if (Model.CompanyList != null)
                {
                    <div class="form-group">
                        <label class="sr-only" for="companyToSearch">
                            Compañia
                        </label>
                        <div class="col-sm-4">
                            @Html.DropDownList("companyToSearch", new SelectList(Model.CompanyList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                }

                <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i> Buscar
                </button>
            }
        </div>
    </div>

    <div class="card">
        <h5 class="card-header text-white">Listado de Usuarios</h5>
        <div class="panel-body">
            <div class="btn-group pull-right">
                <a href="@Url.Action("CreateSA")" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus-circle"></i> Agregar Usuario
                </a>
            </div>

            <table class="table table-striped table-responsive table-hover table-bordered" id="TableResult">
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Id</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha Creación</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Compañia</th>
                    <th scope="col">Bloqueado?</th>
                </tr>
                @foreach (var item in userlist)
                {
                    var isDisabled = "";
                    if (!item.IsApproved)
                    {
                        isDisabled = "class='danger'";
                    }
                    <tr id="TableResult_@item.Id" @Html.Raw(isDisabled)>
                        <td>
                            <a href="@Url.Action("Emular", new { id = item.Id , urlBack = @Request.Url.ToString()})" class="btn btn-sm btn-default">
                                <i class="fa fa-eye"></i>
                                <span>Emular</span>
                            </a>
                            <a href="@Url.Action("EditSA", new { id = item.Id })" class="btn btn-sm btn-default    ">
                                <i class="fa fa-pencil"></i>
                                <span>Editar</span>
                            </a>

                            @if (User.Identity.Name != item.Username)
                            {
                                <a href="#" class="btn btn-sm  btn-default " onclick="DeleteUser('@item.Id')">
                                    <i class="fa fa-trash"></i>
                                    <span>Borrar</span>
                                </a>

                                if (!item.IsApproved)
                                {
                                    if (item.Company.IsActive)
                                    {
                                        <a href="@Url.Action("EnableUser", new { id = item.Id , back = @Request.Url.ToString()})" class="btn btn-sm btn-default">
                                            <i class="fa fa-toggle-on"></i>
                                            <span>Habilitar</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-default disabled ">
                                            <i class="fa fa-toggle-on"></i>
                                            <span>Habilitar</span>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("DisableUser", new { id = item.Id , back = @Request.Url.ToString()})" class="btn btn-sm btn-default">
                                        <i class="fa fa-toggle-on"></i>
                                        <span>Deshabilitar</span>
                                    </a>
                                }
                                if (item.IsLockedOut)
                                {

                                    <a href="@Url.Action("UnBlockUser", new { id = item.Id , back = @Request.Url.ToString()})" class="btn btn-sm btn-default">
                                        <i class="fa fa-key"></i>
                                        <span>Desbloquear</span>
                                    </a>
                                }
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                        <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsLockedOut)</td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>

@section Scripts
 {
    <script type="text/javascript">



        function DeleteUser(id) {
            swal({
                title: "Confirma eliminar ?", text: "Se elimanará",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                closeOnConfirm: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    DeleteUserR(id);
                    swal("Eliminado!", "Se ha eliminado el usuario.", "success");
                }
                else {
                    swal("Cancelado", "No se ha eliminado el usuario", "error");
                }
            }
            );
        }


        function DeleteUserR(id) {
            var urlAction = '@Url.Action("DeleteUser")' + '/' + id;
             $.ajax({
                    dataType: "json",
                    url: urlAction
                });
             $('#TableResult_' + id).remove();

        }

        function UnblockUser(id) {
            swal({
                title: "Confirma desbloquear?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Desbloquear",
                closeOnConfirm: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    UnblockUserR(id);
                    swal("Desbloqueado!", "Se ha desbloqueado el usuario.", "success");
                }
                else {
                    swal("Cancelado", "No se ha desbloqueado el usuario", "error");
                }
            }
            );
        }



        function UnblockUserR(id) {
            var urlAction = '@Url.Action("UnblockUser")' + '/' + id;
            $.ajax({
                dataType: "json",
                url: urlAction
            });
            $('#UnlockTableResult_' + id).remove();
            $('#TableResult_' + id + ' input:checkbox')[0].checked = false

        }
    </script>
}