﻿@model WebNV.Models.Admin.UserModel
@{
    ViewBag.Title = "Ingrese usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Perfil", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Ingrese los datos
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label">Rol</label>
                <div class="col-xs-4">
                    @Roles.GetRolesForUser()[0]
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastLoginDate, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.LastLoginDate, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Cambiar clave</label>
                <div class="col-xs-4">
                    <a href="@Url.Action("ChangePassword", "User")" class="btn btn-default">
                        <i class="fa fa-user"></i> Cambiar clave
                    </a>


                </div>
            </div>
            @Html.ValidationSummary(true)


        </div>

        <div class="panel-footer">

        </div>
    </div>
}