﻿@model BCR.Bio.Domain.NV.CompanyWorkFlow

<div class="form-group">
    @Html.Label("Company")
    <div class="col-xs-4">
        @*@Html.DropDownList("CompanyId", new SelectList(ViewBag.CompanySelectList, "Value", "Text"), new { @class = "form-control" })*@
        @Html.DropDownList("CompanySelectList", null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OnBoardingMandatory, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(m => m.OnBoardingMandatory, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BpWebTypeOnBoarding, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(x => x.BpWebTypeOnBoarding, null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BpWebTypeVerify, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(x => x.BpWebTypeVerify, null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ReceiverList, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.ReceiverList, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Threshold, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Threshold, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Theme, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Theme, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.RedirectUrl, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.RedirectUrl, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.GeoRefMandatory, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(m => m.GeoRefMandatory, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Authorization, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(m => m.Authorization, new { @class = "form-control" })
    </div>
</div>
@*<div class="form-group">
        @Html.LabelFor(m => m.AuthorizationMessage, new { @class = "control-label" })
        <div class="col-xs-4">
            @Html.TextAreaFor(m => m.AuthorizationMessage, new { @class = "form-control" })
        </div>
    </div>*@

<div class="form-group">
    @Html.Label("Título Authorization Message", new { @class = "control-label" })
    @Html.TextBox("AuthorizationMessageTitle")
</div>
<div class="form-group">
    @Html.Label("Cuerpo Authorization Message", new { @class = "control-label" })
    @Html.TextArea("AuthorizationMessageBody", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Label("Pie Authorization Message", new { @class = "control-label" })
    @Html.TextArea("AuthorizationMessageFooter", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SignerInclude, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(m => m.SignerInclude, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CheckLockSrcei, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(m => m.CheckLockSrcei, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.VideoInclude, new { @class = "control-label" })
    <div class="col-xs-4">
        @Html.EnumDropDownListFor(m => m.VideoInclude, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Video Message", new { @class = "control-label" })
    @Html.TextAreaFor(m => m.VideoMessage, new { @class = "form-control" })
</div>


@*<div class="form-group">
        @Html.LabelFor(m => m.VideoMessage, new { @class = "control-label" })
        <div class="col-xs-4">
            @Html.TextAreaFor(m => m.VideoMessage, new { @class = "form-control" })
        </div>
    </div>*@