﻿@model BCR.Bio.Domain.NV.CompanyWorkFlow

@{
    ViewBag.Title = "Crear WorkFlow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm("Create", "CompanyWorkFlow", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="card">
            <h5 class="card-header text-white">Ingrese los Datos</h5>
            <div class="card-body">
                @Html.Partial("_Fields", Model)
            </div>

            <div class="card-footer">

                <button type="submit" class="btn btn-primary ">
                    <i class="fa fa-floppy-o"></i> Guardar
                </button>
                <a href="@Url.Action("index")" class="btn btn-warning  ">
                    <i class="fa fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    }

</div>

@section Scripts
{
    <script type="text/javascript">

        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }


        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }

    </script>
}