﻿@model IList<BCR.Bio.Domain.NV.CompanyWorkFlow>
@{
    ViewBag.Title = "WorkFlows";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<div class="container">

    <div class="card">

        <h5 class="card-header text-white">Company WorkFlows</h5>


        <div class="card-body">
            <a class="btn btn-primary mb-2" href="@Url.Action("Create")">
                <i class="fa fa-plus-circle"></i> Crear
            </a>
            <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center" style="font-size:12px;">
                <tr>
                    <th class="col-1 text-center">Compañía</th>
                    <th class="col-1 text-center">Nombre</th>
                    <th class="col-1 text-center">OnBoardingMandatory</th>
                    <th class="col-2 text-center">TypeOB</th>
                    <th class="col-2 text-center">TypeVerify</th>
                    <th class="col-1 text-center">Umbral</th>
                    <th class="col-4 text-center">Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Company.Name
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.OnBoardingMandatory
                        </td>
                        <td>
                            @item.BpWebTypeOnBoarding
                        </td>
                        <td>
                            @item.BpWebTypeVerify
                        </td>
                        <td>
                            @item.Threshold
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-warning my-1">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                            <a href="@Url.Action("Clone", new { id = item.Id })" class="btn btn-sm btn-success my-1">
                                <i class="fa fa-clone"></i> Duplicar
                            </a>
                            <button type="button" onclick="deleteCompanyWorkFlow(@item.Id)" class="btn btn-sm btn-danger my-1">
                                <i class="fa fa-trash-o"></i> Eliminar
                            </button>
                        </td>

                    </tr>
                }
            </table>
        </div>
        <div class="card-footer">

        </div>

    </div>


</div>
@section Scripts
{
    <script type="text/javascript">

        function deleteCompanyWorkFlow(id) {
            const url = '@Url.Action("Delete","CompanyWorkFlow")';
            const confirmation = confirm("¿Está seguro que desea eliminar? Esta acción no se puede deshacer.");
            if (!confirmation) return;

            $.ajax({
                type: 'GET',
                url: url,
                data: { 'id': id },
                success: function (response) {
                    if (response && response.res === true) {
                        alert('Eliminado correctamente')
                        location.reload();
                    } else {
                        alert("Error al eliminar. Favor revisar log o contactar a soporte.");
                    }
                },
                error: function (error) {
                    console.debug(error);
                }
            })
        }

    </script>
}