﻿@model BCR.Bio.Domain.NV.Transaction

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <b>Código de autorización : @Model.CodigoAutorizacion</b>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">RUT</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Rut</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Apellido</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.PatherLastName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Autoridad de sellado</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.TransactionDocument.SignerURL </p>
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-2 control-label">Hash</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.TransactionDocument.Hash </p>
                    </div>
                </div>*@

            <div class="form-group">
                <label class="col-sm-2 control-label">Tipo de Hash</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.TransactionDocument.HashType </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Reporte generado</label>
                <div class="col-sm-10">
                    <a href="@Url.Action("ExportReport", "Audit", new { id = @Model.CodigoAutorizacion })" target="_blank" class="btn btn-default">Descargar</a>
                </div>
            </div>
        </form>
    </div>
</div>