﻿@model WebNV.Models.NV.ExtensionModel

@Html.HiddenFor(m => m.Extension.Id)
@if (Model.AplicacionList != null)
{

    <div class="form-group">
        @Html.LabelFor(m => m.Aplicacion, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.Aplicacion, new SelectList(Model.AplicacionList, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
}
else
{
    if (Model.Aplicacion > 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Aplicacion, new { @class = "col-sm-2 control-label" })
            <div class="col-xs-4">
                @Html.DisplayFor(m => m.Extension.Aplicacion.Nombre, new { @class = "form-control" })
            </div>
        </div>
    }
}

<div class="form-group">
    @Html.LabelFor(m => m.Extension.Nombre, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Extension.Nombre)
    </div>

    @Html.LabelFor(m => m.Extension.Tipo, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Extension.Tipo)
    </div>
</div>