﻿@model WebNV.Models.NV.ExtensionModel

@{
    ViewBag.Title = "Edit Extensión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Extension", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Ingrese los datos
        </div>
        <div class="panel-body">
            @Html.Partial("_Fields", Model)


        </div>

        <div class="panel-footer">

            <button type="submit" class="btn  btn-default ">
                <i class="fa fa-floppy-o"></i> Guardar
            </button>
            <a href="@Url.Action("index")" class="btn   btn-default  ">
                <i class="fa fa-times"></i> Cancelar
            </a>

            @Html.ValidationSummary(false, "Error en el ingreso.", new { @class = "alert alert-danger" })
        </div>
    </div>
}