﻿@model IEnumerable<BCR.Bio.Domain.NV.Extension>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="content animate-panel">
    <div class="col-lg-12 animated-panel zoomIn" style="-webkit-animation-delay: 0.4s;">
        @*<div class="hpanel">
            <div class="panel-heading  hbuilt">
                Filtros
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Transaction", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    <div class="form-group">
                        <label class="sr-only" for="ApellidoToSearch">
                            Apellido
                        </label>
                        @Html.TextBox("ApellidoToSearch", null, new { placeholder = "Ingrese apellido", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="NroRUTToSearch">
                            Apellido
                        </label>
                        @Html.TextBox("NroRUTToSearch", null, new { placeholder = "Ingrese Nro. RUT", @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-sm">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>

                }
            </div>
        </div>*@

        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Extensiones
                <div class="btn-group pull-right">
                    <a href="@Url.Action("Create")" class="btn  btn-sm  btn-default  ">
                        <i class="fa fa-plus-circle"></i> Agregar extensión
                        <span class="sr-only"> Agregar extensión</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
 
                <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Aplicacion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Acción</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Aplicacion.Nombre
                            </td>

                            <td>
                                @item.Nombre
                            </td>
                            <td>
                                @item.Tipo
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Extension", new { id = item.Id})" class="btn btn-sm     ">
                                    <i class="fa fa-edit"></i> Editar
                                </a>

                                <a href="@Url.Action("Delete", "Extension", new { id = item.Id})" class="btn btn-sm     ">
                                    <i class="fa fa-trash-o"></i> Borrar
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="panel-footer">
                @*<ul class="pagination">


                    @{
                        var ultimaPagina = 0;
                        var indicadorPlus = false;
                    }
                    @if (ViewBag.Paginacion.Total > 300)
                    {
                        ultimaPagina = 30;
                        indicadorPlus = true;
                    }
                    else
                    {
                        ultimaPagina = (@ViewBag.Paginacion.Total / @ViewBag.Paginacion.Cantidad);
                    }

                    @for (var i = 1; i <= ultimaPagina + 1; i++)
                    {
                        var dclass = "btn btn-primary   btn-sm ";
                        if (@ViewBag.Paginacion.Pagina == i - 1)
                        {
                            dclass = dclass + " active";
                        }
                        <li class="paginate_button " aria-controls="example2" tabindex="0">
                            @Html.ActionLink(@i.ToString(), "index", "Transaction", new { id = i - 1, ApellidoToSearch = @ViewBag.ApellidoToSearch, NroRUTToSearch = @ViewBag.NroRUTToSearch }, new { @class = dclass })
                        </li>
                    }
                    @if (indicadorPlus)
                    {
                        <li class="paginate_button " aria-controls="example2" tabindex="0">
                            <a href="" class="dclass">...</a>
                        </li>
                    }

                </ul>*@
            </div>
        </div>
    </div>
</div>