﻿@inherits LayoutComponentBase

@*<div  style="display:grid; justify-items:center; align-items:center; min-height:100vh;">*@
@*<div class="content">*@
<div class="page">
     <!-- Radzen Zone -->
    <RadzenContextMenu />
    <RadzenDialog />
    <RadzenNotification />
    <RadzenTooltip />
    <!-- Radzen Zone End -->
   @* <div class="top-row px-4">
        <h1>Logo</h1>
        <h1>Titulo</h1>
        <h2>Subtitulo</h2>
    </div>*@
    @*<div class="content px-12">*@
        
    @*</div>*@

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content">
            @Body
        </article>

       @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

    </main>
</div>

