﻿@page "/fetchdata"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Biometrika.Solutions.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject IRepositorio _Repositorio;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries)
            {
                <tr>
                    <td>@country.Id</td>
                    <td>@country.Description</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TrackId</th>
                <th>Fecha</th>
                <th>ValueId</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tx in txCIList)
            {
                <tr>
                    <td style="color:red;">@tx.Actionid</td>
                    <td>@tx.Trackid</td>
                    <td>@(tx.Dategen.HasValue ? tx.Dategen.Value.ToString("dd/MM/yyyy HH:mm:ss") : "Null")</td>
                    <td>@(string.IsNullOrEmpty(tx.Valueid) ? "Null" : tx.Valueid)</td>
                    <td>@(string.IsNullOrEmpty(tx.Score) ? "Null" : tx.Score.ToString())</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private List<Country> countries;
    private List<RdCitxGridDTO> txCIList; 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
            var responseHttp = await _Repositorio.Get<List<Country>>("Country");
            countries = responseHttp.Response;
            var responseHttp1 = await _Repositorio.Get<List<RdCitxGridDTO>>("CI");
            txCIList = responseHttp1.Response;
            int i = 0;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
