<%@ Page Language="C#" MasterPageFile="~/Manager/RDMasterPage.master" AutoEventWireup="true" CodeBehind="main.aspx.cs" Inherits="Bio.Digital.Receipt.Manager.pages.main" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <br />
    <br />
    <br />
    <br />
    <br />

    <table width="70%" align="center">
        <tr>
            <td align="center" valign="middle">
                <img alt="Logo RD..." src="../images/logo_bpdr.jpg" runat="server" />
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                <i>powered by</i>
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                <img id="Img2" src="~/Manager/images/logo_chico.gif" runat="server" />
            </td>          
        </tr>
       <tr>    
            <td align="center" valign="middle">
                <i>v2.1</i>
            </td>
        </tr>       
    </table>
</asp:Content>
