﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form id="form1" >
        <div>
            <TABLE width="100%" align="center">
                <TR height="200">
                    <TD>&nbsp;</TD>
                    <TD>&nbsp;</TD>
                    <TD>&nbsp;</TD>
                </TR>
                <TR height="100">
                    <TD></TD>
                    <TD align="center"><IMG SRC="../../images/biometrika.png" WIDTH="311" HEIGHT="47" BORDER="0" ALT="Default"></TD>
                    <TD></TD>
                </TR>
                <TR>
                    <TD>&nbsp;</TD>
                    <TD align="center"><FONT SIZE="" COLOR="blue"><B>Started!</B></FONT></TD>
                    <TD>&nbsp;</TD>
                </TR>
            </TABLE>
        </div>
    </form>
</body>
</html>
