
/* ---------------- Estilos Biometrika -------------- */

/* -------------------- Tablas ----------------------- */
td.masterpage_top 
{
	background-color: #356734;
	font-family:Neuropol,Verdana,Times New Roman;
	font-size:larger;
	font-weight:bold;
	color:White;
	/* text-align:center; */
}

td.masterpage_left 
{
	background-color: #356734;
	font-family:Verdana,Times New Roman;
	font-size:12px;
	font-weight:normal;
	color:White;
	/* text-align:center; */
}

td.masterpage_footer 
{
	background-color: #F26922;
	font-family:Neuropol,Verdana,Times New Roman;
	font-size:small;
	font-weight:bold;
	color:White;
	/* text-align:center; */
}

/* ************* Tabla de Recibo ************************ */

td.title_tabla
{
	/* background-color:#346735; */
	text-align: left;
	font-family: Neuropol, Verdana, Tahoma, Arial;
	font-size:24px;
	font-weight:bold;
	color:#346735;
}

td.title_label
{
	background-color:#346735;
	text-align: left;
	font-family: Verdana, Tahoma, Arial;
	font-size:12px;
	font-weight:bold;
	color:White;
}

td.body_label
{
	text-align: left;
	font-family: Verdana, Tahoma, Arial;
	font-size:11px;
	font-weight:bold;
	color:Black;
}

td.result_label
{
	text-align: center;
	font-family: Verdana, Tahoma, Arial;
	font-size:14px;
	font-weight:bold;
}

/* -------------------- Labels ----------------------- */

.masterpage_label_top 
{
	font-family:Verdana,Arial;
	font-size:11px;
	color:White;
}


.menu_options 
{
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	color:White;
	text-decoration: none;
}

.login 
{
	background-color:#FFFFDF;
	border-color:#E6E2D8;
	border-style:solid;
	border-width:1px; 
	font-family:Verdana, Arial, Times New Roman;
	font-size:1.0em;
	font-weight:bold;
	color:#333333;
	/* text-align:center; */
}

.login_button 
{
	 background-color:#FFFBFF;
	 border-color:#CCCCCC;
	 border-style:solid;
	 border-width:1px;
     font-family:Verdana, Arial;
     font-size:0.8em;
     color:#284775;
}

.login_label 
{
	 background-color:Transparent;
	 border-color:#CCCCCC;
	 border-style:solid;
	 border-width:1px;
     font-family:Verdana, Arial;
     font-size:0.8em;
     color:#284775;
}

.login_txtlabel 
{
	 background-color:#FFFBFF;
	 border-color:#CCCCCC;
	 border-style:solid;
	 border-width:1px;
     font-family:Verdana, Arial;
     font-size:0.8em;
     color:#284775;
	
}

.titleform {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	 background-color:#356734;
	 color:White;
}

.labelform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	width: 160px;
}

.textboxform160 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 160px;
	border: 1px solid #999999;
	background:#F3F3F3;
}

.textboxform600 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 600px;
	border: 1px solid #999999;
	background:#F3F3F3;
}


/* -------------------- Botones ----------------------- */


.boton1140 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: White;
	height:25px;
	background-color: #356734;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	width: 140px;
}


/* -------------------- Links ----------------------- */

a.masterpage_menu 
{
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	color:White;
	text-decoration: none;
}

a.masterpage_menu:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color: black;
	background-color:Orange;	
	text-decoration: none;
}





/* ---------------- Estilos SI ZEAL - EPV Valparaíso -------------- */
/* --------------------------- by copazo -------------------------- */

/* -------------------- Links --------------------------

a.lkmenuinicio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration: none;
}

a.lkmenuinicio:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0099FF;
	text-decoration: none;
}

a.lkpaginacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration: none;
}

a.lkpaginacion:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}

a.lk_agend {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #4e5265; 
	text-decoration: underline;
}

a.lkazulpeque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E5265;
	text-decoration: none;
}

a.lkazulpeque:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E5265;
	text-decoration: underline;
}

a.lkbarranav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
	text-decoration: none;
}

a.lkbarranav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9900;
	text-decoration: none;
}


a.lkdetalle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

a.lkdetalle:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

/* -------------------- Textos --------------------------


.txttituloseccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:  #009900;
	background-image:url(../../images/bg_titulo_01.jpg);
	background-position: top right;
	background-repeat:no-repeat;
}

.txttitulobloques {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:  #006699;
}

.txttituloblanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:  #FFFFFF;
}

.txtcampos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	
}

.txtcampos-UPPER {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-transform: uppercase;
	
}

.txtfecha {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
}

.txtetiqueta_negro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:  #000000;
}

.txtnegro10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
}

.txtalerta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}

.txtetiqueta_negro12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant:small-caps;
	color:  white;
	background-color: #D1E5B0;
	text-decoration: underline;
}
.txtetiqueta_black12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:  black;
	background-color: #D1E5B0;
}
.txtnegro11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:  #000000;
}

.txttitulobloques_20 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color:  #000000;
}

/* -------------------- Campos de Textos --------------------------

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color:#FFFFFF; /* #EFEFEF
	text-align:left;
}

.input20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 20px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input40 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 40px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input60 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 60px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input80 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 80px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input100 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input100may {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	width: 100px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input120 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 120px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input140 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 140px;
	height: 20px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input160 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 160px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input160nob {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 160px;
	border: none;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input180 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 180px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input200 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 200px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input210 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 212px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input250 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 250px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input300 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 300px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input400 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 400px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input410 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 410px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input500 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 500px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

.input600 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 600px;
	border: 1px solid #999999;
	background: url(../../images/fondo_campos.gif) repeat-x top left;
}

/* -------------------- Estilos de los Botones --------------------------

.boton1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height:18px;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
}

.boton1140 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height:18px;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	width: 140px;
}

.boton1180 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height:18px;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	width: 180px;
}
.boton2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
}

.boton3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 2px;
	padding-left: 2px;
	height:25px;
	width:70px;
}


.boton4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #84869C;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 2px;
	padding-left: 2px;
	height:25px;
	width:70px;
}

.boton5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	background-color: #D1E5B0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 2px;
	padding-left: 2px;
	height:25px;
	width:110px;
}

/* -------------------- Bordes -------------------------- 

.borde1 {
	border: 1px solid #84869C;
}


/* -------------------- Tablas -------------------------- 

tr.menutop 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	background-color: #f7e5bd;
	background-position: center top;
	vertical-align: middle;
}

table.resultados {
	width: 100%;
	background-color:#99CF70;
	border: 0px solid #CCCCCC;
	padding: 0px;
	margin: 0px;
}

tr.primeralinea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #D1E5B0;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

tr.par {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #F7F7F7;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

tr.impar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

/* -------------------- Estilos del Scroll de la Pagina --------------------------

body { 
 scrollbar-face-color:#ffffff; 
 scrollbar-highlight-color: #999999; 
 scrollbar-shadow-color: #999999; 
 scrollbar-3dlight-color: #ffffff; 
 scrollbar-arrow-color: #999999; 
 scrollbar-track-color: #ffffff; 
 scrollbar-darkshadow-color: #ffffff; 
} 

 */

/* -------------------- Div's de la Pagina -------------------------- 


#papel {
	float: left;
	width: 250px;
	height: 30px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position:relative;
	border: 0px solid;
	visibility:hidden;
	z-index:5;
} 
.accordionHeader
{        
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
	font: bold 0.7em sans-serif;
}
.Hide { display:none; }

.noTopBorders { border-top: none; }
.noBottomBorders { border-bottom: none; }


.collapsePanelHeader{
	width:100%;
	height:30px;
	background-image: url(images/bg-menu-main.png);
	background-repeat:repeat-x;
	color:#FFF;
	font-weight:bold;
	font: bold 0.7em sans-serif;
}
#binario {
	float: left;
	width: 250px;
	height: 30px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position:relative;
	border: 0px solid;
	visibility:hidden;
	z-index:10;
} 

#firma {
/*	float: left;	
/*	width: 226px;
	height: 116px;	
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	position:relative;
	border: 0px solid;
	visibility:hidden;
	z-index:40;
} 
.autocomplete_completionListElement 
{  
	visibility : hidden;
	margin : 0px!important;
	background-color : inherit;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
}

/* AutoComplete highlighted item 

.autocomplete_highlightedListItem
{
	background-color: #ffff99;
	color: black;
	padding: 1px;
}

/* AutoComplete item 

.autocomplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}

.alignLeft
{
	text-align:left;
}
.alignLeftResaltado
{
	text-align:left;
	color : Black;
	font-family:Arial,Helvetica,Sans-Serif;
	background-color:#D7FFAE;
	font-size:11px;
 
}
.alignCenterResaltado
{
	text-align:center;
	color : Black;
	font-family:Arial,Helvetica,Sans-Serif;
	background-color:#D7FFAE;
	font-size:11px;
 
}
.popupConfirmation
{
	width: 770px;
	height: 200px;
}
.popup_Container {
	background-color:#ffffff;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;
}
.ModalPopupBG
{
	background-color: #ffffff;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
.modalPopup
{
	background-color: #ffffdd;
	border-width: 1px;
	-moz-border-radius: 5px;
	border-style: solid;
	border-color: Gray;	
	min-width: 250px;
	max-width:400px;	
}

.topHandle
{
	background-color: #97bae6;	
}
*/

