/**{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
.contenedor-responsivo {
    position: relative;
    overflow: hidden;
    /*padding-top: 56.25%;*/
    padding-top: 100%;
}

.iframe-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contenedor {
    width: 80%;
    height: 800px;
    margin: 10% auto; 
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

}
.hijo {
    width: 95%;
    height: 95%;
    background-color: darkgray;
    /* centrar vertical y horizontalmente */
    position: absolute;
    /*
    top: 50%;
    left: 50%;
    */
    margin: 5% 5% 5% 5%; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
