﻿@page "/"
@inject NavigationManager navigator
@inject DialogService dialog
@inject IRepositorio _Repositorio
@inject IServiceBP _ServiceBP
@inject IJSRuntime _js

@if (_IsCheckingTx)
{
    <div>Index => Checking Tx...</div>
} else
{
    <div class="contenedor-responsivo" style="background-color:@bgColor;">
        <div class="col-8 justify-content-center">
            <RadzenCard class="m-6" Style="height: 25vh;">
                <h3 class="h6 text-end">Id Transacción: @trackid</h3>
                <div class="d-flex flex-row">
                    <RadzenImage Path="images/icono.jpg" 
                        Class="rounded-circle float-left mr-3" Style="width: 50px; height: 50px; margin:10px;" />
                    <div class="mx-5">
                        <div class="mx-2">Employee</div>
                        <b>Gustavo Suhit</b>
                        <div class="mx-2 mt-3">Company</div>
                        <b>Biometrika</b>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="m-6" Style="height: 55vh;">
                <h3 class="h5">Delivery Information</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Country</div>
                        <b>Chile</b>
                        <div class="mt-3">City</div>
                        <b>Santiago</b>
                    </div>
                    <div class="col-md-8">
                        <div>Ship name</div>
                        <b>Gerardo Gallucci</b>
                        <div class="mt-3">Freight</div>
                        <b>80%</b>
                    </div>
                </div>
                <div class="row">
                     <button type="button" class="btn btn-sm col-4 align-content-center"
                                style="background-color:@_ButtonColor"
                                @onclick="Comenzar">Comenzar</button>    
                      <button type="button" class="btn btn-danger btn-sm col-4 align-content-center" 
                                @onclick="Cancelar">Cancelar</button>   
                </div>
            </RadzenCard>
            <RadzenCard class="m-6 col-12" Style="height: 5vh;">
                <div class="col-12 text-end">
                    <i>Biometrika Latam - info@Biometrika.cl</i>
                </div>
            </RadzenCard>
        </div>
    </div>
}


@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string trackid { get; set; }

    string bgColor = "#C0C0C0";
    string _ButtonColor = "darkgreen";
    string _TextColor = "black";

    bool _IsCheckingTx = true;
    BpTxDTO txDTO;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(trackid))
            {
                navigator.NavigateTo("/notfoundtx");
            }

            ResponseDTO response = await _ServiceBP.InitializeBpTx(trackid);

            if (response != null)
            {
                if (response.Code == 0 && response.Response != null)
                {
                    IJSRuntimeExtensionMethods.SetInLocalStorage(_js, "tx"+trackid , JsonConvert.SerializeObject((BpTxDTO)response.Response));
                    txDTO = (BpTxDTO)response.Response;
                    BpThemeConfig theme = JsonConvert.DeserializeObject<BpThemeConfig>(txDTO.BpCompanyWorkflow.BpCompanyTheme.JsonConfig);
                    bgColor = theme.colors.background;

                    if (!txDTO.BpCompanyWorkflow.UseFirstPage)
                    {
                        navigator.NavigateTo("/wizard?trackid=" + trackid);
                    } else
                    {
                        _IsCheckingTx = false;
                    }

                } else
                {
                    //Mostrar mensaje y redirigir?
                }
            } else
            {
                //Mostrar mensaje y redirigir?
            }
        }
        catch (Exception ex) //(AccessTokenNotAvailableException exception)
        {
            //ex.Redirect();
            Console.WriteLine(ex.Message);
        }
    }

    public void Comenzar()
    {
        Console.WriteLine("Terminar! Redirige...");
        navigator.NavigateTo("/wizard?trackid=" + trackid);
    }

    public void Cancelar()
    {
        Console.WriteLine("Cancelar! Redirige...");
        navigator.NavigateTo("http://www.google.com");
    }
}

         @*<div class="container my-3 text-center">
  <div class="row border">
    <div class="col align-self-center align-content-center">
      Logo
    </div>
  </div>
  <div class="row border mt-sm-0 mt-md-0 mt-lg-2">
    <div class="col align-self-center align-content-center">
      <iframe
            width="800" height="700" style="background: #4F6497;" AllowTransparency="true" 
            src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c349c7402ebb001cb8a2ca" 
            frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
        </iframe>
    </div>
  </div>
  <div class="row border mt-5 mt-md-0">
    <div class="col align-self-center align-content-center">
      <i>powered by Biometrika</i>
    </div>
  </div>
</div>*@


@*<div class="contenedor">*@
@*<div class="row align-items-start">
    <div class="col-6">
        Logo
    </div>
    <div class="col-6">
        Titulo
    </div>
</div>

<div class="row align-items-center">
    <div class="col-12">
        <iframe
            width="100%" height="100%"
            src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c349c7402ebb001cb8a2ca" 
            frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
        </iframe>
    </div>
</div>

<div class="row align-items-end">
    <div class="col-12">
          Footer
    </div>
</div>*@
@*</div>*@
@*<div class="contenedor">
    
  <div class="hijo">
      <iframe id="myframe" width="100%" height="100%" allow="camera; microphone; geolocation"
            src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c349c7402ebb001cb8a2ca">
      </iframe>
  </div>
</div>*@


@*<div class="ma-0 mx-auto text-center align-content-center"
    style="max-width: 90%; height:100%">
  <div class="hijo">Centrado vertical y horizontal con FlexBox.</div>
</div>*@
@*
<div class="row">
        <div class="col-lg-8 col-xl-6 offset-lg-4 offset-xl-4">
            <RadzenCard class="m-6">
                <h3 class="h5">Contact</h3>
                <div class="d-flex flex-row">
                    <RadzenImage Path="images/logo_soluciones-11.png" 
                        Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                    <div class="mx-5">
                        <div class="mx-2">Employee</div>
                        <b>Gustavo Suhit</b>
                        <div class="mx-2 mt-3">Company</div>
                        <b>Biometrika</b>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="m-6">
                <h3 class="h5">Delivery Information</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Country</div>
                        <b>Chile</b>
                        <div class="mt-3">City</div>
                        <b>Santiago</b>
                    </div>
                    <div class="col-md-8">
                        <div>Ship name</div>
                        <b>Gerardo Gallucci</b>
                        <div class="mt-3">Freight</div>
                        <b>80%</b>
                    </div>
                </div>
            </RadzenCard>
        </div>
</div>*@

