﻿@page "/indexold"
@inject NavigationManager navigator

@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

  @*<mati-button
    clientid="62c34849e98ff3001c9dac34"
    flowId="62c349c7402ebb001cb8a2ca"
    color="green" 
    textcolor="black" 
    metadata='{"trackid": "34m23mh4v34v34vhv43jh2m"}'
  />*@

  <div class="card border-1" >
      @*<div class="card-header text-start">
          <font style="font-size:small;"><i>powered by</i> <b>Biometrika Latam</b></font>
          
      </div>*@
      <div class="card-body align-content-center text-center" style="background-color:@bgColor;">
          <div class="row">
              <div class="col col-lg-4 col-md-12 col-sm-12">
                  <img src="images/logo_soluciones-11.png" class="mt-lg-2 mt-md=0" style="align-content:center;" width="200" height="100"  />  
              </div>
              <div class="col col-lg-4 col-md-12 col-sm-12 text-center">
                   <h5 class="card-title mt-lg-2 mt-md=0">Proceso de Verificación</h5>
                   <h6 class="card-subtitle mt-lg-2 mt-md=0"><i>Biometrika Latam verificará su identidad de acuerdo a los requisitos establecidos 
                                       por nuestro cliente Dibo Tech SPA...</i></h6>
              </div>
              <div class="col col-lg-4 col-md-12 col-sm-12 align-content-center text-center">
                <div class="row align-content-center justify-content-center">
                  <button type="button" class="btn btn-primary btn-sm col-4 align-content-center" 
                            @onclick="Terminar">Terminar</button>
                </div>
                <div class="row mt-2 align-content-center justify-content-center">
                  <button type="button" class="btn btn-danger btn-sm col-4 align-content-center" 
                             @onclick="Cancelar">Cancelar</button>
                </div>
            </div>
          </div>
          <div class="contenedor-responsivo mt-2">
              <iframe class="iframe-responsivo" scrolling="no"
                style="background: white;" AllowTransparency="true" 
                src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c380090cfa49001bf70cd7" 
                frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
              </iframe>
          </div>
      </div>
      <div class="card-footer  align-content-end text-end mt-lg-2 mt-md=0">
         <a href="http://www.biometrikalatam.com" target="_blank">
            <img src="images/icono.jpg" width="25" height="25" />
         </a>
         <font style="font-size:small;"><i>Biometrika Latam - infor@Biometrika.cl</i></font>
      </div>
  </div>



@code {
    //Order order;

    //protected override async Task OnInitializedAsync()
    //{
    //    var query = await (from order in dbContext.Orders
    //                        .Include("Customer")
    //                        .Include("Employee")
    //                select order).Take(5).ToListAsync();

    //    order = query.FirstOrDefault();
    //}

    //double height = SystemParameters.VirtualScreenHeight;
    //double width = SystemParameters.VirtualScreenWidth;
    //double resolution = height * width
    string bgColor = "gray";


    public void Terminar()
    {
        Console.WriteLine("Terminar! Redirige...");
        navigator.NavigateTo("http://www.biometrikalatam.com");
    }

    public void Cancelar()
    {
        Console.WriteLine("Cancelar! Redirige...");
        navigator.NavigateTo("http://www.google.com");
    }
}

         @*<div class="container my-3 text-center">
  <div class="row border">
    <div class="col align-self-center align-content-center">
      Logo
    </div>
  </div>
  <div class="row border mt-sm-0 mt-md-0 mt-lg-2">
    <div class="col align-self-center align-content-center">
      <iframe
            width="800" height="700" style="background: #4F6497;" AllowTransparency="true" 
            src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c349c7402ebb001cb8a2ca" 
            frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
        </iframe>
    </div>
  </div>
  <div class="row border mt-5 mt-md-0">
    <div class="col align-self-center align-content-center">
      <i>powered by Biometrika</i>
    </div>
  </div>
</div>*@


@*<div class="contenedor">*@
@*<div class="row align-items-start">
    <div class="col-6">
        Logo
    </div>
    <div class="col-6">
        Titulo
    </div>
</div>

<div class="row align-items-center">
    <div class="col-12">
        <iframe
            width="100%" height="100%"
            src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c349c7402ebb001cb8a2ca" 
            frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
        </iframe>
    </div>
</div>

<div class="row align-items-end">
    <div class="col-12">
          Footer
    </div>
</div>*@
@*</div>*@
@*<div class="contenedor">
    
  <div class="hijo">
      <iframe id="myframe" width="100%" height="100%" allow="camera; microphone; geolocation"
            src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c349c7402ebb001cb8a2ca">
      </iframe>
  </div>
</div>*@


@*<div class="ma-0 mx-auto text-center align-content-center"
    style="max-width: 90%; height:100%">
  <div class="hijo">Centrado vertical y horizontal con FlexBox.</div>
</div>*@


@*<div style="align: center;">
<div class="row my-6">
        <div class="col-lg-8 col-xl-6 offset-lg-4 offset-xl-4">
            <RadzenCard class="m-6">
                <h3 class="h5">Contact</h3>
                <div class="d-flex flex-row">
                    <RadzenImage Path="images/logo_soluciones-11.png" 
                        Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                    <div>
                        <div>Employee</div>
                        <b>Gustavo Suhit</b>
                        <div class="mt-3">Company</div>
                        <b>Biometrika</b>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="m-6">
                <h3 class="h5">Delivery Information</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Country</div>
                        <b>Chile</b>
                        <div class="mt-3">City</div>
                        <b>Santiago</b>
                    </div>
                    <div class="col-md-8">
                        <div>Ship name</div>
                        <b>Gerardo Gallucci</b>
                        <div class="mt-3">Freight</div>
                        <b>80%</b>
                    </div>
                </div>
            </RadzenCard>
        </div>
</div>
</div>*@