﻿@page "/notfoundtx"
@inject NavigationManager navigator
@inject IJSRuntime _JS

<div class="contenedor-responsivo" style="background-color:@bgColor;">
    <div class="col-8 justify-content-center">
        <RadzenCard class="m-6" Style="height: 25vh;">
            <h3 class="h6 text-end">Id Transacción: @trackid</h3>
            <div class="d-flex flex-row">
                <RadzenImage Path="images/icono.jpg" 
                    Class="rounded-circle float-left mr-3" Style="width: 50px; height: 50px; margin:10px;" />
                <div class="mx-5">
                    <div class="mx-2">La transacción ingresada no existe!</div>
                    <b>Revise los datos ingresados sino comuniquese con soporte@Biometrika.cl</b>
                    <div class="mx-2 mt-3">Company</div>
                    <b>Biometrika</b>
                </div>
            </div>
            <div class="row">
                 @*<button type="button" class="btn btn-sm col-4 align-content-center"
                            style="background-color:@_ButtonColor"
                            @onclick="Cerrar">Cerrar</button>    *@ 
                            Cierre esta pagina para proseguir...
            </div>
        </RadzenCard>
        <RadzenCard class="m-6 col-12" Style="height: 5vh;">
            <div class="col-12 text-end">
                <i>Biometrika Latam - info@Biometrika.cl</i>
            </div>
        </RadzenCard>
    </div>
</div>


@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string trackid { get; set; }

    string bgColor = "#C0C0C0";
    string _ButtonColor = "darkgreen";
    string _TextColor = "black";


    BpTxDTO txDTO;

    private void OnButtonClick(string value)
    {
        
    }
   

    public async void Cerrar()
    {
        //Console.WriteLine("Cerrar!...");
        //await _JS.InvokeVoidAsync("alert","Hola");
        await _JS.InvokeVoidAsync("self.close");
        //Cerrar con javascript
    }

}