﻿@page "/wizard"
@inject NavigationManager navigator
@inject DialogService dialog
@inject IRepositorio _Repositorio
@inject IServiceBP _ServiceBP
@inject IJSRuntime _js

@if (_IsCheckingTx)
{
    <div>Wizard => Checking Tx...</div>
} else
{
    @if (_UseTheme)
    {
    
        <div class="card border-1" >
            @*<div class="card-header text-start">
                <font style="font-size:small;"><i>powered by</i> <b>Biometrika Latam</b></font>
          
            </div>*@
            <div class="card-body align-content-center text-center" style="background-color:@bgColor;">
                <div class="row">
                    <div class="col col-lg-4 col-md-12 col-sm-12">
                        <img src="images/logo_soluciones-11.png" class="mt-lg-2 mt-md=0" style="align-content:center;" width="200" height="100"  />  
                    </div>
                    <div class="col col-lg-4 col-md-12 col-sm-12 text-center">
                        <h5 class="card-title mt-lg-2 mt-md=0">Proceso de Verificación</h5>
                        <h6 class="card-subtitle mt-lg-2 mt-md=0"><i>Biometrika Latam verificará su identidad de acuerdo a los requisitos establecidos 
                                            por nuestro cliente Dibo Tech SPA...</i></h6>
                    </div>
                    <div class="col col-lg-4 col-md-12 col-sm-12 align-content-center text-center">
                    <div class="row align-content-center justify-content-center">
                        <button type="button" class="btn btn-primary btn-sm col-4 align-content-center" 
                                @onclick="Terminar">Terminar</button>
                    </div>
                    <div class="row mt-2 align-content-center justify-content-center">
                        <button type="button" class="btn btn-danger btn-sm col-4 align-content-center" 
                                    @onclick="Cancelar">Cancelar</button>
                    </div>
                </div>
                </div>
                <div class="contenedor-responsivo mt-2">
                    <iframe class="iframe-responsivo" scrolling="no"
                    style="background: white;" AllowTransparency="true" 
                    src="https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c380090cfa49001bf70cd7" 
                    frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
                    </iframe>
                </div>
            </div>
            <div class="card-footer  align-content-end text-end mt-lg-2 mt-md=0">
                <a href="http://www.biometrikalatam.com" target="_blank">
                <img src="images/icono.jpg" width="25" height="25" />
                </a>
                <font style="font-size:small;"><i>Biometrika Latam - infor@Biometrika.cl</i></font>
            </div>
        </div>
    } else
    {
        <div class="contenedor-responsivo mt-2">
                <iframe class="iframe-responsivo" scrolling="no" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
                AllowTransparency="true" 
                src="@_UrlMetamap" 
                frameborder="0" allowfullscreen allow="camera; microphone; geolocation">
                </iframe>
        </div>
    }
}



@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string trackid { get; set; }

    string bgColor = "#C0C0C0";
    string _ButtonColor = "darkgreen";
    string _TextColor = "black";

    bool _IsCheckingTx = true;
    bool _UseTheme = true;
    string _UrlMetamap = null;

    BpTxDTO txDTO;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(trackid))
            {
                navigator.NavigateTo("/notfoundtx");
            }

            //Trato de ver en localstorage si esta la Tx => Sino consulto al Servicio
            var txFromLocalStorage = await IJSRuntimeExtensionMethods.GetFromLocalStorage(_js, "tx"+trackid);

            if (txFromLocalStorage == null) {
                ResponseDTO response = await _ServiceBP.InitializeBpTx(trackid);

                if (response != null)
                {
                    if (response.Code == 0 && response.Response != null)
                    {
                        txFromLocalStorage = JsonConvert.SerializeObject((BpTxDTO)response.Response);
                        IJSRuntimeExtensionMethods.SetInLocalStorage(_js, "tx" + trackid, JsonConvert.SerializeObject((BpTxDTO)response.Response));


                    }
                    else
                    {
                        //Mostrar mensaje y redirigir?
                    }
                }
            } else
            {
                //Mostrar mensaje y redirigir?
            }

            if (txFromLocalStorage == null)
            {
                navigator.NavigateTo("/notfoundtx?trackid=" + trackid);

            } else
            {
                txDTO = JsonConvert.DeserializeObject<BpTxDTO>(txFromLocalStorage);
                BpThemeConfig theme = JsonConvert.DeserializeObject<BpThemeConfig>(txDTO.BpCompanyWorkflow.BpCompanyTheme.JsonConfig);
                bgColor = theme.colors.background;
                _UseTheme = txDTO.BpCompanyWorkflow.UseTheme;
                _UrlMetamap = "https://signup.getmati.com/?merchantToken=62c34849e98ff3001c9dac34&flowId=62c380090cfa49001bf70cd7";
                if (!string.IsNullOrEmpty(theme.colors.button))
                {
                    _UrlMetamap = _UrlMetamap + "&color=" + theme.colors.button;
                }
                if (!string.IsNullOrEmpty(theme.colors.textbutton))
                {
                    _UrlMetamap = _UrlMetamap + "&textColor=" + theme.colors.textbutton;
                }
                _UrlMetamap = _UrlMetamap + "&metadata={\"trackid\":\"" + trackid + "\"}";
                _IsCheckingTx = false;
            }

        }
        catch (Exception ex) //(AccessTokenNotAvailableException exception)
        {
            //ex.Redirect();
            Console.WriteLine(ex.Message);
        }
    }


    public void Terminar()
    {
        Console.WriteLine("Terminar! Redirige...");
        navigator.NavigateTo("http://www.biometrikalatam.com");
    }

    public void Cancelar()
    {
        Console.WriteLine("Cancelar! Redirige...");
        navigator.NavigateTo("http://www.google.com");
    }
}