﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notario Virtual</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/static_custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/styles/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/img/favicon/ms-icon-144x144.png">


    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/charts.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Scripts/jquery.peity.js"></script>
    <script src="~/Scripts/metisMenu.js"></script>
    <script src="~/Scripts/sparkline/index.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/homer.js"></script>
    @RenderSection("Scripts", required: false)

    <style>
        .input-validation-error {
            color: red;
            border-width: 2px;
            border-color: red !important;
            border-radius: 3px !important;
        }
    </style>
</head>

<body>
    <div id="header">
        <div class="color-line">
        </div>
        <div id="logo" style="background-color:white;" class="light-version">
            <span>
                @*<span class="LogoEmpresa">@System.Web.HttpContext.Current.Session["CompanyName"]</span>*@
                <table width="100%">
                    <tr>
                        <td align="center">
                            <a href="@Url.Action("Welcome", "Home")">
                                <img src="~/Images/IsotipoNV.png" style="width:37%;" />
                            </a>
                        </td>
                    </tr>
                </table>
            </span>
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">Biometrika</span>
            </div>

            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">

                    <li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="label label-success"></span>
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX">
                            <li>
                                <div class="title">
                                    @Html.ActionLink("Perfil", "Perfil", "User")
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="@Url.Action( "LogOff", "Account")">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
                <a href="@Url.Action("Welcome", "Home")">
                    @*<img src="~/Images/bss4.png" alt="logo">*@
                </a>

                <div class="stats-label text-color">

                    @if (@Roles.GetRolesForUser().Length > 0)
                    {
                        <span class="font-extra-bold font-uppercase">
                            @User.Identity.Name (@Roles.GetRolesForUser()[0])
                        </span>
                    }
                </div>
            </div>

            <ul class="nav" id="side-menu">
                
                    <li>
                        <a href="#"><span class="nav-label"><i class="fa fa-folder-open-o"></i>&nbsp; Operaciones</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level collapse">

                            @if (!User.IsInRole("Auditor"))
                            {
                                <li>
                                    <a href="@Url.Action("New", "Certification")">
                                        <i class="fa fa-plus-circle" style="color:lawngreen;"></i>&nbsp;Nueva Certificación
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("Find", "Certification")">
                                    <i class="fa fa-check-square"></i>&nbsp;Certificaciones
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "Recibo")">
                                    <i class="fa fa-file-pdf-o"></i>&nbsp;Recibos Digitales
                                </a>
                            </li>
                            @if (User.IsInRole("Super Admin"))
                            {
                                <li>
                                    <a href="@Url.Action("index", "Aplicacion")">
                                        <i class="fa fa fa-archive"></i>&nbsp;Aplicaciones
                                    </a>
                                </li>
                            }

                            @*<li>
                                    <a href="@Url.Action("index", "Extension")">
                                        <i class="fa fa fa-cube"></i>&nbsp;Extensiones
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                
                @if (User.IsInRole("Administrador"))
                {
                    <li>
                        <a href="#"><span class="nav-label"><i class="fa fa-cogs"></i> Administración</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level collapse">
                            @*<li>
                                <a href="@Url.Action( "Info", "Company")">
                                    <i class="fa fa-university"></i>&nbsp;Empresas
                                </a>
                            </li>*@
                            <li>
                                <a href="@Url.Action( "index", "User")">
                                    <i class="fa fa-users"></i>&nbsp;Usuarios
                                </a>
                            </li>

                            @*<li>
                                    <a href="@Url.Action( "IndexBase", "Point")">
                                        <i class="fa fa-building"></i>&nbsp;Puntos
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Super Admin"))
                {
                    <li>
                        <a href="#"><span class="nav-label"><i class="fa fa-cogs"></i> Biometrika Admin</span><span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level collapse">

                            <li>
                                <a href="@Url.Action( "index", "Company")">
                                    <i class="fa fa-university"></i>&nbsp;Empresas
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action( "indexSA", "User")">
                                    <i class="fa fa-users"></i>&nbsp;Usuarios
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action( "Index", "Config")">
                                    <i class="fa fa-cogs"></i>&nbsp;Config
                                </a>

                            </li>
                            @*<li>@Html.ActionLink("Geo", "Index", "Geo")</li>*@

                            <li>
                                <a href="@Url.Action( "IndexBase", "Point")">
                                    <i class="fa fa-building"></i>&nbsp;Puntos
                                </a>
                            </li>

                            @*<li>@Html.ActionLink("Log", "Index", "Log")</li>*@
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </aside>

    <div id="wrapper">
        <div class="content">

            <div class="row">
                <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.2s; -webkit-animation-delay: 0.2s;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    Biometrika&nbsp; &copy; Av. Tabancura 1515 Of 301 (CP 7650724) Vitacura - Santiago, Chile - TE: (+56)2-2402 9772 - <a href="mailto:info@biometrika.cl">info@biometrika.cl</a>
</body>
</html>