﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Certificación de Identidad</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <link href="~/Content/static_custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/styles/sweetalert.css" rel="stylesheet" />
    <link href="~/styles/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/styles/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#34b0e5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">


    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <script src="~/Scripts/modernizr-2.7.2.js"></script>
    <script src="~/Scripts/charts.js"></script>
    <script src="~/Scripts/icheck.js"></script>
    <script src="~/Scripts/jquery.peity.js"></script>
    <script src="~/Scripts/metisMenu.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            window.addEventListener("resize", CheckIfMobileAndHideSideBar);
            $(".sidebar-dropdown > a").click(function () {
                $(".sidebar-submenu").slideUp(200);
                if (
                    $(this)
                        .parent()
                        .hasClass("active")
                ) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .next(".sidebar-submenu")
                        .slideDown(200);
                    $(this)
                        .parent()
                        .addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
                //$("#biometrika-footer").removeClass("fixed-bottom-limit");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
                //$("#biometrika-footer").addClass("fixed-bottom-limit");
            });

            CheckIfMobileAndHideSideBar();

        });

        function CheckIfMobileAndHideSideBar() {
            let widthMatch = window.matchMedia("(min-width: 500px)");

            if (!widthMatch.matches) {
                //celulares ocultamos barra por defecto
                $(".page-wrapper").removeClass("toggled");
            } else {
                $(".page-wrapper").addClass("toggled");
            }
        }

        function CopyTextToClipboard(text, type) {
            var textArea = document.createElement("textarea");

            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;

            textArea.style.width = '2em';
            textArea.style.height = '2em';

            textArea.style.padding = 0;

            // Clean up any borders.
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';

            // Avoid flash of white box if rendered for any reason.
            textArea.style.background = 'transparent';


            textArea.value = text;

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
                alert(type + ' copiado!');
            } catch (err) {
                console.log('Oops, unable to copy');
            }

            document.body.removeChild(textArea);
        }

        function ConfigDatePicker(element, min = null, max = null) {
            if (min) {
                $(element).attr({
                    "min": min
                });
            }
            if (max) {
                $(element).attr({
                    "max": max
                });
            }
        }

        //function ConfigFechaDesdeHasta(fechaDesde, fechaHasta, maxFechaDesde) {
        //    ConfigDatePicker('#' + fechaDesde, moment().subtract(maxFechaDesde, 'days').format('YYYY-MM-DD'), moment().format('YYYY-MM-DD'));
        //    ConfigDatePicker('#' + fechaHasta, null, moment().format('YYYY-MM-DD'));
        //    document.getElementById(fechaDesde).addEventListener("change", function () {
        //        ConfigDatePicker('#' + fechaHasta, moment($('#' + fechaDesde).val()).format('YYYY-MM-DD'), moment().format('YYYY-MM-DD'));
        //    });
        //}


        function ConfigFechaDesdeHasta(fechaDesdeElement, fechaHastaElement, maxRange) {
            const today = moment().format('YYYY-MM-DD');
            ConfigDatePicker('#' + fechaDesdeElement, null, today);
            ConfigDatePicker('#' + fechaHastaElement, null, today);
            $('#' + fechaDesdeElement).change(function () {
                const fechaDesdeVal = moment($('#' + fechaDesdeElement).val()).format('YYYY-MM-DD');
                let max = moment(fechaDesdeVal).add(maxRange, 'days').format('YYYY-MM-DD');
                max = max > today ? today : max;
                ConfigDatePicker('#' + fechaHastaElement, fechaDesdeVal, max)
            });

            $('#' + fechaHastaElement).change(function () {
                const fechaHastaVal = moment($('#' + fechaHastaElement).val()).format('YYYY-MM-DD');
                ConfigDatePicker('#' + fechaDesdeElement, moment(fechaHastaVal).add(-maxRange, 'days').format('YYYY-MM-DD'), moment(fechaHastaVal).format('YYYY-MM-DD'));
            });

        }

        function TranslateDataTable(tableName) {
            $('#' + tableName).DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Filtrar resultados:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "columnDefs": [
                    { "orderable": false, "targets": [0, 1, 2, 7] }
                ],
                "order": [[3, "desc"]]
            });
        }
    </script>
    @RenderSection("Scripts", required: false)


    <style>
        .input-validation-error {
            color: red;
            border-width: 2px;
            border-color: red !important;
            border-radius: 3px !important;
        }
    </style>
</head>

<body>
    <div class="page-wrapper chiller-theme toggled" style="z-index:10">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fa fa-arrow-circle-right" title="Mostrar Barra de Navegación"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Certificación de Identidad</a>
                    <div id="close-sidebar">
                        <i class="fa fa-arrow-circle-left" title="Ocultar Barra de Navegación"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <a href="@Url.Action("Welcome", "Home")">
                            <img src="~/Images/IsotipoNV.png" />
                        </a>
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            @User.Identity.Name
                        </span>
                        @if (@Roles.GetRolesForUser().Length > 0)
                        {
                            <span class="user-role">
                                @Roles.GetRolesForUser()[0]
                            </span>
                        }
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->

                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Operaciones</span>
                        </li>
                        <li class="sidebar-dropdown" id="sidebar-dropdown-certification">
                            <a href="#">
                                <i class="fa fa-check"></i>
                                <span>Certificaciones</span>
                            </a>
                            <div class="sidebar-submenu" id="sidebar-submenu-certification">
                                <ul>
                                    @if (!User.IsInRole("Auditor"))
                                    {
                                        <li>
                                            <a href="@Url.Action("New", "Certification")">
                                                <i class="fa fa-plus-circle" style="color:lawngreen;"></i>&nbsp;Nueva Certificación
                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a href="@Url.Action("Find", "Certification")">
                                            <i class="fa fa-check-square"></i>&nbsp;Certificaciones
                                        </a>
                                    </li>
                                    @*@if (User.IsInRole("Super Admin"))
                                    {
                                        <li>
                                            <a href="@Url.Action("FindProcedures", "Certification")">
                                                <i class="fa fa-check-circle-o"></i>&nbsp;Trámites
                                            </a>
                                        </li>
                                    }*@

                                </ul>
                            </div>
                        </li>
                        <!-- >li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-hand-paper-o"></i>
                                <span>Recibos</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("index", "Recibo")">
                                            <i class="fa fa-file-pdf-o"></i>&nbsp;Recibos Digitales
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li -->
                        @*@if (User.IsInRole("Super Admin"))
                        {
                            <li class="header-menu">
                                <span>Aplicaciones</span>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "Aplicacion")">
                                    <i class="fa fa-archive"></i>&nbsp;Aplicaciones
                                </a>
                            </li>

                        }*@
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="header-menu">
                                <span>Administración</span>
                            </li>

                            <li>
                                <a href="@Url.Action( "index", "User")">
                                    <i class="fa fa-users"></i>&nbsp;Usuarios
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action( "Index", "Config")">
                                    <i class="fa fa-cogs"></i>&nbsp;Config
                                </a>

                            </li>
                        }

                        @if (User.IsInRole("Super Admin"))
                        {
                            <li class="header-menu">
                                <span>Biometrika Admin</span>
                            </li>

                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-connectdevelop"></i>
                                    <span>Administración</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="@Url.Action( "index", "Company")">
                                                <i class="fa fa-university"></i>&nbsp;Empresas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action( "indexSA", "User")">
                                                <i class="fa fa-users"></i>&nbsp;Usuarios
                                            </a>
                                        </li>

                                        @*<li>@Html.ActionLink("Geo", "Index", "Geo")</li>*@

                                        <li>
                                            <a href="@Url.Action( "IndexBase", "Point")">
                                                <i class="fa fa-building"></i>&nbsp;Puntos
                                            </a>
                                        </li>
        
                                        <li>
                                            <a href="@Url.Action("index", "Aplicacion")">
                                                <i class="fa fa-archive"></i>&nbsp;Aplicaciones
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action( "Index", "CompanyWorkFlow")">
                                                <i class="fa fa-filter"></i>&nbsp;WorkFlows
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        <li class="header-menu">
                            <span>Ayuda</span>
                        </li>

                        <li>
                            <a href="http://qacimanager.biometrikalatam.com/FAQ/" target="_blank">
                                <i class="fa fa-book"></i>&nbsp;Manual de Usuario
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                @*<a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge-sonar"></span>
                    </a>*@
                <a href="@Url.Action( "LogOff", "Account")">
                    <i class="fa fa-power-off" title="Cerrar Sesión"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content" style="z-index:4">
            @RenderBody()

            <div class="card-footer text-muted text-center" id="biometrika-footer">
                Biometrika LATAM Av. Tabancura 1515 Of 418 (CP 7650724) Vitacura - Santiago, Chile - TE: (+56)2-2402 9772 - <a href="mailto:info@biometrika.cl">info@biometrika.cl</a>
            </div>
        </main>

    </div>


</body>
</html>