﻿@model IEnumerable<BCR.Bio.Domain.Interface.ICountry>

<select name="TownId" id="TownId" class = "form-control" >
    @foreach (BCR.Bio.Domain.Country country in Model)
    {
        foreach (BCR.Bio.Domain.Dept dept in country.Depts)
        {
            foreach (BCR.Bio.Domain.City city in dept.Cities)
            {
                <optgroup label="@country.Description/@dept.Description/@city.Description">
                    @foreach (BCR.Bio.Domain.Town town in city.Towns)
                    {
                        var add = "";
                        if ((int)ViewData["id"] == town.Id)
                        {
                            add = " selected";
                        }
                        <option value="@town.Id" @add>@town.Description</option>
                    }
                </optgroup>
            }

        }

    }
</select>