﻿@model WebNV.Models.Admin.HQModel

<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Company, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.CompanyName, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Id, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Id, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Contact, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(m => m.Town, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.Partial("_SelectTown", Model.Countries, new ViewDataDictionary { { "id", Model.TownId } })
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.CompanyId)