﻿@model WebNV.Models.Admin.BpCompanyModel

@*@if (Model.HoldingList != null)
{

    <div class="form-group">
        @Html.LabelFor(m => m.Holding, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.Holding, new SelectList(Model.HoldingList, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
    <hr />
}*@

<div class="form-group">
    @Html.LabelFor(m => m.Rut, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Rut)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Name)
    </div>

    @Html.LabelFor(m => m.Domain, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Domain)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Address)
    </div>

    @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Phone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Phone2, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Phone2)
    </div>

    @Html.LabelFor(m => m.Fax, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Fax)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ContactName, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.ContactName)
    </div>

    @Html.LabelFor(m => m.Status, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Status)
    </div>
</div>

@*<div class="form-group">
    @Html.LabelFor(m => m.SignWithTSA, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.SignWithTSA)
    </div>

    @Html.LabelFor(m => m.PersistFalseVerification, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.PersistFalseVerification)
    </div>
</div>*@