﻿@model WebNV.Models.Admin.BpCompanyModel

@{
    ViewBag.Title = "Crear Compañia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="card">
            <h5 class="card-header text-white">Ingrese los Datos</h5>
            <div class="card-body">
                @Html.Partial("_Fields", Model)
            </div>

            <div class="card-footer">

                <button type="submit" class="btn btn-primary ">
                    <i class="fa fa-floppy-o"></i> Crear Empresa
                </button>
                <a href="@Url.Action("index")" class="btn btn-warning  ">
                    <i class="fa fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    }
</div>