﻿@model WebNV.Models.Admin.BpCompanyModel

@using (Html.BeginForm("Delete", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Confirmar borrado
        </div>
        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(m => m.Rut, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Rut, new { @class = "form-control", @readonly = "readonly" })
                   
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                    
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Domain, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Domain, new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone2, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control", @readonly = "readonly" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Fax, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @readonly = "readonly" })


                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ContactName, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @readonly = "readonly" })
                        
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Status, new { @class = "col-sm-2 control-label" })
                <div class="col-xs-4">
                     
                    @Html.DisplayFor(m => m.Status,new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn  btn-default ">
                <i class="fa fa-trash"></i> Eliminar
            </button>
            <a href="@Url.Action("index")" class="btn    btn-default  ">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </div>
    </div>
}