﻿@model WebNV.Models.Admin.BpCompanyModel

@{
    ViewBag.Title = "Editar Compañia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="card">
            <h5 class="card-header text-white">Ingrese los Datos</h5>
            <div class="card-body">
                @Html.Partial("_Fields", Model)
            </div>

            <div class="card-footer">

                <button type="submit" class="btn btn-primary ">
                    <i class="fa fa-floppy-o"></i> Guardar
                </button>
                <a href="@Url.Action("index")" class="btn btn-warning  ">
                    <i class="fa fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    }

    <div class="card">
        <ul class="nav nav-tabs card-header text-white">
            <li class="active"><button class="btn btn-sm btn-info" data-toggle="tab" href="#tab-1" aria-expanded="true"><i class="fa fa-sitemap"></i>-Sedes</button></li>
            <li class=""><button class="btn btn-sm btn-info" data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-bookmark-o"></i>-Sectores</button></li>
        </ul>
        <div class="card-body">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    @if (Model.HQs != null)
                    {
                        <div class="panel-heading hbuilt ">
                            Sedes
                            <div class="btn-group pull-right">
                                @if (Model.EndDate == null)
                                {
                                    <a href="@Url.Action("AddHQ", new { company = @Model.Id, back = @Request.Url.ToString() })" class="btn btn-sm btn-toolbar btn-default">
                                        <i class="fa fa-plus-circle"></i> Agregar Sede
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-default disabled ">
                                        <i class="fa fa-plus-circle"></i> Agregar Sede
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="panel-body">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center" id="tablaInfo">
                                <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>Descripción</th>
                                        <th>Dirección</th>
                                        <th>Contacto</th>
                                        <th>Teléfono</th>
                                        <th>Barrio</th>
                                        <th>Fin</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.HQs)
                                    {
                                        var isDisabled = "";
                                        if (item.EndDate != null)
                                        {
                                            isDisabled = "class='danger'";
                                        }
                                        <tr @Html.Raw(isDisabled)>

                                            <td>@item.Id</td>
                                            <td>@item.Description</td>
                                            <td>@item.Address</td>
                                            <td>@item.Contact</td>
                                            <td>@item.Phone</td>
                                            <td>
                                                @if (item.Town != null)
                                                {
                                                    @item.Town.Description
                                                }
                                            </td>
                                            <td>
                                                @item.EndDate
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditHQ", new { company = @Model.Id, hqId=item.Id ,back = @Request.Url.ToString() })" class="btn  btn-sm   btn-default ">
                                                    <i class="fa fa-pencil"></i> Editar
                                                </a>
                                                @*<a href="#" class="btn btn-default" onclick="DeleteSede(@item.Id)">
                                                        <i class="fa fa-trash"></i> Eliminar
                                                    </a>*@
                                                @if (item.EndDate == null)
                                                {
                                                    <a href="@Url.Action("DisableHQ", new { id = item.Id ,back = @Request.Url.ToString()})" class="btn  btn-sm btn-default ">
                                                        <i class="fa fa-toggle-off"></i> Deshabilitar
                                                    </a>
                                                }
                                                else
                                                {

                                                    if ((item.Company.EndDate == null))
                                                    {
                                                        <a href="@Url.Action("EnableHQ", new { id = item.Id ,back = @Request.Url.ToString()})" class="btn  btn-sm btn-default ">
                                                            <i class="fa fa-toggle-on"></i> Habilitar
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn  btn-sm  btn-default disabled" title="Compañia no habilitado.">
                                                            <i class="fa fa-toggle-on"></i> Habilitar
                                                        </a>
                                                        <i class="fa fa-comment" rel="tooltip" id="blah" title="Compañia no habilitado."></i>
                                                    }

                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div id="tab-2" class="tab-pane">
                    @if (Model.Sectors != null)
                    {
                        <div class="panel-heading hbuilt ">
                            Sectores
                            <div class="btn-group pull-right">
                                @if (Model.EndDate == null)
                                {
                                    <a href="@Url.Action("AddSector", new { company = @Model.Id, back = @Request.Url.ToString() })" class="btn btn-sm  btn-default ">
                                        <i class="fa fa-plus-circle"></i> Agregar Sector
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-default disabled">
                                        <i class="fa fa-plus-circle"></i> Agregar Sector
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="panel-body">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center" id="tablaInfo">
                                <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>Descripción</th>
                                        <th>Puntos</th>
                                        <th>Fin</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Sectors)
                                    {
                                        var isDisabled = "";
                                        if (item.EndDate != null)
                                        {
                                            isDisabled = "class='danger'";
                                        }
                                        <tr @Html.Raw(isDisabled)>

                                            <td>@item.Id</td>
                                            <td>@item.Description</td>
                                            <td>
                                                @if (item.Points != null)
                                                {
                                                    <a>link</a>
                                                }
                                            </td>
                                            <td>@item.EndDate</td>
                                            <td>
                                                <a href="@Url.Action("EditSector", new { company = @Model.Id, sectorId=item.Id ,back = @Request.Url.ToString() })" class="btn  btn-sm  btn-default">
                                                    <i class="fa fa-pencil"></i> Editar
                                                </a>
                                                @*<a href="#" class="btn btn-default" onclick="DeleteSector(@item.Id)">
                                                        <i class="fa fa-trash"></i> Eliminar
                                                    </a>*@
                                                @if (!item.IsDisable)
                                                {
                                                    <a href="@Url.Action("DisableSector", new { id = item.Id ,back = @Request.Url.ToString()})" class="btn  btn-sm  btn-default  ">
                                                        <i class="fa fa-toggle-off"></i> Deshabilitar
                                                    </a>
                                                }
                                                else
                                                {

                                                    if (!Model.IsActive)
                                                    {
                                                        <a href="@Url.Action("EnableSector", new { id = item.Id ,back = @Request.Url.ToString()})" class="btn  btn-sm  btn-default  ">
                                                            <i class="fa fa-toggle-on"></i> Habilitar
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn  btn-sm  btn-default disabled" title="Compañia no habilitado.">
                                                            <i class="fa fa-toggle-on"></i> Habilitar
                                                        </a>
                                                        <i class="fa fa-comment" rel="tooltip" id="blah" title="Compañia no habilitado."></i>
                                                    }

                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>