﻿@model WebNV.Models.Admin.SectorModel

@{
    ViewBag.Title = "Editar Sector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditSector", "Company", FormMethod.Post, new { name = "formid", Id = "formid", @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt ">
            Editando Sector
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.CompanyName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CompanyName, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.Id, new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.Id, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.ContactName, new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.CompanyId)
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-floppy-o"></i>
                Grabar Sector
            </button>
            <a class="btn btn-default " href="@Model.Back">
                <i class="fa fa-times"></i>Volver
            </a>
            @Html.ValidationSummary(false, "Error en el ingreso.")
        </div>
    </div>
}