﻿@model WebNV.Models.Admin.HQModel

@{
    ViewBag.Title = "Editar Sede";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditHQ", "Company", FormMethod.Post, new { name = "formid", Id = "formid", @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt ">
            Editando Sede
        </div>
        <div class="panel-body">

            @Html.Partial("_FieldsHQ", Model)
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-floppy-o"></i>
                Grabar Sede
            </button>
            <a class="btn btn-default " href="@Model.Back">
                <i class="fa fa-times"></i>Volver
            </a>
            @Html.ValidationSummary(false, "Error en el ingreso.")
        </div>
    </div>
}