﻿@model IEnumerable<WebNV.Models.Admin.BpCompanyModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <h5 class="card-header text-white">Buscador de Compañías</h5>
        <div class="card-body">
            @using (Html.BeginForm("Index", "Company", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                <div class="form-group">
                    <label class="sr-only" for="RutToSearch">
                        Rut
                    </label>
                    <div class="col-sm-2">
                        @Html.TextBox("RutToSearch", null, new { placeholder = "Ingrese Rut", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="RazonSocialToSearch">
                        Razón Social
                    </label>
                    <div class="col-sm-6">
                        @Html.TextBox("RazonSocialToSearch", null, new { placeholder = "Razón Social", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="EstadoToSearch">
                        Estado
                    </label>
                    <div class="col-sm-4">
                        <select name="EstadoToSearch" id="EstadoToSearch" class="form-control">
                            <option selected="selected" value="-1">Seleccione un Estado</option>
                            <option value="0">Todas</option>
                            <option value="1">Activas</option>
                            <option value="2">Inactivas</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Buscar
                </button>

            }
        </div>
    </div>

    <div class="card">
        <h5 class="card-header text-white">Listado de Compañías</h5>

        <div class="panel-body">
            <div class="pull-right p-3">
                <a href="@Url.Action("Create")" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    <span>Agregar</span>
                </a>
            </div>
            <table class="table table-striped table-responsive-sm table-hover table-bordered table-condensed">
                <tr>
                    <th scope="col">&nbsp;</th>

                    <th scope="col">Id</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Address</th>
                    <th scope="col">Name</th>
                    <th scope="col">Domain</th>
                    <th scope="col">Phone</th>
                    <th scope="col">CreateDate</th>
                    <th scope="col">Status</th>
                    <th scope="col">Endate</th>
                </tr>
                @foreach (var item in Model)
                {
                    var isDisabled = "";
                    if (item.EndDate != null)
                    {
                        isDisabled = "class='danger'";
                    }

                    <tr @Html.Raw(isDisabled)>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn  btn-sm btn-default  ">
                                <i class="fa fa-pencil"></i> Editar
                            </a>

                            @*<a href="@Url.Action("Delete", new { id = item.Id })" class="btn  btn-sm  btn-default  ">
                            <i class="fa fa-trash"></i> Eliminar
                        </a>*@

                            @*@if (item.EndDate == null)
                            {
                                <a href="@Url.Action("Disable", new { id = item.Id })" class="btn  btn-sm  btn-default  ">
                                    <i class="fa fa-toggle-off"></i> Deshabilitar
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Enable", new { id = item.Id })" class="btn  btn-sm  btn-default  ">
                                    <i class="fa fa-toggle-on"></i> Habilitar
                                </a>
                            }*@
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rut)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Domain)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    </tr>

                }
            </table>
        </div>

    </div>
</div>