﻿@model WebNV.Models.Admin.BpCompanyModel

@{
    ViewBag.Title = "Info de la Compañia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Info", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Ingrese los datos
        </div>
        <div class="panel-body">

            @Html.Partial("_Fields", Model)
        </div>

        <div class="panel-footer">
            
 
            @Html.ValidationSummary(false, "Error en el ingreso.")
        </div>
    </div>
}

<div class="hpanel">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"><i class="fa fa-sitemap"></i>-Sedes</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-bookmark-o"></i>-Sectores</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            @if (Model.HQs != null)
            {
                <div class="panel-heading hbuilt ">
                    Sedes
                  
                </div>
                <div class="panel-body">
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center" id="tablaInfo">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th>Descripción</th>
                                <th>Dirección</th>
                                <th>Contacto</th>
                                <th>Teléfono</th>
                                <th>Barrio</th>
                                <th>Fin</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HQs)
                            {
                                var isDisabled = "";
                                if (item.EndDate != null)
                                {
                                    isDisabled = "class='danger'";
                                }
                                <tr @Html.Raw(isDisabled)>

                                    <td>@item.Id</td>
                                    <td>@item.Description</td>
                                    <td>@item.Address</td>
                                    <td>@item.Contact</td>
                                    <td>@item.Phone</td>
                                    <td>
                                        @if (item.Town != null)
                                        {
                                            @item.Town.Description
                                        }
                                    </td>
                                    <td>
                                        @item.EndDate
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

        <div id="tab-2" class="tab-pane">
            @if (Model.Sectors != null)
            {
                <div class="panel-heading hbuilt ">
                    Sectores
 
                </div>
                <div class="panel-body">
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center" id="tablaInfo">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th>Descripción</th>
                                <th>Puntos</th>
                                <th>Fin</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Sectors)
                            {
                                var isDisabled = "";
                                if (item.EndDate != null)
                                {
                                    isDisabled = "class='danger'";
                                }
                                <tr @Html.Raw(isDisabled)>

                                    <td>@item.Id</td>
                                    <td>@item.Description</td>
                                    <td>
                                        @if (item.Points != null)
                                        {
                                            <a>link</a>
                                        }
                                    </td>
                                    <td>@item.EndDate</td>
 
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>