﻿@model DateTime?
<div class="input-group">
    @Html.TextBox("", (Model.HasValue ? Model.Value.ToString("dd/MM/yyyy") : string.Empty), new { @class = "form-control datePicker" })
    <label for="@ViewData.TemplateInfo.HtmlFieldPrefix" class="input-group-addon btn">
        <span class="glyphicon glyphicon-calendar"></span>
    </label>
</div>

