﻿@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        @*Biometrika Solutions*@
        <MudSpacer />
        
        <MudIconButton Icon="@Icons.Filled.DarkMode" Edge="Edge.End" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Edge="Edge.End" Color="Color.Inherit" />
        <MudBadge Color="Color.Success" Overlap="true" Bordered="true" OnClick="@((e) => Profile())">
            <MudAvatar Image="/images/Notarized.png" />
        </MudBadge>
        @*<LoginDisplay />*@
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        //_isDarkMode = _drawerOpen;
    }

    void DarkMode()
    {
        _isDarkMode = !_isDarkMode;
    }


    void Profile()
    {
        Navigation.NavigateTo("authentication/profile");
    }
}

@*<div class="page">

    <!-- Radzen Zone -->
    <RadzenContextMenu />
    <RadzenDialog />
    <RadzenNotification />
    <RadzenTooltip />
    <!-- Radzen Zone End -->

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
