﻿
@*<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
    <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
    <MudNavGroup Title="Settings" Expanded="true">
        <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
        <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>*@

<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">
        <MudImage Src="/images/biometrika.png" Class="px-4 align-content-center" Style="width:80%;height:40px;align:center;"></MudImage>
        @*<MudText Typo="Typo.h6" Class="px-4">Biometrika Solutions</MudText>*@
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Biometrika Solutions v7.5</MudText>
        <LoginDisplay />
        <MudDivider Class="my-2" />
        <MudNavLink Href="/dashboardgral" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>

        <MudNavGroup Title="BioPortal" Icon="@Icons.Filled.Fingerprint" Expanded="true">
            <MudNavLink Href="/dashboard" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavGroup Title="Operación" Icon="@Icons.Filled.GroupWork" Expanded="true">
                <MudNavLink Href="/identities" Icon="@Icons.Filled.Group">Identidades</MudNavLink>
                <MudNavLink Href="/identities" Icon="@Icons.Filled.PlaylistAdd">Nueva Transacción</MudNavLink>
                <MudNavLink Href="/BPTxGrid" Icon="@Icons.Filled.ChecklistRtl">Transacciones</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>

        <MudNavGroup Title="Document Electronic" Icon="@Icons.Filled.DocumentScanner" Expanded="true">
            <MudNavLink Href="/dashboard" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavGroup Title="Operación" Icon="@Icons.Filled.GroupWork" Expanded="true">
                @*<MudNavLink  Href="/identities" Icon="@Icons.Filled.DeleteForever">Identidades</MudNavLink>*@
                <MudNavLink Href="/DETxGrid" Icon="@Icons.Filled.ListAlt">Documentos</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="Certification Identity" Icon="@Icons.Filled.Approval" Expanded="true">
            <MudNavLink Href="/dashboard" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
             <MudNavGroup Title="Operación" Icon="@Icons.Filled.GroupWork" Expanded="true">
                <MudNavLink Href="/identities" Icon="@Icons.Filled.AddTask">Nueva Certificación</MudNavLink>
                <MudNavLink Href="/BPTxGrid" Icon="@Icons.Filled.PlaylistAddCheckCircle">Certificaciones</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>

        <MudNavGroup Title="Administración" Icon="@Icons.Filled.Settings" Expanded="true">
            <MudNavGroup Title="BioPortal" Icon="@Icons.Filled.Fingerprint" Expanded="true">
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.ColorLens">Temas BPWeb</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.ControlCamera">Méritos</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.Map">Metamapas</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.Engineering">Workflows</MudNavLink>
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.Settings">Configuración</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Document Electronic" Icon="@Icons.Filled.DocumentScanner" Expanded="true">
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.AppRegistration">Templates</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.Engineering">Workflows</MudNavLink>
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.Settings">Configuración</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Certification Identity" Icon="@Icons.Filled.Approval" Expanded="true">
                <MudNavLink Href="/identities" Icon="@Icons.Filled.Engineering">Workflows</MudNavLink>
                <MudNavLink Href="/BPTxGrid" Icon="@Icons.Filled.ColorLens">Temas</MudNavLink>
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.Settings">Configuración</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="General" Icon="@Icons.Filled.GroupWork" Expanded="true">
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.Animation">Origenes</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.AppSettingsAlt">Clientes</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.Groups">Usuarios</MudNavLink>
                <MudNavLink Href="/BPWebWorkflows" Icon="@Icons.Filled.CorporateFare">Empresas</MudNavLink>
                <MudNavLink Href="/BPWebThemes" Icon="@Icons.Filled.Settings">Configuración</MudNavLink>
            </MudNavGroup>
           @* <MudNavGroup Title="General" Icon="@Icons.Filled.AdminPanelSettings" Expanded="true">
                <MudNavGroup Title="Level 2" Icon="@Icons.Filled.People" Expanded="true">
                    <MudNavGroup Title="Level 3" Icon="@Icons.Filled.Lock" Expanded="true">
                        <MudNavLink Href="/delete" Icon="@Icons.Filled.DeleteForever">Delete Password</MudNavLink>
                    </MudNavGroup>
                </MudNavGroup>
            </MudNavGroup>*@
        </MudNavGroup>
        <MudNavLink Href="/billing" Icon="@Icons.Filled.HelpCenter">Ayuda</MudNavLink>
        <MudNavLink Href="/billing" Icon="@Icons.Filled.Receipt">Cerrar Sesion</MudNavLink>
    </MudNavMenu>
</MudPaper>
