﻿<div class="top-row ps-3 navbar navbar-dark" @onclick="ToggleNavMenu">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Biometrika.Solutions</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @*<RadzenCard Style="width: fit-content; margin:0px;" >  *@
        <RadzenPanelMenu Visible="@collapseNavMenu" Style="width:100%; margin-left:0px; ">
                <RadzenPanelMenuItem Text="BioPortal" Icon="fingerprint">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard"  Path="dashboardbp" />
                    <RadzenPanelMenuItem Text="Operación" Icon="home">
                        <RadzenPanelMenuItem Text="Identidades" Path="IdentitiesGrid" Icon="group"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Transacciones" Path="CITxGrid" Icon="list_alt"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Certification Identity" Icon="approval">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard"  Path="dashboardci" />
                    <RadzenPanelMenuItem Text="Operación" Icon="home">
                        <RadzenPanelMenuItem Text="Certificaciones" Path="CITxGrid" Icon="list_alt"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Nueva Certificación" Path="newcertificacion" Icon="playlist_add"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Document Electronic" Icon="pending_actions">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard"  Path="dashboardde" />
                    <RadzenPanelMenuItem Text="Operación" Icon="home">
                        <RadzenPanelMenuItem Text="Certificaciones" Path="CITxGrid" Icon="list_alt"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Nueva Certificación" Path="newcertificacion" Icon="post_add"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Diseño" Icon="design_services">
                        <RadzenPanelMenuItem Text="Tipos Documentos" Path="documents" Icon="snippet_folder"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Nueva Certificación" Path="newcertificacion" Icon="post_add"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Bio Web Certification" Icon="approval">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard"  Path="dashboardbwci" />
                    <RadzenPanelMenuItem Text="Operación" Icon="home">
                        <RadzenPanelMenuItem Text="Certificaciones" Path="CITxGrid" Icon="list_alt"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Nueva Certificación" Path="newcertificacion" Icon="playlist_add"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem Text="Administración" Icon="settings">
                    <RadzenPanelMenuItem Text="Empresas" Path="companies" Icon="business"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Usuarios" Path="users" Icon="supervisor_account"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Puntos" Path="points" Icon="maps_home_work"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="BP Config" Icon="fingerprint">
                        <RadzenPanelMenuItem Text="Configuraciones" Path="config" Icon="settings_suggest"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Temas BPWeb" Path="themesBPWebGrid" Icon="color_lens"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Forms BPWeb" Path="formsBPWebGrid" Icon="format_align_justify"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Orígenes" Path="originGrid" Icon="trip_origin"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                     <RadzenPanelMenuItem Text="CI Config" Icon="approval">
                        <RadzenPanelMenuItem Text="Configuraciones" Path="config" Icon="settings_suggest"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="WorkFlows" Path="workflows" Icon="account_tree"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                     <RadzenPanelMenuItem Text="DE Config" Icon="pending_actions">
                        <RadzenPanelMenuItem Text="Configuraciones" Path="config" Icon="settings_suggest"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                     <RadzenPanelMenuItem Text="BPWCI Config" Icon="fingerprint">
                        <RadzenPanelMenuItem Text="Configuraciones" Path="config" Icon="settings_suggest"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Motivos" Path="reasons" Icon="format_list_bulleted"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                   @* <RadzenPanelMenuItem Text="Puntos" Path="config" Icon="settings"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Aplicaciones" Path="config" Icon="settings"></RadzenPanelMenuItem>*@
                    
                </RadzenPanelMenuItem>
               @* <RadzenPanelMenuItem Text="Data" Icon="save">
                    <RadzenPanelMenuItem Text="DataGrid" Path="datagrid" Icon="grid_on"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="DataList" Path="datalist" Icon="list"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="DropDown" Path="dropdown" Icon="dns"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="DropDownDataGrid" Path="dropdown-datagrid" Icon="receipt"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="ListBox" Path="listbox" Icon="view_list"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="TemplateForm" Path="templateform" Icon="line_style"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Containers" Icon="account_box">
                    <RadzenPanelMenuItem Text="Tabs" Path="tabs" Icon="tab"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Panel" Path="panel" Icon="content_paste"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Fieldset" Path="fieldset" Icon="account_balance_wallet"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Card" Path="card" Icon="line_style"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>*@
                
                <RadzenPanelMenuItem Text="More" Icon="more_vert">
                    <RadzenPanelMenuItem Text="Counter" Path="counter"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="FecthData" Path="fetchdata"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="RzDataGrid" Path="RzDataGrid"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="More items" Icon="more_vert">
                        <RadzenPanelMenuItem Text="More sub items">
                            <RadzenPanelMenuItem Text="Item1"></RadzenPanelMenuItem>
                            <RadzenPanelMenuItem Text="Item2"></RadzenPanelMenuItem>
                        </RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Ayuda" Path="http://qacimanager.biometrikalatam.com/FAQ/" Icon="help_center" Target="_blank"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Salir" Path="logout" Icon="logout"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
    @*</RadzenCard>*@
   @* <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>*@
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
