﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Bio.Portal.Server.Services.Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <TABLE width="100%" align="center">
    <TR height="200">
    	<TD>&nbsp;</TD>
    	<TD>&nbsp;</TD>
    	<TD>&nbsp;</TD>
    </TR>
    <TR height="100">
    	<TD></TD>
    	<TD align="center"><IMG SRC="images/logo_bps_gral1.gif" WIDTH="311" HEIGHT="47" BORDER="0" ALT="Default"></TD>
    	<TD></TD>
    </TR>
    <TR>
    	<TD>&nbsp;</TD>
    	<TD align="center"><FONT SIZE="" COLOR="blue"><B>Started!</B></FONT></TD>
    	<TD>&nbsp;</TD>
    </TR>
    </TABLE>
    </div>
    </form>
</body>
</html>
