<%@ Page Language="C#" MasterPageFile="~/MDMasterPage.master" AutoEventWireup="true" CodeBehind="main.aspx.cs" Inherits="Biometrika.Document.Electronic.pages.main" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
    <br />
    <br />
    <br />
    <br />
    <br />

    <table width="70%" align="center">
        <tr>
            <td align="center" valign="middle">
                <img src="~/images/logo_bdm_final.png" runat="server" />
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                &nbsp;
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                <i>powered by</i>
            </td>
        </tr>
        <tr>    
            <td align="center" valign="middle">
                <img id="Img2" src="~/images/logo_chico.gif" runat="server" />
            </td>          
        </tr>
       <tr>    
            <td align="center" valign="middle">
                <i>v2.1</i>
            </td>
        </tr>       
    </table>
</asp:Content>
