﻿@model IEnumerable<BCR.Bio.Domain.NV.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .icon-verde {
        color: green;
    }

    .icon-rojo {
        color: red;
    }

    .icon-azul {
        color: blue;
    }
</style>

<div class="content animate-panel">
    <div class="col-lg-12 animated-panel zoomIn" style="-webkit-animation-delay: 0.4s;">
        <div class="hpanel">
            <div class="panel-heading  hbuilt">
                Filtros
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Transaction", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    <div class="form-group">
                        <label class="sr-only" for="ApellidoToSearch">
                            Apellido
                        </label>
                        @Html.TextBox("ApellidoToSearch", null, new { placeholder = "Ingrese apellido", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="NroRUTToSearch">
                            Apellido
                        </label>
                        @Html.TextBox("NroRUTToSearch", null, new { placeholder = "Ingrese Nro. RUT", @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-sm">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>

                }
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Transacciones
            </div>
            <div class="panel-body">
                Transacciones realizadas por el sistema.

                <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive table-striped text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">RUT</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Resultado</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Terminal</th>
                        <th scope="col">Documento</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @String.Format("{0:dd/MM/yyyy hh:mm}", item.EventTime)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Rut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatherLastName) - @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>

                                @if (item.Result)
                                {
                                    <span class="fa fa-check-circle icon-verde"></span>
                                }
                                else
                                {
                                    <span class="fa fa-minus-circle  icon-rojo"></span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTerminal)
                            </td>

                            <td>
                                <a href="@Url.Action("InternalShowReport", "audit", new { id = item.CodigoAutorizacion })" class="btn btn-sm     ">
                                    <i class="fa fa-file"></i> Comprobante
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="panel-footer">
                <ul class="pagination">

                    
                    @{
                        var ultimaPagina = 0;
                        var indicadorPlus = false;
                    }
                    @if (ViewBag.Paginacion.Total > 300)
                    {
                        ultimaPagina = 30;
                        indicadorPlus = true;
                    }
                    else
                    {
                        ultimaPagina = (@ViewBag.Paginacion.Total / @ViewBag.Paginacion.Cantidad);
                    }

                    @for (var i = 1; i <= ultimaPagina + 1; i++)
                    {
                        var dclass = "btn btn-primary   btn-sm ";
                        if (@ViewBag.Paginacion.Pagina == i - 1)
                        {
                            dclass = dclass + " active";
                        }
                        <li class="paginate_button " aria-controls="example2" tabindex="0">
                            @Html.ActionLink(@i.ToString(), "index", "Transaction", new { id = i - 1, ApellidoToSearch = @ViewBag.ApellidoToSearch, NroRUTToSearch = @ViewBag.NroRUTToSearch }, new { @class = dclass })
                        </li>
                    }
                    @if (indicadorPlus)
                    {
                        <li class="paginate_button " aria-controls="example2" tabindex="0">
                           <a href="" class="dclass">...</a> 
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>