
/* -------------------- Tablas ----------------------- */
td.masterpage_top 
{
	background-color: #356734;
	font-family:Neuropol,Verdana,Times New Roman;
	font-size:larger;
	font-weight:bold;
	color:White;
	/* text-align:center; */
}

td.masterpage_left 
{
	background-color: #356734;
	font-family:Verdana,Times New Roman;
	font-size:10px;
	font-weight:normal;
	color:White;
	/* text-align:center; */
}

td.masterpage_footer 
{
	background-color: #F26922;
	font-family:Neuropol,Verdana,Times New Roman;
	font-size:small;
	font-weight:bold;
	color:White;
	/* text-align:center; */
}

/* ************* Tabla de Recibo ************************ */

td.title_tabla
{
	/* background-color:#346735; */
	text-align: left;
	font-family: Neuropol, Verdana, Tahoma, Arial;
	font-size:10px;
	font-weight:bold;
	color:#346735;
}

td.title_label
{
	background-color:#346735;
	text-align: left;
	font-family: Verdana, Tahoma, Arial;
	font-size:10px;
	font-weight:bold;
	color:White;
}

td.body_label
{
	text-align: left;
	font-family: Verdana, Tahoma, Arial;
	font-size:10px;
	font-weight:bold;
	color:Black;
}

td.result_label
{
	text-align: center;
	font-family: Verdana, Tahoma, Arial;
	font-size:10px;
	font-weight:bold;
}




/* -------------------- Labels ----------------------- */

.masterpage_label_top 
{
	font-family:Verdana,Arial;
	font-size:11px;
	color:White;
}


.menu_options 
{
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	color:White;
	text-decoration: none;
}

.login 
{
	background-color:#FFFFDF;
	border-color:#E6E2D8;
	border-style:solid;
	border-width:1px; 
	font-family:Verdana, Arial, Times New Roman;
	font-size:1.0em;
	font-weight:bold;
	color:#333333;
	/* text-align:center; */
}

.login_button 
{
	 background-color:#FFFBFF;
	 border-color:#CCCCCC;
	 border-style:solid;
	 border-width:1px;
     font-family:Verdana, Arial;
     font-size:0.8em;
     color:#284775;
}

.login_label 
{
	 background-color:Transparent;
	 border-color:#CCCCCC;
	 border-style:solid;
	 border-width:1px;
     font-family:Verdana, Arial;
     font-size:0.8em;
     color:#284775;
}

.login_txtlabel 
{
	 background-color:#FFFBFF;
	 border-color:#CCCCCC;
	 border-style:solid;
	 border-width:1px;
     font-family:Verdana, Arial;
     font-size:0.8em;
     color:#284775;
	
}

.titleform {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	 background-color:#356734;
	 color:White;
}

.labelform {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	width: 160px;
}

.textboxform160 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 160px;
	border: 1px solid #999999;
	background:#F3F3F3;
}


/* -------------------- Botones ----------------------- */


.boton1140 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: White;
	height:25px;
	background-color: #356734;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CF70;
	border-right-color: #99CF70;
	border-bottom-color: #99CF70;
	border-left-color: #99CF70;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	width: 140px;
}


/* -------------------- Links ----------------------- */

a.masterpage_menu 
{
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	color:White;
	text-decoration: none;
}

a.masterpage_menu:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color: black;
	background-color:Orange;	
	text-decoration: none;
}

/* CSS BiometriKa Junio 2010*/

/* A.links */
a:link {
	color: #356734;
	text-decoration: underline;
}
.alinkNone { /*Sin linea abajo*/
	color: #356734;
	text-decoration: none;
}
a:visited {
	color: #B76C2B;
	text-decoration: underline;
}
a:hover {
	color: #DD6B25;
	text-decoration: none;
}
a:active {
	color: #356734;
	text-decoration: underline;
}
/* B.textos */
.txtEstilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: left;
}
.txtEstilo2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	text-align: left;
	width: 150px;
}
.txtPiedePag {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #006600;
	font-size: 9px}
.titulos0 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #F0652A;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 0.1em;
	background-image: url(../../images/cimg_titulo.jpg);
	background-repeat: repeat-x;
	height: 30px;
}
/* C.tablas */
.tdTitulosCol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #F0652A;
	/*font-variant: small-caps;*/
	text-align: center;
	letter-spacing: 0.1em;
	background-image: url(../../images/cimg_titulo.jpg);
	background-repeat: repeat-x;
	height: 20px;
}

.tdBottom {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;
}
.tdDerecha {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;
}
.tdIzquierda {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;
}
.tdTop {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;

}
.tdBottomFondo {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #356734;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #356734;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #356734;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #356734;
	height: 18px;
	background-color: #EBEBF7;
	color: #F26B31;
	padding: 2px;


}
.tdDerechaFondo {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #356734;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #356734;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #356734;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #356734;
	height: 18px;
	background-color: #EBEBF7;
	color: #F26B31;
	padding: 2px;


}
.tdIzquierdaFondo {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #356734;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #356734;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #356734;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #356734;
	height: 18px;
	background-color: #EBEBF7;
	color: #F26B31;
	padding: 2px;

}
.tdTopFondo {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #356734;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #356734;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #356734;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #356734;
	height: 18px;
	background-color: #EBEBF7;
	color: #F26B31;
	padding: 2px;
}
.tdBottDerecha {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;
}
.tdDerechaTop {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;
}
.tdIzquBottom {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;
}
.tdTopIzq {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CC6;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #CC6;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CC6;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC6;
	height: 18px;
	padding: 2px;

}
/* D.formularios */
.inBotonCancelar {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #356734;
    background-image: url(../../images/cimg_botonGralCancelar2.jpg);
    height: 27px;
    font-weight: bold;
}
.inBotonEnviar {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #CC6600;
    border-style:none;
    background-image: url(../../images/cimg_botonGral2.jpg);
    height: 27px;
    font-weight: bold;    
}
.inBotonCancAncho {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #356734;
	background-image: url(../../images/cimg_botonGral.jpg);
	height: 27px;
	width: 128px;
	font-weight: bold;
}
.inBotonEnviarAncho {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CC6600;
	background-image: url(../../images/cimg_botonGralCancelar.jpg);
	height: 27px;
	font-weight: bold;
	width: 128px;
}
.inBotonEnviarAncho2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CC6600;
	background-image: url(../../images/cimg_botonGralCancelar.jpg);
	height: 27px;
	font-weight: bold;
	width: 128px;
}
.inBotonCalendario
{
	height: 22px;
	font-weight: bold;
	width: 27px;
	background-image: url(../../images/calendarPs.gif);
	}
.loginA {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; /* Georgia, "Times New Roman", Times, serif; */
	font-size: 16px;
	color: #2E6433;
	text-align: right;
	padding-right: 10px;
	padding-bottom:5px;
	padding-top:5px;
}
.loginAchico {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #2E6433;
	text-align: right;
	padding-right: 10px;
}
/* E.El Certificado... */
.tdCertifica1 {
	background-image: url(../../images/fondoPScertificadoA.jpg);
	padding-top: 20px;
	background-repeat: repeat-y;
}
.imgFoto {
	background-image: url(../../images/PScertificado_fdoFoto.png);
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-left: 15px;
}
.tituloCertifica {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #F0652A;
	font-variant: small-caps;
	text-align: left;
	letter-spacing: 0.1em;
	background-image: url(../../images/PScertificado_titulo.png);
	background-repeat: no-repeat;
	height: 28px;
	padding-left: 70px;
}