﻿@model BCR.Bio.Domain.NV.CompanyWorkFlow
@{
    ViewBag.Title = "Configuración";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<div class="container">

    <div class="card">

        <h5 class="card-header text-white">Configuración Predeterminada para Nueva Certificación</h5>

        @using (Html.BeginForm("Index", "Config", FormMethod.Post, new { id = "configForm" }))
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            @Html.Label("Umbral", new { @class = "control-label" })
                            @Html.EditorFor(x => x.Threshold, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="ReceiverList" class="control-label">Lista Receptores (separados por coma):</label>
                            @Html.EditorFor(x => x.ReceiverList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary" style="margin-top:20px;">
                        <i class="glyphicon glyphicon-plus-sign"></i> Guardar
                    </button>
                </div>
            </div>
        }

    </div>


</div>
@section Scripts
{
    <script type="text/javascript">
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}