﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BioPortalServer.Master" AutoEventWireup="true" CodeBehind="EjemplosSkin.aspx.cs" Inherits="Bio.Portal.Server.Manager.EjemplosSkin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderMain" runat="server">
</asp:Content>
