﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="Bio.Portal.Server.Manager.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
                    PARAM NAME="TypeId" VALUE="<%=Request["TypeId"]%>"<br />
                	PARAM NAME="ValueId" VALUE="<%=Request["ValueId"]%>"<br />
                	PARAM NAME="Finger" VALUE="<%=Request["Dedo"]%>"<br />
                    
                    PARAM NAME="Device" VALUE="<%=Request["Device"]%>"<br />
                	PARAM NAME="model" VALUE="<%=Request["Model"]%>"<br />
    <form id="formid" runat="server">
    <div>
         <OBJECT ID="BPClientAx1" WIDTH="291" HEIGHT="307" CLASSID="CLSID:E176B55F-AF5B-44BE-8D9B-80DC98EB68E5" >
                				<PARAM NAME="_ExtentX" VALUE="7699">
                				<PARAM NAME="_ExtentY" VALUE="8123">
                				<PARAM NAME="StepAnimation" VALUE="10">
                				<PARAM NAME="BackColor" VALUE="16777215">
                                    
                				<PARAM NAME="MenuBackColor" VALUE="3632437">
                				<PARAM NAME="MainBackColor" VALUE="13565902">
                				<PARAM NAME="TopBackColor" VALUE="3632436">
                				<PARAM NAME="TopFontColor" VALUE="16777215">

                				<PARAM NAME="DEBUG" VALUE="True">
                				<PARAM NAME="PathToDEBUG" VALUE="c:\tmp\Token\">
                                <PARAM NAME="Timeout" VALUE="0">
                                
                            
		                </OBJECT>
    </div>
    </form>

    <script languaje="Javascript">
    /*
    <PARAM NAME="Device" VALUE="<=Convert.ToInt32(Request["Device"])%>">
                				<PARAM NAME="model" VALUE="<=Request["Model"]%>">
                				<PARAM NAME="Finger" VALUE="<=Convert.ToInt32(Request["Dedo"])%>">
                                <PARAM NAME="AutenticationFactor" VALUE="2">
                                 <PARAM NAME="OperationType" VALUE="2">
                				
                                <PARAM NAME="TypeId" VALUE="<=Request["TypeId"]%>">
                				<PARAM NAME="ValueId" VALUE="<=Request["ValueId"]%>"
    */
        //formid.BPClientAx1.OpenMenu();
        //alert('formid.ckhDebugEnabled.checked=' +  formid.ckhDebugEnabled.checked);

        function SetControl() {

            formid.BPClientAx1.Device = <%=Request["Device"]%>;
            formid.BPClientAx1.Model = '<%=Request["Model"]%>';
            formid.BPClientAx1.OperationType = <%=Request["OT"]%>;
            formid.BPClientAx1.AuthenticationFactor = <%=Request["AF"]%>;
            formid.BPClientAx1.TypeId = '<%=Request["TypeId"]%>';
            formid.BPClientAx1.ValueId = '<%=Request["ValueId"]%>';
           
//            formid.BPClientAx1.Timeout = formid.txtTimeout.value;
//            formid.BPClientAx1.DEBUG = formid.ckhDebugEnabled.checked;
//            formid.BPClientAx1.PathToDEBUG = formid.txtPathDebug.value;
//            if (formid.comboFinger.value != 0) {
//                formid.BPClientAx1.Finger = formid.comboFinger.value;
//            }
            return;
        }
	    SetControl();
</script>
</body>
</html>
