﻿@model WebNV.Models.NV.AplicacionModel

@Html.HiddenFor(m => m.Aplicacion.Id)
@if (Model.CompanyList != null)
{

    <div class="form-group">
        @Html.LabelFor(m => m.Company, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.Company, new SelectList(Model.CompanyList, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
}
else
{
    if (Model.Company > 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Company, new { @class = "col-sm-2 control-label" })
            <div class="col-xs-4">
                @Html.DisplayFor(m => m.CompanyName, new { @class = "form-control" })
            </div>
        </div>
    }
}

<div class="form-group">
    @Html.LabelFor(m => m.Aplicacion.Nombre, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Nombre)
    </div>

    @Html.LabelFor(m => m.Aplicacion.Checkingen, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Checkingen)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Aplicacion.Qextensiones, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Qextensiones)
    </div>

    @Html.LabelFor(m => m.Aplicacion.Signaturepsw, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Signaturepsw)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Aplicacion.Signaturetype, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Signaturetype)
    </div>

    @Html.LabelFor(m => m.Aplicacion.Urlfea, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Urlfea)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Aplicacion.Userfea, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Userfea)
    </div>

    @Html.LabelFor(m => m.Aplicacion.Appfea, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Appfea)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Aplicacion.Certificatecer, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Certificatecer)
    </div>

    @Html.LabelFor(m => m.Aplicacion.Certificatepxf, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Aplicacion.Certificatepxf)
    </div>
</div>
