﻿@model WebNV.Models.NV.AplicacionModel

@{
    ViewBag.Title = "Edit Aplicación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Delete", "Aplicacion", FormMethod.Post, new { @class = "form-horizontal" }))
    {
    <div class="card">
        <h5 class="card-header text-white">Ingrese los datos</h5>
        <div class="card-body">
            @Html.Partial("_Fields", Model)


        </div>

        <div class="card-footer">

            <button type="submit" class="btn btn-danger">
                <i class="fa fa-floppy-o"></i> Borrar
            </button>
            <a href="@Url.Action("index")" class="btn btn-warning">
                <i class="fa fa-times"></i> Cancelar
            </a>

            @Html.ValidationSummary(false, "Error en el ingreso.", new { @class = "alert alert-danger" })
        </div>
    </div>
    }
</div>