﻿@model IEnumerable<BCR.Bio.Domain.NV.Aplicacion>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">

        @*<div class="hpanel">
                <div class="panel-heading  hbuilt">
                    Filtros
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Transaction", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        <div class="form-group">
                            <label class="sr-only" for="ApellidoToSearch">
                                Apellido
                            </label>
                            @Html.TextBox("ApellidoToSearch", null, new { placeholder = "Ingrese apellido", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="NroRUTToSearch">
                                Apellido
                            </label>
                            @Html.TextBox("NroRUTToSearch", null, new { placeholder = "Ingrese Nro. RUT", @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-sm">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>

                    }
                </div>
            </div>*@
        <h5 class="card-header text-white">Aplicaciones</h5>
        <div class="card-body">
            <div class="btn-group pull-right">
                <a href="@Url.Action("Create")" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-plus-circle"></i> Agregar aplicación
                    <span class="sr-only"> Agregar aplicación</span>
                </a>
            </div>
        </div>

        <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Compañia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Checkingen</th>
                <th scope="col">Acción</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @if (item.Company != null)
                        {
                            @item.Company.Name
                        }
                    </td>

                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Checkingen
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Aplicacion", new { id = item.Id})" class="btn btn-sm     ">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                        @if (item.HasExtensiones || item.HasRecibos)
                        {
                            <i class="fa fa-ban"></i><span>En uso.</span>
                        }
                        else
                        {
                            <a href="@Url.Action("Delete", "Aplicacion", new { id = item.Id})" class="btn btn-sm     ">
                                <i class="fa fa-trash-o"></i> Borrar
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="card-footer">
        @*<ul class="pagination">


                @{
                    var ultimaPagina = 0;
                    var indicadorPlus = false;
                }
                @if (ViewBag.Paginacion.Total > 300)
                {
                    ultimaPagina = 30;
                    indicadorPlus = true;
                }
                else
                {
                    ultimaPagina = (@ViewBag.Paginacion.Total / @ViewBag.Paginacion.Cantidad);
                }

                @for (var i = 1; i <= ultimaPagina + 1; i++)
                {
                    var dclass = "btn btn-primary   btn-sm ";
                    if (@ViewBag.Paginacion.Pagina == i - 1)
                    {
                        dclass = dclass + " active";
                    }
                    <li class="paginate_button " aria-controls="example2" tabindex="0">
                        @Html.ActionLink(@i.ToString(), "index", "Transaction", new { id = i - 1, ApellidoToSearch = @ViewBag.ApellidoToSearch, NroRUTToSearch = @ViewBag.NroRUTToSearch }, new { @class = dclass })
                    </li>
                }
                @if (indicadorPlus)
                {
                    <li class="paginate_button " aria-controls="example2" tabindex="0">
                        <a href="" class="dclass">...</a>
                    </li>
                }

            </ul>*@
        <a href="@Url.Action("Index")" class="btn btn-primary ">
            <i class="glyphicon glyphicon-step-backward"></i> Volver
        </a>
    </div>
</div>
