﻿@page "/CITxGrid"

@using Biometrika.Solutions.Shared
@*@inject HttpClient Http*@
@inject NavigationManager navigator
@inject Radzen.DialogService dialog
@inject IRepositorio _Repositorio;
@inject IServiceCI _ServiceCI


<PageTitle>Biometrika Solutions</PageTitle>

<h1>Lista de Transacciones</h1>

<p>Listado completo de transacciones de Certificación de Identidad</p>

@if (txCIList == null)
{
    <p><em>Consultando datos. Espere por favor....</em></p>
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
     <RadzenCard>
            <h4 class="mb-4">Filtros para la búsqueda</h4>
            <RadzenTextBox @bind-Value=@fTrackid Class="w-100" />
            <hr />
            <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Buscar" />
        </RadzenCard>
    @*<RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 10px" 
                  Text="Agregar XXXX" Click="@InsertRow" />*@
    <RadzenDataGrid @ref=@txGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
        FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="@QRecordPerPage" AllowColumnResize="true"
        AllowSorting="true" Data=@txCIList TItem="RdCitxGridDTO" PagerHorizontalAlign=HorizontalAlign.Center
        RowRender="@RowRender" CellRender="@CellRender" HeaderCellRender="@HeaderFooterCellRender" FooterCellRender="@HeaderFooterCellRender">
                 <EmptyTemplate>
                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen datos para mostrar!</p>
                </EmptyTemplate>
                <Columns>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Width="150px"  Title="Fecha" Filterable="true" Sortable="true">
                        <Template Context="Data" >
                            @(Data.Dategen.HasValue ? Data.Dategen.Value.ToString("dd/MM/yyyy HH:mm:ss") : "Null")
                        </Template>
                        @*<HeaderTemplate  style="background-color: green"></HeaderTemplate>*@
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Width="80px" Property="Actionid" Title="Estado" 
                                          TextAlign="TextAlign.Center">
                        <Template Context="Data">
                            
                            @ShowEstado(Data.Actionid)
                            @*if (Data.Actionid > 0)   //Icon="done" Icon="close"
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Success" Style="font-size:12px;" 
                                             Text=@Data.Actionid.ToString() />
                                <RadzenButton ButtonStyle="ButtonStyle.Success" Style="width:30px; text-align:left;margin-left:0px;" 
                                              Text=@Data.Actionid.ToString() />
                            } else
                            {
                                 <RadzenBadge BadgeStyle="BadgeStyle.Danger" Style="font-size:12px;" IsPill=true
                                             Text=@Data.Actionid.ToString() />
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Style="width:30px; text-align:left;" 
                                                Text=@Data.Actionid.ToString() />
                            }*@
                        </Template>
                    </RadzenDataGridColumn>
                     <RadzenDataGridColumn TItem="RdCitxGridDTO" Width="80px" Property="Type" Title="Tipo" TextAlign="TextAlign.Center">
                        <Template Context="Data">

                            @ShowTipo(Data.Actionid)
                           @* @if (Data.Type == 0)   //Icon="done" Icon="close"
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Success" Style="font-size:12px;" Text=@Data.Type.ToString() />
                                @*<RadzenButton ButtonStyle="ButtonStyle.Success"  Class="m-1" Text=@Data.Type.ToString()/>
                            } else
                            {
                                 <RadzenBadge BadgeStyle="BadgeStyle.Danger" Style="font-size:12px;" Text=@Data.Type.ToString() />
                                <RadzenButton ButtonStyle="ButtonStyle.Danger"  Class="m-1" Text=@Data.Type.ToString() />
                            }*@
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Width="280px" Property="Trackid" Title="TrackId"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Title="ValueId" Width="140px" TextAlign="TextAlign.Center">
                        <Template Context="Data">
                           @* <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="info" 
                                            Class="m-1" Text=@(Data.Typeid + " " + Data.Valueid) />*@
                            @(Data.Typeid + " " + Data.Valueid)
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Property="NombreCompleto" Title="Nombre" Filterable="true" Sortable="true"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Width="90px" Property="Score" Title="%">
                        <Template Context="Data">
                            @if (string.IsNullOrEmpty(Data.Score))   //Icon="done" Icon="close"
                            {
                                <div style="color:red;font-weight:bold">0%</div> 
                                @*<RadzenTextBox Style="color:red;font-weight:bold" Value="0" ReadOnly />*@
                            } 
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Context="CItx" 
                                          Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px">
                        
                        <Template Context="Data">
                            <RadzenButton Icon="visibility" ButtonStyle="ButtonStyle.Light" Class="m-1" 
                                          Click="@(args => View(Data))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Context="Data" Filterable="false" Sortable="false" 
                                          TextAlign="TextAlign.Center" Width="60px">
                        <Template Context="Data">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="picture_as_pdf" Size="ButtonSize.Small" Class="m-1" 
                                          Click="@(args => DownloadCI(Data))"  @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        @*<EditTemplate Context="Data">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" 
                                          Click="@(args => DeleteRow(Data))">
                            </RadzenButton>
                        </EditTemplate>*@
                    </RadzenDataGridColumn>
                    @*<RadzenDataGridColumn TItem="RdCitxGridDTO" Context="CItx" 
                                          Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px">
                        
                        <Template Context="Data">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" 
                                          Click="@(args => EditRow(Data))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="Data">
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" 
                                          Click="@((args) => SaveRow(Data))">
                            </RadzenButton>
                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" 
                                          Click="@((args) => CancelEdit(Data))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RdCitxGridDTO" Context="Data" Filterable="false" Sortable="false" 
                                          TextAlign="TextAlign.Center" Width="60px">
                        <Template Context="Data">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" 
                                          Click="@(args => DeleteRow(Data))"  @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="Data">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" 
                                          Click="@(args => DeleteRow(Data))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>*@
                </Columns>
    </RadzenDataGrid>
}

@code {
    #region Parametros y Variables

    public int QRecordPerPage { get; set; } = 10;

    public string Estado = "";

    //RadzenDataGrid<WeatherForecast> wfGrid;
    //private WeatherForecast[]? forecasts;
    //private WeatherForecast wfToInsert = new WeatherForecast();

    RadzenDataGrid<RdCitxGridDTO> txGrid;
    private List<RdCitxGridDTO> txCIList;
    //private WeatherForecast wfToInsert = new WeatherForecast();

    string fTrackid = null;

    #endregion 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            FilterDTO filters = new FilterDTO();
            filters.filters = new Dictionary<string, string>();

            ResponseDTO response = await _ServiceCI.CIGetList(filters);

            if (response != null)
            {
                if (response.Code == 0 && response.Response != null)
                {
                    txCIList = (List<RdCitxGridDTO>)response.Response;
                } else
                {
                    //Mostrar mensaje y redirigir?
                }
            } else
            {
                //Mostrar mensaje y redirigir?
            }

            //----Descarte----------------------------------------------------------------------------
            //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

            //filters.filters.Add("companyid", "2");
            //var responseHttp1 = await _Repositorio.Post<FilterDTO, List<RdCitxGridDTO>>("CI/citxlist", filters);
            //var responseHttp1 = await _Repositorio.Post<FilterDTO, BSResponse>("CI/citxlist", filters);
            ////txCIList = (List<RdCitxGridDTO>)responseHttp1.Response.response;
            ////var content = await responseHttp1.HttpResponseMessage.Content.ReadAsStringAsync();
            //txCIList = JsonConvert.DeserializeObject<List<RdCitxGridDTO>>((string)responseHttp1.Response.response.ToString()); // responseHttp1.Response;
        }
        catch (Exception ex) //(AccessTokenNotAvailableException exception)
        {
            //ex.Redirect();
            Console.WriteLine(ex.Message);
        }
    }

    #region Operacion

    private static RenderFragment ShowEstado(int estado)
    {
        string strEstado = "<RadzenBadge BadgeStyle=\"BadgeStyle.Success\" Style=\"font-size:12px;\" Text=" + estado.ToString() + "/>";
        //strEstado = "<img src=\"images/icons/ci-gs.png\" height=\"50\" title=\"Cedula Identidad\" />";
        string ret = "";

        switch (estado)
        {
            case -701:
                ret = "ERR FAILED 3ero";
                break;
            case -702:
                ret = "ERR NULL 3ro";
                break;
            case -704:
                ret = "ERR IDTYPE NOT SUPPORTED";
                break;
            case -705:
                ret = "ERR COUNTRY NOT SUPPORTED";
                break;
            case -706:
                ret = "ERR ID NOT LEGIBLE";
                break;
            case -707:
                ret = "ERR DOC NOT UPLOADED";
                break;
            case -708:
                ret = "ERR TRACK ID NOTEXIST";
                break;
            case -10:
                ret = "EXPIRED";
                break;
            case -11:
                ret = "NEGATIVE";
                break;
            case -12:
                ret = "FRAUD";
                break;
            case 1:
                ret = "CREATED";
                break;
            case 2:
            case 22:
            case 23:
                ret = "OCR RECOGNIZED [" + estado + "]";
                break;
            case 3:
            case 33:
            case 8:
            case 88:
                ret = "DONE DOCUMENT_SELFIE [" + estado + "]";
                break;
            case 4:
            case 44:
            case 9:
            case 99:
                ret = "DONE CI SELFIE_BD [" + estado + "]";
                break;
            case 5:
                ret = "CI VERIFY";
                break;
            case 6:
                ret = "CI GET";
                break;
            case 7:
                ret = "CI GET IDENTITY";
                break;
            case 10:
            case 11:
                ret = "DONE CI DOCUMENT_FINGER [" + estado + "]";
                break;
            case 101:
            case 111:
                ret = "DONE CI FINGER_BD [" + estado + "]";
                break;
            default:
                ret = "Estado Desconocido";
                break;
        }


        @if (estado < 0)
        {
            strEstado = "<img src=\"images/icons/nook.jpg\" height=\"25\" title=\"Rechazado: " + ret + "\"></i>";
        }

        @switch (estado)
        {
            case 1:
            case 2:
            case 22:
            case 23:
                strEstado = "<img src=\"images/icons/inprogress.jpg\" height=\"25\"  title=\"Pendiente: " + ret + "\"></i>";
                //copyUrl = true;
                break;
            case 3:
            case 33:
            case 8:
            case 88:
            case 4:
            case 44:
            case 9:
            case 99:
            case 10:
            case 11:
            case 101:
            case 111:
                if (estado > 0)
                {
                    strEstado = "<img src=\"images/icons/ok.jpg\" height=\"25\" title=\"Listo: " + ret + "\"></i>";
                    //strEstado = "<i class=\"fa fa-check\" style=\"font-size:28px; vertical-align:middle;color: green\" title=\"Listo: " + ret + "\"></i>";
                }
                else //if (item.StatusCITx == BCR.Bio.Domain.NV.DTO.StatusCITx.Rechazado)
                {
                    strEstado = "<img src=\"images/icons/nook.jpg\" height=\"25\" title=\"Listo: " + ret + "\"></i>";
                    //strEstado = "<i class=\"fa fa-times\" style=\"font-size:28px; vertical-align:middle; color: red\" title=\"Listo: " + ret + "\"></i>";
                }
                //else
                //{
                //    strEstado = "<i class=\"fa fa-check\" style=\"font-size:28px; vertical-align:middle;color: gray;\" title="Listo: @ret"></i>
                //}
                break;
            case 5:
            case 6:
            case 7:
                strEstado = "<img src=\"images/icons/info.jpg\" height=\"25\" title=\"Info: " + ret + "\"></i>";
                //strEstado = "<i class=\"fa fa-info-circle\" style=\"font-size:28px; vertical-align:middle;\" title=\"Info:" + ret + "\"></i>";
                break;

        }

        @if (ret.Equals("Estado Desconocido"))
        {
            strEstado = "<img src=\"images/icons/question.jpg\" height=\"25\" title=\"Listo: " + ret + "\"></i>";
            //strEstado = "<i class=\"fa fa-question-circle\" style=\"font-size:28px; vertical-align:middle;\" title=\"" + ret + "\"></i>";
        }


        return builder =>
        {
            builder.AddMarkupContent(0, strEstado);
            //builder.CloseComponent();
        };
    } 

    private static RenderFragment ShowTipo(int estado)
    {
        string strEstado = "<RadzenBadge BadgeStyle=\"BadgeStyle.Success\" Style=\"font-size:12px;\" Text=" + estado.ToString() + "/>";
        //strEstado = "<img src=\"images/icons/ci-gs.png\" height=\"50\" title=\"Cedula Identidad\" />";

        switch (estado)
        {
            case 1:
                strEstado = "<img src=\"images/icons/qr.png\" height=\"25\" title=\"Código QR\" />";
                break;
            case 2:
            case 22:
            case 23:
                //if (string.IsNullOrEmpty(item.FullName.Trim()))
                //{
                //    <img src="~/Images/icons/ci-gs.png" height="25" title="Cedula Identidad" />
                //}
                //else
                //{
                strEstado = "<img src=\"images/icons/ci.png\" height=\"25\" title=\"Cedula Identidad\" />";
                //}
                break;
            case 3:
            case 33:
                strEstado = "<img src=\"images/icons/civsselfie.png\" height=\"25\" title=\"CI v/s Selfie\" />";
                break;
            case 4:
            case 44:
                strEstado = "<img src=\"images/icons/selfievsbbdd.png\" height=\"25\" title=\"Selfie v/s BBDD\" />";
                break;
            case 8:
            case 88:
                strEstado = "<img src=\"images/icons/civsselfie.png\" height=\"25\" title=\"CI v/s Selfie\" />";
                break;
            case 9:
            case 99:
                strEstado = "<img src=\"images/icons/selfievsbbdd.png\" height=\"25\" title=\"Selfie v/s BBDD\" />";
                break;
            case 10:
            case 101:
                strEstado = "<img src=\"images/icons/fingervsci.png\" height=\"25\" title=\"CI v/s Finger\" />";
                break;
            case 11:
            case 111:
                strEstado = "<img src=\"images/icons/fingervsbbdd.png\" height=\"25\" title=\"Finger v/s BBDD\" />";
                break;
            case 5:
                strEstado = "<span title=\"Verification CI\">VCI</span>";
                break;
            case 6:
                strEstado = "<spanspan title=\"Get CI\">GCI</span>";
                break;
            default:
                strEstado = "<span>" + estado.ToString() + "</span>";
                break;

        }


        return builder =>
        {
            builder.AddMarkupContent(0, strEstado);
            //builder.CloseComponent();
        };
    } 

    void View(RdCitxGridDTO tx)
    {
        Console.WriteLine("SaveRow wf = " + tx);
        navigator.NavigateTo("/CITxGridDetail/" + tx.Id);
    }

    void DownloadCI(RdCitxGridDTO tx)
    {
        Console.WriteLine("SaveRow wf = " + tx);
    }


    //Edit inline
    async Task EditRow(RdCitxGridDTO tx)
    {
        Console.WriteLine("OnUpdateRow Redirigiendo a => /editRzFetchData/" + tx.Id);
        navigator.NavigateTo("/rzDataGridEdit/" + tx.Id);
        //await wfGrid.EditRow(wf);
    }

    void OnUpdateRow(RdCitxGridDTO tx)
    {
        Console.WriteLine("OnUpdateRow wf = " + tx);

    }

    void SaveRow(RdCitxGridDTO tx)
    {
        Console.WriteLine("SaveRow wf = " + tx);
    }

   

    void CancelEdit(RdCitxGridDTO tx)
    {
        Console.WriteLine("CancelEdit wf = " + tx);
    }

    async Task DeleteRow(RdCitxGridDTO tx)
    {
        bool? result = await dialog.Confirm("Está seguro de elimiar el Id = " + tx.Id + "?", 
                                            "Confirmanción de eliminación!!", 
                                            new ConfirmOptions() { OkButtonText = "Si", CancelButtonText = "No" });
        if (result.HasValue && result.Value == true)
        {
            Console.WriteLine("DeleteRow DELETED Id = " + tx.Id + "!!!!!!");
            navigator.NavigateTo("/rzDataGrid"); //Redirijo a la lista completa
        } else
        {
            Console.WriteLine("DeleteRow Cancelo Del de Id = " + tx.Id);
        }
    }

    void InsertRow()
    {
        Console.WriteLine("InsertRow wf...");
        navigator.NavigateTo("/rzDataGridAdd");
    }

    void OnCreateRow(RdCitxGridDTO tx)
    {
        Console.WriteLine("OnCreateRow wf = " + tx);
    }
    #endregion Operacion

    #region Formateo de datos
    void RowRender(RowRenderEventArgs<RdCitxGridDTO> args)
    {
        //string fw = (args.Data.Actionid < 0 ? "bold" : "normal");
        //string fc = (args.Data.Actionid < 0 ? "red" : "green");
        //    args.Attributes.Add("style", $"font-weight:"  + fw + ";" + "font-color:" + " " + fc + ";");

            //args.Attributes.Add("style",
            //                    $"font-weight: {(args.Data.Actionid < 0 ? "bold" : "normal")};" + " " +
            //                    "font-color: {(args.Data.Actionid < 0 ? "red" : "green")}");
                                
        //args.Attributes.Add("style", $"font-color: {(args.Data.Actionid < 0 ? "red" : "green")};");
        }

        void CellRender(DataGridCellRenderEventArgs<RdCitxGridDTO> args)
        {
            double _score = 0;
            if (args.Column.Property == "Score")
            {
                if (!string.IsNullOrEmpty(args.Data.Score))
                {
                    _score = Convert.ToDouble(args.Data.Score);
                }
                args.Attributes.Add("style", $"color: {(_score > 40 ? "green" : "red")};");

                //if (args.Data.TemperatureF == 0)
                //{
                //    args.Attributes.Add("colspan", 2);
                //}
            }

            if (args.Column.Property == "Actionid")
            {
                args.Attributes.Add("style", $"color: {(args.Data.Actionid > 0 ? "green" : "red")};");

                //if (args.Data.TemperatureF == 0)
                //{
                //    args.Attributes.Add("colspan", 2);
                //}
            }

            //if (args.Column.Property == "OrderID")
            //{
            //    if (args.Data.OrderID == 10248 && args.Data.ProductID == 11 || args.Data.OrderID == 10250 && args.Data.ProductID == 41)
            //    {
            //        args.Attributes.Add("rowspan", 3);
            //    }

            //    if (args.Data.OrderID == 10249 && args.Data.ProductID == 14 || args.Data.OrderID == 10251 && args.Data.ProductID == 22)
            //    {
            //        args.Attributes.Add("rowspan", 2);
            //    }
            //}
        }

        void HeaderFooterCellRender(DataGridCellRenderEventArgs<RdCitxGridDTO> args)
        {
            //args.Attributes.Add("class", "rzHeader");
            args.Attributes.Add("style", "background-color: green;");
            //if (args.Column.Property == "ProductID")
            //{
            //    args.Attributes.Add("colspan", 2);
            //}
        }
    #endregion Formateo de datos


        /* Todo codigo de demo
                @page "/datagrid-inline-edit"

                @using RadzenBlazorDemos.Data
                @using RadzenBlazorDemos.Models.Northwind
                @using Microsoft.EntityFrameworkCore

                @inject NorthwindContext dbContext

                <h1>DataGrid InLine Editing</h1>

                <p>This page demonstrates how to configure the Razden Blazor DataGrid for inline editing</p>

                    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Order" Click="@InsertRow" Disabled=@(orderToInsert != null) />
                    <RadzenDataGrid @ref="ordersGrid" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="DataGridEditMode.Single"
                            Data="@orders" TItem="Order" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
                        <Columns>
                            <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="Order ID" Width="120px" />
                            <RadzenDataGridColumn TItem="Order" Property="Customer.CompanyName" Title="Customer" Width="280px" >
                                <EditTemplate Context="order">
                                    <RadzenDropDown @bind-Value="order.CustomerID" Data="@customers" TextProperty="CompanyName" ValueProperty="CustomerID" Style="width:100%; display: block;" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Order" Property="Employee.LastName" Title="Employee" Width="220px">
                                <Template Context="order">
                                    <RadzenImage Path="@order.Employee?.Photo" style="width: 32px; height: 32px; border-radius: 16px; margin-right: 6px;" />
                                    @order.Employee?.FirstName @order.Employee?.LastName
                                </Template>
                                <EditTemplate Context="order">
                                    <RadzenDropDown @bind-Value="order.EmployeeID" Data="@employees" ValueProperty="EmployeeID" Style="width:100%; display: block;">
                                        <Template>
                                            <RadzenImage Path="@context.Photo" style="width: 20px; height: 20px; border-radius: 16px; margin-right: 6px;" />
                                            @context.FirstName @context.LastName
                                        </Template>
                                    </RadzenDropDown>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Order" Property="OrderDate" Title="Order Date" Width="200px">
                                <Template Context="order">
                                    @String.Format("{0:d}", order.OrderDate)
                                </Template>
                                <EditTemplate Context="order">
                                    <RadzenDatePicker @bind-Value="order.OrderDate" Style="width:100%" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Order" Property="Freight" Title="Freight">
                                <Template Context="order">
                                    @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", order.Freight)
                                </Template>
                                <EditTemplate Context="order">
                                    <RadzenNumeric @bind-Value="order.Freight" Style="width:100%" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Order" Property="ShipName" Title="Ship Name">
                                <EditTemplate Context="order">
                                    <RadzenTextBox @bind-Value="order.ShipName" Style="width:100%; display: block" Name="ShipName" />
                                    <RadzenRequiredValidator Text="ShipName is required" Component="ShipName" Popup="true" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Order" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                                <Template Context="order">
                                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="order">
                                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(order))">
                                    </RadzenButton>
                                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(order))">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Order" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
                                <Template Context="order">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(order))"  @onclick:stopPropagation="true">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="order">
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(order))">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>

                @code {
                RadzenDataGrid<Order> ordersGrid;
                IList<Order> orders;
                IEnumerable<Customer> customers;
                IEnumerable<Employee> employees;

                protected override void OnInitialized()
                {
                    base.OnInitialized();

                    customers = dbContext.Customers.ToList();
                    employees = dbContext.Employees.ToList();

                    // For demo purposes only
                    orders = dbContext.Orders.Include("Customer").Include("Employee").ToList();

                    // For production
                    //orders = dbContext.Orders.Include("Customer").Include("Employee");
                }

                async Task EditRow(Order order)
                {
                    await ordersGrid.EditRow(order);
                }

                void OnUpdateRow(Order order)
                {
                    if (order == orderToInsert)
                    {
                        orderToInsert = null;
                    }

                    dbContext.Update(order);

                    // For demo purposes only
                    order.Customer = dbContext.Customers.Find(order.CustomerID);
                    order.Employee = dbContext.Employees.Find(order.EmployeeID);

                    // For production
                    //dbContext.SaveChanges();
                }

                async Task SaveRow(Order order)
                {
                    if (order == orderToInsert)
                    {
                        orderToInsert = null;
                    }

                    await ordersGrid.UpdateRow(order);
                }

                void CancelEdit(Order order)
                {
                    if (order == orderToInsert)
                    {
                        orderToInsert = null;
                    }

                    ordersGrid.CancelEditRow(order);

                    // For production
                    var orderEntry = dbContext.Entry(order);
                    if (orderEntry.State == EntityState.Modified)
                    {
                        orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
                        orderEntry.State = EntityState.Unchanged;
                    }
                }

                async Task DeleteRow(Order order)
                {
                    if (order == orderToInsert)
                    {
                        orderToInsert = null;
                    }

                    if (orders.Contains(order))
                    {
                        dbContext.Remove<Order>(order);

                        // For demo purposes only
                        orders.Remove(order);

                        // For production
                        //dbContext.SaveChanges();

                        await ordersGrid.Reload();
                    }
                    else
                    {
                        ordersGrid.CancelEditRow(order);
                    }
                }

                Order orderToInsert;

                async Task InsertRow()
                {
                    orderToInsert = new Order();
                    await ordersGrid.InsertRow(orderToInsert);
                }

                void OnCreateRow(Order order)
                {
                    dbContext.Add(order);

                    // For demo purposes only
                    order.Customer = dbContext.Customers.Find(order.CustomerID);
                    order.Employee = dbContext.Employees.Find(order.EmployeeID);

                    // For production
                    //dbContext.SaveChanges();
                }
                }

         */
    }
