﻿@model WebNV.Models.Access.SectorModel

<div class="form-group">
    @Html.LabelFor(m => m.Id, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Id)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Description)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ContactName, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.ContactName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.externalid, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.externalid)
    </div>
</div>

@if (Model.CompanyList != null)
{

    <div class="form-group">
        @Html.LabelFor(m => m.CompanyList, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @for (int i = 0; i < Model.CompanyList.Count; i++)
            {
                <div>
                    @Html.HiddenFor(x => x.CompanyList[i].Id)
                    @Html.CheckBoxFor(x => x.CompanyList[i].Checked)
                    @Html.LabelFor(x => x.CompanyList[i].Checked, Model.CompanyList[i].Name)
                </div>
            }
            </div>
        </div>
}