﻿@model WebNV.Models.Access.SectorModel

@{
    ViewBag.Title = "Crear Sector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Sector", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Ingrese los datos
        </div>
        <div class="panel-body">
            @Html.Partial("_Fields", Model)


        </div>

        <div class="panel-footer">

            <button type="submit" class="btn  btn-default ">
                <i class="glyphicon glyphicon glyphicon-thumbs-up"></i> Crear Sector
            </button>
            <a href="@Url.Action("index")" class="btn   btn-default  ">
                <i class="glyphicon glyphicon-thumbs-down"></i> Cancelar
            </a>

            @Html.ValidationSummary(false, "Error en el ingreso.", new { @class = "alert alert-danger" })
        </div>
    </div>
}