﻿@model IEnumerable<WebNV.Models.Access.SectorModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Listado de Sectores
        <div class="btn-group pull-right">
            <a href="@Url.Action("Create")" class="btn btn-default   ">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>Agregar</span>
            </a>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-responsive-sm table-hover table-bordered">
            <tr>

                <th scope="col">&nbsp;</th>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Contacto</th>
                <th scope="col">External ID</th>
                <th scope="col">CreateDate</th>
                <th scope="col">Endate</th>
            </tr>
            @foreach (Bio.Manager.WebSite.Models.Access.SectorModel item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn  btn-sm btn-default  ">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                        </a>
                        @if (item.EndDate == null)
                        {
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn  btn-sm  btn-default  ">
                                <i class="glyphicon glyphicon-trash"></i> Eliminar
                            </a>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
                    <td>@Html.DisplayFor(modelItem => item.externalid)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                </tr>

            }
        </table>
    </div>

    <div class="panel-footer">
    </div>
</div>