﻿@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    
    <!-- Radzen Zone -->
    <RadzenContextMenu />
    <RadzenDialog />
    <RadzenNotification />
    <RadzenTooltip />
    <!-- Radzen Zone End -->
    
    <main>
        <div class="top-row px-4">
            <a href="http://www.biometrikalatam.com" target="_blank">
                 <RadzenImage Path="/images/Logo_200x200.jpg" Class="rounded-circle float-left mr-3"
                                     Style="width: 40px; height: 40px;" />
            </a>
        </div>

        <article class="content px-4">
            @Body
            <p style="background-color:white">.</p>
        </article>

        <div class="fixed-bottom text-center" style="background-color: rgba(0,0,0,.08);">
            Biometrika Latam - Santiago de Chile - 2022
        </div>
    </main>
</div>
