﻿@model WebNV.Models.Access.PointModel


@Html.Hidden(Model.Company.Id.ToString())


<div class="form-group">
    @if (Model.HQList != null)
    {
        @Html.LabelFor(m => m.HQ, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.HQId, new SelectList(Model.HQList, "Value", "Text"), new { @class = "form-control" })
        </div>
    }
    @if (Model.SectorList != null)
    {
        @Html.LabelFor(m => m.Sector, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-4">
            @Html.DropDownListFor(m => m.SectorId, new SelectList(Model.SectorList, "Value", "Text"), new { @class = "form-control" })
        </div>
    }
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Id, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Id, new { @readonly = "readonly" })
    </div>

    @Html.LabelFor(m => m.Code, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Code)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SensorId, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.SensorId)
    </div>

    @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IPaddress, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.IPaddress)
    </div>

    @Html.LabelFor(m => m.MacAddress, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.MacAddress)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Address)
    </div>

    @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Phone)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.OtherPhone, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.OtherPhone)
    </div>

    @Html.LabelFor(m => m.ContactName, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.ContactName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.HasPrinter, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.HasPrinter)
    </div>

    @Html.LabelFor(m => m.HasMail, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.HasMail)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Is_Dev, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Is_Dev)
    </div>

    @Html.LabelFor(m => m.Dev_Id, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_Id)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_baudrates, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_baudrates)
    </div>

    @Html.LabelFor(m => m.Dev_serialnumber, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_serialnumber)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_number, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_number)
    </div>

    @Html.LabelFor(m => m.Dev_umbral, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_umbral)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_attendancemode, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_attendancemode)
    </div>

    @Html.LabelFor(m => m.Dev_password, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_password)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_comport, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_comport)
    </div>

    @Html.LabelFor(m => m.Dev_modeautentication, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_modeautentication)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_dooropen, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_dooropen)
    </div>

    @Html.LabelFor(m => m.Dev_ipserver, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_ipserver)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_gateway, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_gateway)
    </div>

    @Html.LabelFor(m => m.Dev_userlength, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_userlength)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_display12, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_display12)
    </div>

    @Html.LabelFor(m => m.Dev_refresh, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_refresh)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Dev_daterefresh, new { @class = "col-sm-2 control-label" })
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Dev_daterefresh)
    </div>
</div>
