﻿@model IEnumerable<BCR.Bio.Domain.Point>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>

            <th scope="col">&nbsp;</th>
            <th scope="col">Id</th>
            <th scope="col">Code</th>
            <th scope="col">IPaddress</th>
            <th scope="col">MacAddress</th>
            <th scope="col">Name</th>
            <th scope="col">Sector</th>
            <th scope="col">Sede</th>
            <th scope="col">Fin</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        var isDisabled = "";
        if (item.EndDate != null)
        {
            isDisabled = "class='danger'";
        }

        <tr @Html.Raw(isDisabled)>
            <td>
                @if (User.IsInRole("Super Admin"))
                {
                    <a href="@Url.Action("Edit", new { id = item.Id})" class="btn  btn-sm btn-default  ">
                        <i class="fa fa-pencil"></i> Editar
                    </a>
                    @*<a href="@Url.Action("Delete", new { id = item.Id })" class="btn  btn-sm  btn-default  ">
                        <i class="fa fa-trash"></i> Eliminar
                    </a>*@
                    if (item.EndDate == null)
                    {
                        <a href="@Url.Action("Disable", new { id = item.Id , idCompany = ViewData["idCompany"]})" class="btn  btn-sm  btn-default  ">
                            <i class="fa fa-toggle-off"></i> Deshabilitar
                        </a>
                    }
                    else
                    {
                        if ((item.HQ.EndDate == null) && (item.Sector.EndDate == null))
                        {
                            <a href="@Url.Action("Enable", new { id = item.Id, idCompany = ViewData["idCompany"] })" class="btn  btn-sm  btn-default  ">
                                <i class="fa fa-toggle-on"></i> Habilitar
                            </a>
                        }
                        else
                        {
                            <a class="btn  btn-sm  btn-default disabled" title="Sede y sector no habilitado.">
                                <i class="fa fa-toggle-on"></i> Habilitar
                            </a>
                            <i class="fa fa-comment" rel="tooltip"  id="blah" title="Sede y sector no habilitado."></i>
                        }
                    }
                }
            </td>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.IPaddress)</td>
            <td>@Html.DisplayFor(modelItem => item.MacAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sector.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.HQ.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
        </tr>

    }
</table>