﻿@model WebNV.Models.Access.PointModel

@{
    ViewBag.Title = "Crear Punto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Point", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Agregar punto en la compañia @Model.Company.Name
        </div>
        <div class="panel-body">

            @Html.Partial("_Fields", Model)

            <div class="panel-footer">

                <button type="submit" class="btn btn-default">
                    <i class="fa fa-floppy-o"></i>
                    Crear Punto
                </button>

                <a href="@Url.Action("Index")" class="btn  btn-default ">
                    <i class="fa fa-times"></i> Cancelar
                </a>
                @Html.ValidationSummary(false, "Error en el ingreso.")
                @*@Html.SuccessInformation(Model.Notification)*@
            </div>
        </div>
    </div>
}