﻿@model WebNV.Models.Access.PointListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Seleccione compañia
    </div>
    <div class="panel-body">

        @if (Model.Companies != null)
        {
            <div class="col-xs-10">
                @Html.DropDownListFor(m => m.CompanyValue, new SelectList(Model.Companies, "Value", "Text"), new { @class = "form-control" })
            </div>

            <button type="submit" class="btn    btn-default" onclick="changeCompany()">
                <i class="fa fa-check-circle"></i>
                Seleccionar
            </button>
        }
    </div>
</div>

<div class="hpanel">
    <div class="panel-heading hbuilt">
        @if (@Model.Company != null)
        {
            <span>Puntos de acceso de la compañia : <b>@Model.Company.Name</b></span>

            if (User.IsInRole("Super Admin"))
            {

                <a href="@Url.Action("AddHQ", "Company", new { company = @Model.Company.Id, back = @Request.Url.ToString() })" class="btn  btn-default pull-right">
                    <i class="fa fa-plus-circle"></i> Agregar Sede
                </a>
                <a href="@Url.Action("AddSector", "Company", new { company = @Model.Company.Id, back = @Request.Url.ToString() })" class="btn  btn-default pull-right">
                    <i class="fa fa-plus-circle"></i> Agregar Sector
                </a>
                if (@Model.Company.HaveHQs && @Model.Company.HaveSectors)
                {
                    <a href="@Url.Action("Create", new { idCompany = @Model.Company.Id })" class="btn btn-default pull-right">

                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Agregar punto
                    </a>
                }
            }
        }
    </div>
    <div class="panel-body">
        <div>
            @if (@Model.Company != null)
            {
                if (@Model.Company.HaveHQs || @Model.Company.HaveSectors)                
                {
                    <b>Sedes:</b> @Model.Company.HQs.Count  <b>/ Sectores :</b> @Model.Company.Sectors.Count

                    <div class="hpanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-HQ" aria-expanded="true">Puntos por sede</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-Sector" aria-expanded="false">Puntos por sector</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-HQ" class="tab-pane active">
                                @if (Model.Company.HQs != null)
                                {

                                    foreach (BCR.Bio.Domain.HQ hq in Model.Company.HQs)
                                    {
                                        var pndgr = "";
                                        if (hq.EndDate != null)
                                        {
                                            pndgr = "panel-danger";
                                        }
                                        <div class="panel @Html.Raw(pndgr)">
                                            <div class="panel-heading hbuilt  ">
                                                Sede : <b> @hq.Description</b>
                                            </div>

                                            <div class="panel-body">
                                                @if (hq.EndDate != null)
                                                {
                                                    <pre class="danger">Deshabilitada </pre>
                                                }
                                                @if (hq.Points.Count > 0)
                                                {
                                                    Html.RenderPartial("_pointTable", hq.Points, new ViewDataDictionary { { "idCompany", Model.Company.Id } });
                                                }
                                                else
                                                {
                                                    <pre>Sin puntos</pre>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                            <div id="tab-Sector" class="tab-pane">
                                @if (Model.Company.Sectors != null)
                                {
                                    foreach (BCR.Bio.Domain.Sector sector in Model.Company.Sectors)
                                    {
                                        var pndgr = "";
                                        if (sector.EndDate != null)
                                        {
                                            pndgr = "panel-danger";
                                        }
                                        <div class="panel @Html.Raw(pndgr)">
                                            <div class="panel-heading hbuilt ">
                                                Sector : @sector.Description
                                            </div>
                                            <div class="panel-body">
                                                @if (sector.EndDate != null)
                                                {
                                                    <pre class="danger">Deshabilitada </pre>
                                                }
                                                @if (sector.Points.Count > 0)
                                                {
                                                    Html.RenderPartial("_pointTable", sector.Points, new ViewDataDictionary { { "idCompany", Model.Company.Id } });
                                                }
                                                else
                                                {
                                                    <pre>Sin puntos</pre>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }

                else
                {
                     < b > Debe existir al menos una sede y al menos un sector para agregar puntos </ b >< br />
                }
            }
        </div>
    </div>
</div>

@section Scripts
 {
    <script type="text/javascript">

        function changeCompany() {
            var sel = $("#CompanyValue").val();
            if (sel != "-1") {

                var urlAction = '@Url.Action("IndexBase", "Point")?companyId=' + sel;

                document.location = urlAction;
            }
        }
    </script>
}