﻿@model IEnumerable<WebNV.Models.Access.PointModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Listado de Puntos de Acceso
        <div class="btn-group pull-right">
            <a href="@Url.Action("Create")" class="btn btn-default   ">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>Agregar</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered">
            <tr>

                <th scope="col">&nbsp;</th>
                <th scope="col">Id</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">CreateDate</th>
                <th scope="col">Endate</th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn  btn-sm btn-default  ">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a>

                            @if (item.EndDate == null)
                            {
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn  btn-sm  btn-default  ">
                                    <i class="glyphicon glyphicon-trash"></i> Eliminar
                                </a>
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    </tr>

                }
            }
        </table>
    </div>
</div>