﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewLog.aspx.cs" Inherits="Biometrika.ReleHandle.Web.ViewLog" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    </head>
<body>
    <form id="form1" runat="server">
    <div>
       
        <br />
        <asp:Button ID="btnVolver" runat="server" onclick="btnVolver_Click" 
            Text="Volver" />
    
    &nbsp;</div>
    </form>
</body>
</html>
