﻿@page "/"
@inject IServicePersona _ServicePersona 
@inject NotificationService NotificationService
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<div style="display:grid;justify-items:center;">
	<div class="col-md-6 m-auto">
		<EditForm Model="@oPersona" OnValidSubmit="Register">
			<h1>@error</h1>
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="text-center">
				<img style="max-width:100%" src="https://www.biometrikalatam.com/website/wp-content/uploads/2019/11/logo-biometrika-866.png" />
			</div>

			<h6 class="text-center">Registrese y le llegará un mail con acceso a información explicativa, datasheets, videos, etc.
                Posteriormente podrá acceder solo ingresando el mail si ya está registrado.
            </h6>
			<div class="form-group">
				<label>Nombre</label>
				<InputText @bind-Value="oPersona.Name" class="form form-control" />
			</div>
			<div class="form-group">
				<label>Empresa</label>
				<InputText @bind-Value="oPersona.Company" class="form form-control" />
			</div>
			<div class="form-group">
				<label>Posición</label>
				<InputText @bind-Value="oPersona.Position" class="form form-control" />
			</div>
            <div class="form-group">
				<label>e-Mail</label>
                 <div class="row">
                     <div class="col">
				        <InputText @bind-Value="oPersona.Mail" placeholder="Ingrese mail correcto" class="form form-control col-auto" />
                    </div>
                    <div class="col">
				        <input value="Ingresar"  @onclick="Login" 
                            class="btn btn-primary btn btn-block col-auto" style="width:120px;"/>
                        <RadzenImage Path="/images/progress.gif" Style="width: 65px; height: 50px;" Visible="@_ShowImageProcessingLogin" />
                    </div>
                </div>
			</div>
            <div class="form-group">
				<label>Teléfono</label>
				<InputText @bind-Value="oPersona.Phone" class="form form-control"  
                    placeholder="Ingrese telefono con codigo pais, de region y numero, fijo o movil... " />
                <font style="font-size:14px;"><i><b>Ejemplos:</b> Movil Chile: <b>9</b>65556677 o <b>569</b>65556677 - Fijo Chile: <b>2</b>24248598 o <b>562</b>24248598</i></font> 
			</div>
			
            <input type="submit" value="Registrarse" class="btn btn-secondary btn btn-block mt-2" />
            <RadzenImage Path="/images/progress.gif" Style="width: 65px; height: 50px;" Visible="@_ShowImageProcessingRegister" />

		</EditForm>
	</div>
</div>

@code {
    public string error;
    public Persona oPersona = new Persona();

    public bool _ShowImageProcessingLogin = false;
    public bool _ShowImageProcessingRegister = false;

    public async Task<bool> Register()
    {
        _ShowImageProcessingRegister = true;
        this.ShouldRender();
        NotificationMessage msg = await _ServicePersona.Register(oPersona);

        if (msg != null)
        {
            NotificationService.Notify(msg);

            if (msg.Severity == NotificationSeverity.Info)
            {
                oPersona = new Persona();
                //Navigation.NavigateTo("/",true);
            } 
        } else
        {
            NotificationService.Notify(new NotificationMessage
                        {
                            Style = "align: center",
                            Severity = NotificationSeverity.Error,
                            Summary = "Error de Servicio de Registro!",
                            Detail = "Se produjo el error en servicio local. Reintente o comuniquese con info@biometrika.cl para pedir la información!.",
                            Duration = 5000
                        });
        }
        _ShowImageProcessingRegister = false;
        this.ShouldRender();
        return true;
    }

    public async Task<bool> Login()
    {
        _ShowImageProcessingLogin = true;
        this.ShouldRender();
        if (oPersona == null || string.IsNullOrEmpty(oPersona.Mail))
        {
            NotificationService.Notify(new NotificationMessage
                    {
                        Style = "align: center",
                        Severity = NotificationSeverity.Error,
                        Summary = "Acceso Incorrecto",
                        Detail = "Debe ingresar un mail válido para ingresar...",
                        Duration = 3000
                    });
        } else
        {
            string token = await _ServicePersona.CheckAccess(oPersona.Mail);
            if (string.IsNullOrEmpty(token))
            {
                NotificationService.Notify(new NotificationMessage
                    {
                        Style = "align: center",
                        Severity = NotificationSeverity.Error,
                        Summary = "Acceso Incorrecto",
                        Detail = "Debe ingresar un mail válido para ingresar...",
                        Duration = 3000
                    });
            }
            else
            {
                Navigation.NavigateTo("/listinfo/" + token);
            }
        }
        _ShowImageProcessingLogin = false;
        //this.ShouldRender();
        return true;
    }

}