﻿@page "/listinfo/{Id}"
@inject IServicePersona _ServicePersona
@inject IServiceInformacion _ServiceInformacion
@inject NotificationService NotificationService
@inject NavigationManager Navigation

@if (_Lista_Informacion_current == null && !_AccesoNoAutorizado)
{
    <div class="col-md-12 m-auto">
        <p><em>Verificando acceso. Espere por favor....</em></p>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>

}
else if (_AccesoNoAutorizado)
{
    <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
        <RadzenCard class="m-3">
            <h3 class="h5"><b>Error verificando acceso!</b></h3>
            <div class="d-flex flex-row">
                @*Class="rounded-circle float-left mr-3"*@
                <RadzenImage Path="/images/Logo_200x200.jpg"
                         Style="width: 100px; height: 100px;" />
                <div class="mt-md-2">
                    <div></div>
                    <div class="mt-3">
                        <p>
                            Es posible que no esté registrado o que su acceso haya vencido. 
                        </p>
                        <p>
                            Para renovar su acceso o registrarse, ingrese por el botón de acceso. 
                        </p>
                    </div>
                    <div class="mt-3">
                        <a href="/" target="_self">
                            <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Acceso" Style="font-size: 42;" />
                        </a>
                    </div>

                </div>
            </div>
        </RadzenCard>
    </div>
} else
{

<div style="display:grid;justify-items:center;">
    <div class="col-md-12 m-auto">
        <div class="text-center">
            <img style="max-width:100%" src="/images/BiometrikaHeader.png" />
        </div>
    </div>

    <div class="col-md-12 m-auto">
        <div class="row my-5">
            <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                <RadzenCard class="m-3">
                    <h3 class="h5"><b>Presentación Grupo BCR</b></h3>
                    <div class="d-flex flex-row">
                        @*Class="rounded-circle float-left mr-3"*@
                        <RadzenImage Path="/images/LogoGrupoBCR.jpg"
                                     Style="width: 200px; height: 200px;" />
                        <div class="mt-md-2">
                            <div></div>
                            <b>Bienvenido</b>
                            <div class="mt-3">
                                <p>
                                    En esta página encontrará información general del Grupo BCR y de sus empresas,
                                    presentación del grupo, datasheets de productos, historias de uso de la tecnología,
                                    videos demostrativos, y links a información.
                                </p>
                                <p>
                                    Para mas información por favor comunicarse al mail
                                    <a href="mailto:info@biometrika.cl">infor@biometrika.cl</a>
                                </p>
                            </div>
                            <div class="mt-3">
                                <a href="https://drive.google.com/open?id=1hSKGo7KFsQ5dtrCYcV5V6fzagjE5xnnx" target="_blank">
                                    <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Video de Presentación" Style="font-size: 22;" />
                                </a>
                            </div>

                        </div>
                    </div>
                </RadzenCard>
                <RadzenCard class="m-3">
                    <h3 class="h5"><b>Información de la Empresa</b></h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div><i>Sede Central</i></div>
                            <b>Chile</b>
                            <div class="mt-3"><i>Ciudad</i></div>
                            <b>Santiago</b>
                        </div>
                        <div class="col-md-4">
                            <div><i>Fundada</i></div>
                            <b>Enero 2009</b>
                            <div class="mt-3"><i>Números</i></div>
                            <b>+100K Verificaciones Diarias / +10M Enrolados</b>
                        </div>
                        <div class="col-md-4">
                            <div><i>Empresas del Grupo</i></div>
                            <div class="mt-2">
                                <b>
                                    <a href="http://www.biometrikalatam.com" target="_blank">
                                        Biometrika Latam
                                    </a>
                                </b>
                            </div>
                            <div class="mt-2">
                                <b>
                                    <a href="http://www.biokommunity.cl" target="_blank">
                                        BioKommunity
                                    </a>
                                </b>
                            </div>
                            <div class="mt-2">
                                <b>
                                    <a href="http://www.notariovirtual.cl" target="_blank">
                                        Notario Virtual
                                    </a>
                                </b>
                            </div>

                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
    </div>

    @*<div class="col-md-12 m-auto">*@
    @*<div class="col-md-4 m-auto">*@
    <h4><b>Lista de Artículos Disponibles</b></h4>
    @*</div>*@
    <RadzenDataList WrapItems="true" AllowPaging="false" Data="@_Lista_Informacion_current" TItem="Informacion">
        <Template Context="infoItem">
            <RadzenCard Style="width:400px; background-color: rgba(0,0,0,.02);">
                <div class="d-flex flex-row align-items-center">
                    <RadzenImage Path="@(string.IsNullOrEmpty(infoItem.Image)?"/images/Logo_200x200.jpg":infoItem.Image)"
                                 Class="rounded-circle float-left mr-3"
                                 Style="width: 80px; height: 80px;" />
                    <div class="m-2">
                        <h4 class="mb-0">@infoItem.Title</h4>
                        <div>@infoItem.Detail</div>
                        <div style="font-size: .8em"><i>@infoItem.DateUpdated.ToString("MMM yyyy").ToUpper()</i></div>
                    </div>
                </div>
                <hr style="border: none; background-color: rgba(0,0,0,.3); height: 1px; margin: 1rem 0;" />
                <div class="row">
                    <div class="col-md-8 text-truncate">
                        <i>
                            Rel:&nbsp;
                            @if (infoItem.RelatedProducts != null && infoItem.RelatedProducts.Count > 0)
                            {
                                foreach (var itemP in infoItem.RelatedProducts)
                                {
                                    <p>
                                        <b><a href="@itemP.UrlInfo" target="_blank">@itemP.Name</a></b> 
                                    </p>
                                }
                            }
                            else
                            {
                                <b>N/A</b>
                            }
                        </i>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="@infoItem.UrlInfo" target="_blank">
                            @if (@infoItem.Type == 2)
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="Ver Video" />
                            }
                            else if (@infoItem.Type == 1)
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Ver PDF" />
                            }
                            else //0 - Default solo link
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="Ver Link" />
                            }
                        </a>
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
    <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat"
                 HorizontalAlign="HorizontalAlign.Right" Count="count" PageSize="@pageSize"
                 PageNumbersCount="5" PageChanged="@PageChanged" />
    @*</div>*@
</div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    public bool _AccesoNoAutorizado = false;

    public List<Informacion> _Lista_Informacion;
    string pagingSummaryFormat = "Mostrando pagina {0} de {1} (total {2} registros)";
    int pageSize = 4;
    int count;
    List<Informacion> _Lista_Informacion_current;
 

    protected override async Task OnInitializedAsync()
    {
        //base.OnInitializedAsync();

        if (string.IsNullOrEmpty(Id))
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            //Check que este registrado y grabo acceso, sino mando a register
            bool estaRegistrado = await _ServicePersona.CheckAndRegisterAccess(Id);
            if (!estaRegistrado)
            {
                //Navigation.NavigateTo("/");
                _AccesoNoAutorizado = true;
            }
            else
            {
                _Lista_Informacion = await _ServiceInformacion.InformacionGetList();

                count = _Lista_Informacion.Count();
                _Lista_Informacion_current = GetItems(0, pageSize);
                //Console.WriteLine("Size Lista Current = " + _Lista_Informacion_current.Count<Informacion>().ToString());
            }
        }
    }

    void PageChanged(PagerEventArgs args)
    {
        _Lista_Informacion_current = GetItems(args.Skip, args.Top);
    }

    List<Informacion> GetItems(int skip, int take)
    {
        return _Lista_Informacion.Skip(skip).Take(take).ToList();
        //dbContext.Orders.Include("Customer").Include("Employee").Skip(skip).Take(take).ToList();
    }

    //LLenado manual de lista de informacion
    /*
    _Lista_Informacion = new List<Informacion>();
    Informacion info = new Informacion();
    info.Id = 1;
    info.Title = "Nombre Item 1";
    info.Detail = "Descripcion del item aqui promocionado, sintetico pero con detalles como para entusiasmar";
    info.Image = "https://lh3.googleusercontent.com/T2Rq3BlUEahhWTXAIL_bDp1h-_Z0bPmAib0fDNr2kMa-CTYon3hdCl_O_UuEsrjkb6iO2yAXRcqgH27gcknBdYvVQ9F5cFZDxljzKM4oNSUfqeXD=w1280";
    info.UrlInfo = "https://www.biometrikalatam.com/servicio/plataforma-de-verificacion-y-enrolamiento/";
    info.DateUpdated = DateTime.Now.AddDays(-25);
    info.RelatedProducts = new List<Producto>();
    Producto prodItem = new Producto();
    prodItem.Id = 1;
    prodItem.Name = "BioPortal";
    prodItem.UrlInfo = "https://www.biometrikalatam.com/servicio/plataforma-de-verificacion-y-enrolamiento/";
    info.RelatedProducts.Add(prodItem);
    _Lista_Informacion.Add(info);

    info.Id = 2;
    info.RelatedProducts[0].Id = 2;
    _Lista_Informacion.Add(info);
    Informacion info2 = (Informacion)info.Clone();
    info2.Image = null;
    info2.DateUpdated = DateTime.Now;
    _Lista_Informacion.Add(info2);
    _Lista_Informacion.Add(info2);
    _Lista_Informacion.Add(info2);
    _Lista_Informacion.Add(info);
    _Lista_Informacion.Add(info);
    Informacion info3 = (Informacion)info.Clone();
    info3.DateUpdated = DateTime.Now.AddDays(-5);
    info3.RelatedProducts = null;
    _Lista_Informacion.Add(info3);
    _Lista_Informacion.Add(info3);
    */
}
