﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Biometrika.Document.Electronic.Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 250px;
            height: 45px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <TABLE width="100%" align="center">
    <TR height="200">
    	<TD>&nbsp;</TD>
    	<TD>&nbsp;</TD>
    	<TD>&nbsp;</TD>
    </TR>
    <TR height="100">
    	<TD></TD>
    	<TD align="center">
            <img alt="Biometrika" class="auto-style1" src="images/Biometrika_Bajada_Big_250px.jpg" /><br />
            <FONT SIZE="3" COLOR="#800000"><B></B>Document Electronic Services (DES)</B></FONT></TD>
    	<TD></TD>
    </TR>
    <TR>
    	<TD>&nbsp;</TD>
    	<TD align="center"><FONT SIZE="" COLOR="blue"><B>Started!</B></FONT></TD>
    	<TD>&nbsp;</TD>
    </TR>
    </TABLE>
    </div>
    </form>
</body>
</html>