﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}

 styles for validation helpers 
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

Biometrika

body {
    margin: 10px;
}
.navbar {
            background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
            background-image: linear-gradient(#B2CE8B, #93B465 60%, #93B465);
            background-repeat: no-repeat;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
            border-bottom: 1px solid #485C2D;
            filter: none;
            -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        }

.navbar {
    background-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF 60%, #ECF8DC);
             background-image: linear-gradient(#FFFFFF, #FFFFFF 60%, #ECF8DC);
            background-repeat: no-repeat;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
            border-bottom: 1px solid #485C2D;
            filter: none;
            -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #F69131;
}

.navbar-default {
            background-color: #93B465;
            border-color: #7C9E4E;
        }

.panel-primary > .panel-heading {
            color: #ffffff;
            background-color: #93B465;
            border-color: #dddddd;
        }

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #436D97;
    border-color: #275285;
}

.btn-primary {
    background-image: -webkit-linear-gradient(#B2CE8B, #93B465 60%, #93B465);
    background-image: linear-gradient(#B2CE8B, #93B465 60%, #93B465);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    filter: none;
    border-bottom: 1px solid #485C2D;
}

.btn-primary {
    color: #ffffff;
    background-color: #93B465;
    border-color: #dddddd;
}

.panel-primary {
    border-color: #485E30;
}

.navbar-default .navbar-nav > li > a {
    color: #F69131;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: #F69131;
    }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #F69131;
    color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #F69131;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #F69131;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #F69131;
    border-color: #93B465;
}

a {
    color: #F69131;
    text-decoration: none;
}

.imgbio {
    vertical-align: middle;
    height: 20px;
    height: 37px;
}

.form-control-special {
    display: inline;
    width: 50px;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
    display: inline-block;
    width: 90%;
}

.row {
    margin-bottom: 5px;
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: #F69131;
    background-color: #224269;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color: white;
}

.SuccessInformation {
background-color: #224269;
color: #3c763d;
background-color: #dff0d8;
border-color: #d6e9c6;
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}

.form-group {
margin-bottom: 5px;
}

.table > thead > tr > th {

    background-color: rgb(203, 236, 202);
}

.transacResult_0
{
    color:black;
    font-weight: bold;
}

.transacResult_1
{
    color:green;
    font-weight: bold;
}

.transacResult_2
{
     color:red;
     font-weight: bold;
}*/