﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ResultGenBirs.aspx.cs" Inherits="Bio.Portal.Server.Services.Tools.ResultGenBirs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            color: #003300;
            font-family: "Arial Black";
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <span class="style1"><strong>Resultado de Generación de BIRs...</strong></span><br />
        <br />
        <asp:Label ID="Label1" runat="server" Text="Procesado"></asp:Label>
    
    </div>
    </form>
</body>
</html>
