﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Biometrika Rele Handle WebAPI</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/narrow-jumbotron.css" rel="stylesheet">

    <!-- Opcional -->
    <link href="dist/css/sweetalert.css" rel="stylesheet">
	
	
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Ejemplo Consumo Biometrika ReleHandle Web API</h3>
        </div>

        <div class="jumbotron">
            <h1 class="display-6">Consumo Biometrika  ReleHandle Web API</h1>
            <p class="lead">
                En el código fuente de esta página puede encontrar las funciones basicas de operacion de USB Rele via WebAPI!.
            </p>
            <p>
                <a class="btn btn-lg btn-success" href="#/" role="button" onclick="AbrirALL();">Abrir TODO</a>
                <a class="btn btn-lg btn-primary" href="#/" role="button" onclick="CerrarALL();">Cerrar TODO</a>
            </p>
            <hr />
            <p>
                Rele Number: <input id="idrele" name="relenumber" value="1" style="width:50px;" />
                Timeout: <input id="idtimeout" name="timeout" value="2000" style="width:100px;" />
            </p>
            <p>
                <a class="btn btn-sm btn-success" href="#/" role="button" onclick="AbrirRelePulso();">Abrir Rele Pulso</a>
            </p>
            <hr />
            <p>
                Rele Number: <input id="idrele1" name="relenumber1" value="1" style="width:50px;" />
            </p>
            <p>
                <a class="btn btn-sm btn-success" href="#/" role="button" onclick="AbrirRele();">Abrir Rele</a>
                <a class="btn btn-sm btn-primary" href="#/" role="button" onclick="CerrarRele();">Cerrar Rele</a>
            </p>
        </div>

        <div id="app" v-if="seen">
		    <textarea id='lecturaRAW' class="form-control" style="resize:none; width:100%; height:10em" autofocus="autofocus" readonly></textarea>           
        </div>


        <footer class="footer">
            <p>&copy; Biometrika 2021</p>
        </footer>

        <!-- Requerido -->
        <script src="dist/js/jquery-3.3.1.js"></script>

        <!-- Opcional -->
        <script src="dist/js/modernizr-2.6.2.js"></script>
        <script src="dist/js/sweetalert-dev.js"></script>


		<script src="biometrikaClient.js"></script>
		<script type="text/javascript">
            function AbrirALL() {
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaClient('http://localhost:9873/api/OpReleAllON');
                // Seteamos las propiedades requeridas
                biometrikaClient.origin = 'TestWeb'; //$("#TypeId").val().trim();
                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.ExecuteOperationALL();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Apertura OK de Todos los Rele! [" + biometrikaClientResponse.Message + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }

            function CerrarALL() {
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaClient('http://localhost:9873/api/OpReleAllOFF');
                // Seteamos las propiedades requeridas
                biometrikaClient.origin = 'TestWeb'; //$("#TypeId").val().trim();
                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.ExecuteOperationALL();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Cerrados OK de Todos los Rele! [" + biometrikaClientResponse.Message + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }

            function AbrirRelePulso() {
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaClient('http://localhost:9873/api/OpRelePulso');
                
                // Seteamos las propiedades requeridas
                biometrikaClient.origin = 'TestWeb'; //$("#TypeId").val().trim();
                biometrikaClient.relenumber = $("#idrele").val().trim();
                biometrikaClient.timeout = $("#idtimeout").val().trim();

                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.ExecuteOperationOpenPulso();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Apertura OK de Rele! [" + biometrikaClient.relenumber + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }


            function AbrirRele() {
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaClient('http://localhost:9873/api/OpRele');

                // Seteamos las propiedades requeridas
                biometrikaClient.origin = 'TestWeb'; //$("#TypeId").val().trim();
                biometrikaClient.relenumber = $("#idrele1").val().trim();
                biometrikaClient.timeout = "";
                biometrikaClient.operation = "1";

                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.ExecuteOperationOpOne();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Apertura OK de Rele! [" + biometrikaClient.relenumber + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }

            function CerrarRele() {
                // Instanciamos BiometrikaClient con la URL de consumo de la aplicación
                var biometrikaClient = new BiometrikaClient('http://localhost:9873/api/OpRele');

                // Seteamos las propiedades requeridas
                biometrikaClient.origin = 'TestWeb'; //$("#TypeId").val().trim();
                biometrikaClient.relenumber = $("#idrele1").val().trim();
                biometrikaClient.timeout = "";
                biometrikaClient.operation = "0";

                // Llamamos a la captura de huella
                var biometrikaClientResponse = biometrikaClient.ExecuteOperationOpOne();
                // Evaluamos respuesta y controlamos errores
                // Respuesta nula
                if (biometrikaClientResponse == null) {
                    swal("Error", "Error general", "error");
                    return;
                }

                // Status falso
                if (!biometrikaClientResponse.Status) {
                    swal("Error", biometrikaClientResponse.Message, "error");

                    return;
                } else {
                    var biometrikaClientResponseText = "Cierre OK de Rele! [" + biometrikaClient.relenumber + "]";
                    $("#lecturaRAW").val(biometrikaClientResponseText);
                }
            }
		</script>
		
		
 
</body>

</html>