﻿@model IEnumerable<BCR.Bio.Domain.NV.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Contents Detail <b>@Model.First().CodigoAutorizacion</b>
    </div>

    <div class="panel-body">
        <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center">
            <tr>

                <th>
                    Id
                </th>
                <th>
                    Event Time
                </th>
                <th>
                    Source
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Content
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination)
                    </td>
                    <td>
                        <pre>
                            @Html.DisplayFor(modelItem => item.ContentXml)
                        </pre>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>