﻿@model IEnumerable<BCR.Bio.Domain.NV.DTO.ContentAutorizationDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Contents
    </div>

    <div class="panel-body">
        <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-sm table-striped text-center">
            <tr>

                <th>
                    Codigo
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a href="@Url.Action("ContentDetail", new { codigoAutoriza = item.codautoriza})">
                            <i class="fa fa-blind"></i> @Html.DisplayFor(modelItem => item.codautoriza)
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>