﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Listado        
    </div>

    <div class="panel-body">
        <ul>
            <li>@Html.ActionLink("Contents", "Content", "Log")</li>
        </ul>
    </div>
</div>