﻿@page "/BPTxGrid"

@using Biometrika.Solutions.Shared
@*@inject HttpClient Http*@
@inject NavigationManager navigator
@inject IRepositorio _Repositorio;
@inject IServiceBP _ServiceBP

<MudPaper Height="100%" Width="95%" Class="m-2">
    <MudContainer Fixed="true">
        <PageTitle>Biometrika Solutions</PageTitle>

       @* <h1>Lista de Transacciones</h1>

        <p>Listado completo de transacciones de BioPortal Server</p>*@

        @if (bptxList == null)
        {
            <MudPaper Height="200px" Width="100%">
                <MudContainer MaxWidth="MaxWidth.Small">
                    <MudPaper Height="200px" Width="100%" Square="true">
                        <p><em>Consultando datos. Espere por favor....</em></p>
                        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                    </MudPaper>
                </MudContainer>
            </MudPaper>
                       
        }
        else
        {
            <MudTable Items="@bptxList" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped"
                  Filter="new Func<BPtxGridDTO,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Transacciones de ioPortal</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" 
                                IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
           
                    <MudTh></MudTh>
                    <MudTh>Id</MudTh>
                    <MudTh>TrackId</MudTh>
                    <MudTh>Estado</MudTh>
                    <MudTh>Identidad</MudTh>
                    <MudTh>Cliente</MudTh>
                    <MudTh>Inicio</MudTh>
                    <MudTh>Fin</MudTh>
                    <MudTh>Accion</MudTh>
           
                </HeaderContent>
                <RowTemplate>
                     <MudTd DataLabel="Operaciones">
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Filled.Preview" OnClick="@(args => ViewDetailsTx(context.Id))">Detalles</MudIconButton>
                    </MudTd>
                    <MudTd DataLabel="Id">@context.Id</MudTd>
                    <MudTd DataLabel="TrackId">@context.TrackId</MudTd>
                    <MudTd DataLabel="Estado">@context.OperationCode</MudTd>
                    <MudTd DataLabel="Identidad">@context.ValueId</MudTd>
                    <MudTd DataLabel="Cliente">@context.ClientId</MudTd>
                    <MudTd DataLabel="Inicio">@context.DateStart</MudTd>
                    <MudTd DataLabel="Fin">@context.DateEnd</MudTd>
                    <MudTd DataLabel="Accion">@context.ActionType</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>

            <div class="d-flex flex-wrap mt-4">
                <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
                <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
                <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
                <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
                <MudSpacer />
                <div style="min-width:200px;">
                    <MudText Inline="true" Class="align-self-center">Selected1: @selectedItem1?.ClientId</MudText>
                </div>
            </div>
        }
</MudContainer>
</MudPaper>

@code {
    #region Parametros y Variables
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString1 = "";
    private BPtxGridDTO selectedItem1 = null;
    private HashSet<BPtxGridDTO> selectedItems = new HashSet<BPtxGridDTO>();


    public int QRecordPerPage { get; set; } = 10;

    public string Estado = "";

    //RadzenDataGrid<WeatherForecast> wfGrid;
    //private WeatherForecast[]? forecasts;
    //private WeatherForecast wfToInsert = new WeatherForecast();

    RadzenDataGrid<BPtxGridDTO> txGrid;
    private List<BPtxGridDTO> bptxList;
    //private WeatherForecast wfToInsert = new WeatherForecast();

    string fTrackid = null;

    #endregion 

    protected override async Task OnInitializedAsync()
    {
        try
        {
            FilterDTO filters = new FilterDTO();
            filters.filters = new Dictionary<string, string>();

            ResponseDTO response = await _ServiceBP.BpTxGetList(filters);

            if (response != null)
            {
                if (response.Code == 0 && response.Response != null)
                {
                    bptxList = (List<BPtxGridDTO>)response.Response;
                } else
                {
                    //Mostrar mensaje y redirigir?
                }
            } else
            {
                //Mostrar mensaje y redirigir?
            }

            //----Descarte----------------------------------------------------------------------------
            //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

            //filters.filters.Add("companyid", "2");
            //var responseHttp1 = await _Repositorio.Post<FilterDTO, List<RdCitxGridDTO>>("CI/citxlist", filters);
            //var responseHttp1 = await _Repositorio.Post<FilterDTO, BSResponse>("CI/citxlist", filters);
            ////txCIList = (List<RdCitxGridDTO>)responseHttp1.Response.response;
            ////var content = await responseHttp1.HttpResponseMessage.Content.ReadAsStringAsync();
            //txCIList = JsonConvert.DeserializeObject<List<RdCitxGridDTO>>((string)responseHttp1.Response.response.ToString()); // responseHttp1.Response;
        }
        catch (Exception ex) //(AccessTokenNotAvailableException exception)
        {
            //ex.Redirect();
            Console.WriteLine(ex.Message);
        }
    }

    #region Operacion
    private bool FilterFunc1(BPtxGridDTO element) => FilterFunc(element, searchString1);

    private bool FilterFunc(BPtxGridDTO element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.TypeId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ValueId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ClientId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.TrackId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        //if ($"{element.Number} {element.Position} {element.Molar}".Contains(searchString))
        //    return true;
        return false;
    }

    private void ViewDetailsTx(int id) {
        navigator.NavigateTo("/BPTxViewDetails/" + id);
    }

    
    #endregion Formateo de datos


    }
