﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CIResult.aspx.cs" Inherits="Bio.Digital.Receipt.example.CIResult" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <link href="StyleSheetNV.css" rel="stylesheet" />
    <title></title>
     <style type="text/css">
         
         .auto-style7 {
            position: absolute;
            top: 602px;
            left:930px;
            right: 227px;
            width: 255px;
            border:0px solid red;
             height: 127px;
         }

        .auto-style8 {
            position: absolute;
            top: 300px;
            left:1000px;
            right: 298px;
            width: 114px;
            text-align:left;
            border:0px solid red;
        }

        .auto-style11 {
            position: absolute;
            top: 342px;
            left:1723px;
            right: 2px;
            width: 110px;
            text-align:left;
            border:0px solid red;
            height: 27px;
        }

        .auto-style12 {
            position: absolute;
            top: 0px;
            width: 1911px;
            left: 0px;
            height: 965px;
        }
    
         .auto-style13 {
             position: absolute;
             top: 315px;
             left: 1319px;
             right: 229px;
             width: 255px;
             font-family:Arial;
             font-size:x-large;
             font-weight:bold;
             color:black;
             text-align:left;
             border: 0px solid red;
         }
         .auto-style14 {
             position: absolute;
             top: 527px;
             left: 1324px;
             right: 333px;
             width: 114px;
               font-family:Arial;
             font-size:large;
             font-weight:bold;
             color:black;
             text-align:left;
            
             border: 0px solid red;
         }
         .auto-style15 {
             position: absolute;
             top: 404px;
             left: 1321px;
             right: 124px;
             width: 358px;
              font-family:Arial;
             font-size:x-large;
             font-weight:bold;
             color:black;
             text-align:left;
             border: 0px solid red;
             height: 68px;
         }
         .auto-style16 {
             position: absolute;
             top: 530px;
             left: 1520px;
             right: 137px;
             width: 114px;
               font-family:Arial;
             font-size:large;
             font-weight:bold;
             color:black;
             text-align:left;
             border: 0px solid red;
             height: 18px;
         }
         .auto-style17 {
             position: absolute;
             top: 623px;
             left: 1525px;
             right: 122px;
             width: 114px;
                font-family:Arial;
             font-size:large;
             font-weight:bold;
             color:black;
             text-align:left;
             border: 0px solid red;
         }
         .auto-style18 {
             position: absolute;
             top: 795px;
             left: 1334px;
             right: 379px;
             width: 122px;
             text-align: left;
             border: 0px solid red;
         }

         
        .auto-style21 {
            position: absolute;
            top: 282px;
            left: 1290px;
            right: 261px;
            width: 312px;
            text-align: left;
            border:0px solid red;
            height: 30px;
            font-family:Arial;
            font-size:x-large;
            font-weight:bold;
            color:darkgray;
            text-align:left;
        }

        .auto-style22 {
            position: absolute;
            top: 369px;
            left: 1292px;
            right: 199px;
            width: 312px;
            text-align: left;
            border:0px solid red;
            height: 30px;
            font-family:Arial;
            font-size:x-large;
            font-weight:bold;
            color:darkgray;
            text-align:left;
        }

        .auto-style23 {
            position: absolute;
            top: 499px;
            left: 1292px;
            right: 307px;
            width: 172px;
            text-align: left;
            border:0px solid red;
            height: 30px;
            font-family:Arial;
            font-size:large;
            font-weight:bold;
            color:darkgray;
            text-align:left;
        }

        .auto-style24 {
            position: absolute;
            top: 499px;
            left: 1492px;
            right: 307px;
            width: 172px;
            text-align: left;
            border:0px solid red;
            height: 30px;
            font-family:Arial;
            font-size:large;
            font-weight:bold;
            color:darkgray;
           
        }

        .auto-style25 {
            position: absolute;
            top: 590px;
            left: 1498px;
            right: 91px;
            width: 172px;
            text-align: left;
            border:0px solid red;
            height: 30px;
            font-family:Arial;
            font-size:large;
            font-weight:bold;
            color:darkgray;
           
        }

        .auto-style26 {
            position: absolute;
            top: 669px;
            left: 1499px;
            right: 90px;
            width: 172px;
            text-align: left;
            border:0px solid red;
            height: 18px;
            font-family:Arial;
            font-size:medium;
            font-style:italic;
            font-weight:bold;
            color:darkgray;
        }
  
         .auto-style27 {
             position: absolute;
             top: 683px;
             left: 1526px;
             right: 94px;
             width: 160px;
             font-family:Arial;
             font-size:medium;
             font-weight:bold;
             font-style:italic;
             color:black;
             text-align:left;
             border: 0px solid red;
             margin-top: 7px;
         }

         .auto-style30 {
            position: absolute;
            top: 597px;
            left: 1292px;
            right: 285px;
            width: 192px;
             height: 173px;
             border:1px solid darkgray;
         }

          .auto-style32 {
            position: absolute;
            top: 583px;
            left: 1302px;
            right: 297px;
            width: 172px;
            text-align: left;
            border:0px solid red;
            height: 18px;
            font-family:Arial;
            font-size:small;
            font-weight:bold;
            color:darkgray;
            text-align:left;
        }
    
     </style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="laburlgooglemap" runat="server" Text="" Visible="false"></asp:Label>
        <div style="position:absolute; top:0; left:0;">
		    <img src="images/FondoCIPOC_III.png" id="fondo" style="background-repeat:no-repeat; " class="auto-style12" />
	    </div>
        <div class="auto-style8">
            <asp:image runat="server" id="imgSelfie" ImagenUrl="#" width="110px" height="110px" ImageAlign="AbsMiddle" BorderStyle="Solid" BorderColor="Gray" BorderWidth="1"  />      
        </div>
        <div class="auto-style7">
            <asp:image runat="server" id="imgCedula" ImagenUrl="#" width="253px" height="123px" ImageAlign="AbsMiddle" BorderStyle="Solid" BorderColor="Gray" BorderWidth="1"  />  
        </div>

        <div class="auto-style21">
            <asp:Label ID="Label1" runat="server" width="311px" Text="Documento Verificado"></asp:Label>
        </div>
        <div class="auto-style13">
            <asp:Label ID="labTypeIdValueId" runat="server" Text="RUT 21284415-2"></asp:Label>
        </div>
        
         <div class="auto-style22">
            <asp:Label ID="Label2" runat="server" width="311px" Text="Nombre"></asp:Label>
        </div>
        <div class="auto-style15">    
            <asp:Label ID="LabNombre" runat="server" Text="Gustavo Gerardo Suhit Gallucci"></asp:Label>
        </div>

         <div class="auto-style23">
            <asp:Label ID="Label3" runat="server" width="171px" Text="Fecha Nacimiento"></asp:Label>
        </div>
        <div class="auto-style14">
            <asp:Label ID="labFechaNac" runat="server" Text="28/09/1969"></asp:Label>
        </div>
        
        <div class="auto-style18">
            <asp:Button ID="btnVolver" runat="server" BackColor="#0099CC" Font-Bold="True" Font-Size="Medium" ForeColor="White" Text="Volver" Width="119px" OnClick="btnVolver_Click" />
        </div>

         <div class="auto-style24">
            <asp:Label ID="LabelExpiracion" runat="server" width="171px" Text="Fecha Expiración"></asp:Label>
        </div>
        <div class="auto-style16">
            <asp:Label ID="labExpirationDay" runat="server" Text="17/08/2025"></asp:Label>
        </div>

        <div class="auto-style25">
            <asp:Label ID="Label4" runat="server" width="171px" Text="Nacionalidad"></asp:Label>
        </div>
        <div class="auto-style17">
            <asp:Label ID="labNacionality" runat="server" Text="ARG"></asp:Label>
        </div>

        <div class="auto-style26">
            <asp:Label ID="Label5" runat="server" width="171px" Text="Score" Height="16px"></asp:Label>
        </div>
        <div class="auto-style27">
            <asp:Label ID="labScore" runat="server" Text="0,5465856"></asp:Label>
        </div>

        <div class="auto-style32">
            <asp:Label ID="Label6" runat="server" width="171px" Text="Ubicación Generación CI"></asp:Label>
        </div>
        <div class="auto-style30">
              <asp:image runat="server" id="imgMap" ImagenUrl="#" 
                    width="192px" height="173px" ImageAlign="AbsMiddle" BorderStyle="Solid" BorderColor="Gray" BorderWidth="1"  />
         </div>

         <div class="auto-style11">
             <asp:HyperLink  runat="server" ID="linkPdf" border="0" NavigateUrl="#"  Height="30px" ImageUrl="~/poc/images/transparente.png" ImageHeight="30px" Width="112px"></asp:HyperLink>
           
         </div>
         

    </form>
</body>
</html>
