﻿body {
}

.auto-style1 {
    width: 210px;
    height: 78px;
}

.auto-style2 {
    width: 225px;
    height: 143px;
}

.title {
    font-family: "Arial Black";
    font-size: xx-large;
    font-weight: bold;
    color: #808080;
}

.subtitle {
    font-family: "Arial";
    font-size: large;
    font-weight: normal;
    color: #808080;
}

.subtitle2 {
    font-family: "Arial";
    font-size: large;
    font-weight: normal;
    color: Highlight;
}

.auto-style3 {
    width: 800px;
    height: 400px;
}