﻿@model WebNV.Models.Admin.GeoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        Listado Geo
        <div class="btn-group pull-right">
            <a href="@Url.Action("Create")" class="btn btn-default   ">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>Agregar país</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <ul>
                @foreach (BCR.Bio.Domain.Country country in Model.Countries)
                {
                    <li>
                        <label>
                            @country.Description
                            <a href="javascript:addDepartment(@country.Id,'@country.Description')" class="btn btn-default ">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                            <a href="" class="btn btn-default ">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="" class="btn btn-default ">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </label>
                        <ul>

                            @foreach (BCR.Bio.Domain.Dept Dept in country.Depts)
                            {
                                <li>
                                    <label class="tree-toggler ">
                                        @Dept.Description
                                        <a href="javascript:addCity(@Dept.Id,'@Dept.Description')" class="btn btn-default ">
                                            <i class="glyphicon glyphicon-plus-sign"></i>
                                        </a>
                                        <a href="" class="btn btn-default ">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                        <a href="" class="btn btn-default ">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </label>

                                    <ul>

                                        @foreach (BCR.Bio.Domain.City city in Dept.Cities)
                                        {
                                            <li>
                                                <label>
                                                    @city.Description
                                                    <a href="" class="btn btn-default ">
                                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </a>
                                                    <a href="" class="btn btn-default ">
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </a>
                                                    <a href="" class="btn btn-default ">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                </label>
                                                <ul>

                                                    @foreach (BCR.Bio.Domain.Town town in city.Towns)
                                                    {
                                                        <li>
                                                            <label>
                                                                @town.Description
                                                                <a href="" class="btn btn-default ">
                                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                                </a>
                                                                <a href="" class="btn btn-default ">
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                </a>
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts
 {
    <script type="text/javascript">
        var UrlAddCity = '@Url.Action("AddCity","Geo")';

        function addDepartment(parentId, countryName) {
            alert('Agregar Depto a ' + countryName);
        }

        function addCity(parentId, departmentName) {

            swal({ title: "Ingrese ciudad", text: "Dentro del departamento " + departmentName, type: "input", showCancelButton: true, closeOnConfirm: false, animation: "slide-from-top", inputPlaceholder: "" },
                function (inputValue) {
                    if (inputValue === false)
                        return false;

                    if (inputValue === "") {
                        swal.showInputError("Ingrese descripción");
                        return false
                    }

                    addCityEx(parentId, departmentName, inputValue);
                });
        }

        function addCityEx(parentId, departmentName, cityName) {
            var urlAction = UrlAddCity + "?parentId=" + parentId + "&cityName=" + cityName;
            $.ajax({
                dataType: "json",
                url: urlAction
            }).done(function () {
                swal("Agregado", "Se agregó " + cityName, "success");
            });

        }
    </script>
}